<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/without-finetuning/askApatient_5_pretraining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
curl: (60) SSL certificate problem: certificate has expired
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. To learn more about this situation and
how to fix it, please visit the web page mentioned above.

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
Unpacking objects: 100% (9/9), done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-1.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [50]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-1.validation.csv",header=None)
valid.head()

   0                                            1
0  0                                         fear
1  2                                   heels hurt
2  4  Discoloration of skin [blotchy] on the neck
3  6                        diastolic dysfunction
4  8                                    arthritis

In [51]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-1.test.csv",header=None)
test.head()

   0                          1
0  2                  heel pain
1  2  right heel became painful
2  8                  Arthritis
3  8                 arthristis
4  8                  arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_asapatient_twadr_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
# learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [0]:
# learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
# learn.save_encoder('bigtweet_fold0_first')

In [65]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
# learn.load_encoder('bigtweet_fold0_first')
learn.fit_one_cycle(1, 1e-2)

In [66]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [67]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [68]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [69]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [70]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [71]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [72]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [73]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [74]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [75]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [76]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [77]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [78]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [79]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [80]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-5-tuning-ask-twadr')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [83]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

867
867
[2, 2, 8, 955, 8, 8, 837, 16, 20, 21, 92, 246, 27, 31, 36, 79, 37, 37, 37, 37, 301, 37, 741, 741, 37, 524, 42, 42, 44, 125, 325, 49, 806, 49, 49, 49, 49, 260, 53, 53, 53, 781, 60, 61, 62, 613, 70, 972, 71, 122, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 289, 79, 508, 80, 781, 80, 80, 80, 80, 491, 79, 88, 137, 281, 92, 92, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 717, 365, 234, 100, 584, 337, 337, 577, 100, 100, 214, 620, 58, 620, 265, 103, 103, 105, 214, 107, 108, 108, 111, 111, 462, 111, 111, 111, 111, 111, 182, 111, 114, 399, 413, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 509, 524, 624, 635, 135, 135, 135, 139, 139, 972, 142, 569, 461, 146, 158, 166, 166, 166, 427, 171, 172, 289, 289, 172, 172, 173, 173, 173, 822, 32, 524, 182, 832, 182, 182, 182, 182, 182, 182, 265, 289, 183, 183, 183, 183, 183, 183, 183, 184, 187, 187, 187, 187, 1007, 189, 190, 190, 190, 193, 193, 197, 878, 200, 202, 205, 205, 205, 652, 214, 214, 214, 214, 214, 214, 214, 214, 218, 220, 220, 223, 223, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 236, 236, 239, 239, 241, 243, 243, 243, 243, 245, 245, 366, 245, 245, 246, 246, 582, 1016, 281, 865, 254, 260, 262, 264, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 1016, 8, 276, 323, 277, 443, 280, 281, 281, 281, 281, 289, 289, 289, 289, 289, 289, 235, 79, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 372, 293, 122, 717, 298, 378, 232, 220, 309, 309, 309, 309, 556, 378, 588, 79, 318, 220, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 80, 963, 325, 326, 235, 525, 332, 332, 332, 22, 337, 343, 343, 265, 58, 135, 98, 359, 359, 16, 794, 359, 794, 378, 363, 289, 364, 364, 364, 289, 1016, 378, 249, 614, 386, 659, 391, 391, 391, 394, 396, 396, 397, 871, 402, 402, 186, 532, 969, 408, 408, 408, 408, 408, 1016, 1007, 415, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 421, 424, 426, 426, 426, 597, 427, 427, 427, 427, 427, 427, 427, 265, 235, 878, 427, 527, 334, 558, 435, 79, 446, 440, 441, 443, 391, 668, 235, 174, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 456, 460, 469, 470, 470, 169, 474, 475, 475, 475, 479, 8, 486, 489, 491, 235, 29, 491, 491, 662, 492, 1016, 495, 495, 496, 497, 140, 507, 507, 41, 516, 517, 517, 517, 90, 41, 704, 861, 524, 530, 530, 530, 530, 530, 491, 1016, 809, 940, 371, 541, 325, 545, 545, 545, 1032, 548, 548, 548, 549, 434, 569, 652, 8, 279, 590, 590, 16, 79, 592, 592, 707, 427, 745, 610, 569, 610, 610, 610, 151, 614, 614, 614, 614, 614, 614, 614, 623, 623, 214, 625, 188, 865, 644, 794, 99, 646, 646, 652, 652, 652, 652, 289, 378, 265, 662, 865, 865, 662, 378, 664, 666, 378, 567, 682, 686, 686, 218, 700, 860, 238, 265, 252, 711, 711, 711, 393, 205, 714, 714, 715, 717, 70, 426, 878, 741, 745, 541, 746, 455, 746, 752, 803, 686, 769, 771, 772, 182, 806, 701, 205, 419, 775, 775, 775, 775, 783, 265, 582, 71, 799, 803, 238, 686, 809, 607, 810, 871, 222, 826, 826, 826, 378, 830, 830, 830, 979, 830, 834, 289, 840, 840, 847, 597, 794, 142, 853, 853, 529, 363, 747, 584, 289, 873, 948, 862, 301, 877, 877, 877, 878, 878, 878, 755, 129, 469, 365, 696, 214, 214, 897, 860, 897, 897, 337, 904, 904, 910, 919, 919, 923, 323, 927, 307, 930, 973, 79, 936, 936, 937, 937, 937, 937, 937, 937, 937, 937, 937, 937, 142, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 238, 525, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 955, 216, 957, 958, 961, 963, 964, 967, 969, 974, 974, 976, 976, 976, 79, 79, 983, 983, 984, 745, 1006, 1008, 1016, 1026, 1028]
[2, 2, 8, 8, 8, 8, 8, 16, 20, 21, 22, 25, 27, 31, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 42, 42, 44, 45, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 59, 60, 61, 62, 65, 70, 71, 71, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 81, 83, 88, 89, 90, 92, 92, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 97, 98, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 103, 103, 105, 107, 107, 108, 108, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 114, 117, 120, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 130, 130, 134, 135, 135, 135, 139, 139, 141, 142, 145, 146, 146, 158, 166, 166, 166, 169, 171, 172, 172, 172, 172, 172, 173, 173, 173, 180, 180, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 184, 187, 187, 187, 187, 189, 189, 190, 190, 190, 193, 193, 197, 197, 200, 202, 205, 205, 205, 209, 214, 214, 214, 214, 214, 214, 214, 214, 218, 220, 220, 223, 223, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 236, 236, 239, 239, 241, 243, 243, 243, 243, 245, 245, 245, 245, 245, 246, 246, 246, 246, 247, 251, 254, 260, 262, 264, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 269, 269, 276, 277, 277, 279, 280, 281, 281, 281, 281, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 290, 293, 294, 298, 298, 299, 302, 304, 309, 309, 309, 309, 315, 317, 318, 318, 318, 324, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 328, 330, 332, 332, 332, 336, 337, 343, 343, 352, 352, 355, 357, 359, 359, 359, 359, 359, 360, 360, 363, 364, 364, 364, 364, 367, 374, 374, 376, 384, 386, 386, 391, 391, 391, 394, 396, 396, 397, 400, 402, 402, 402, 403, 407, 408, 408, 408, 408, 408, 410, 415, 415, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 421, 424, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 428, 428, 432, 435, 435, 438, 440, 441, 443, 444, 444, 444, 448, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 456, 460, 469, 470, 470, 473, 474, 475, 475, 475, 479, 481, 486, 489, 491, 491, 491, 491, 491, 491, 492, 495, 495, 495, 496, 497, 499, 507, 507, 515, 516, 517, 517, 517, 517, 520, 522, 524, 524, 530, 530, 530, 530, 530, 536, 536, 537, 538, 540, 541, 544, 545, 545, 545, 548, 548, 548, 548, 549, 550, 569, 572, 577, 577, 590, 590, 592, 592, 592, 592, 595, 597, 598, 610, 610, 610, 610, 610, 613, 614, 614, 614, 614, 614, 614, 614, 623, 623, 624, 625, 628, 644, 644, 644, 644, 646, 646, 652, 652, 652, 652, 655, 659, 660, 662, 662, 662, 662, 664, 664, 666, 674, 680, 682, 686, 686, 694, 700, 702, 703, 704, 710, 711, 711, 711, 712, 714, 714, 714, 715, 717, 729, 735, 741, 741, 745, 746, 746, 746, 746, 752, 753, 765, 769, 771, 772, 773, 775, 775, 775, 775, 775, 775, 775, 775, 783, 787, 790, 793, 799, 803, 806, 808, 809, 809, 810, 813, 815, 826, 826, 826, 827, 830, 830, 830, 830, 830, 834, 840, 840, 841, 847, 847, 847, 852, 853, 857, 858, 860, 861, 863, 864, 873, 874, 875, 876, 877, 877, 877, 878, 878, 878, 886, 889, 893, 893, 895, 896, 896, 896, 896, 896, 896, 896, 904, 904, 910, 919, 919, 923, 925, 927, 928, 930, 932, 933, 936, 936, 937, 937, 937, 937, 937, 937, 937, 937, 937, 937, 939, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 955, 955, 957, 958, 961, 963, 964, 967, 968, 974, 974, 976, 976, 976, 980, 983, 983, 983, 984, 994, 1006, 1008, 1023, 1026, 1028]

In [84]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

634
0.7312572087658593