<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/without-finetuning/askApatient_8_pretraining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
curl: (60) SSL certificate problem: certificate has expired
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. To learn more about this situation and
how to fix it, please visit the web page mentioned above.

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-8.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [11]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-8.validation.csv",header=None)
valid.head()

   0                              1
0  0                scared to death
1  2                      heel pain
2  5           increased heart rate
3  6  stage 1 diastolic dysfunction
4  8                      arthritis

In [12]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-8.test.csv",header=None)
test.head()

   0                       1
0  1          Abdominal rash
1  5  increase my heart rate
2  5             tachycardia
3  8               arthritis
4  8               arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_asapatient_twadr_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
# learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [0]:
# learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
# learn.save_encoder('bigtweet_fold0_first')

In [26]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
# learn.load_encoder('bigtweet_fold0_first')
learn.fit_one_cycle(1, 1e-2)

In [27]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [28]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [29]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [42]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-7-tuning-ask-twadr')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [45]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[623, 788, 5, 8, 8, 8, 12, 20, 750, 27, 491, 491, 31, 220, 34, 107, 228, 37, 37, 37, 37, 37, 805, 1016, 49, 446, 49, 49, 375, 826, 49, 53, 53, 53, 53, 53, 60, 60, 60, 70, 805, 76, 76, 79, 79, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 80, 80, 80, 80, 85, 87, 91, 91, 91, 94, 94, 94, 94, 499, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 383, 343, 94, 234, 805, 100, 100, 100, 100, 100, 100, 100, 98, 105, 108, 108, 108, 228, 111, 289, 111, 111, 111, 111, 111, 111, 111, 289, 220, 117, 689, 777, 125, 125, 125, 125, 125, 125, 125, 125, 125, 563, 126, 518, 127, 135, 94, 805, 563, 387, 268, 137, 794, 142, 979, 151, 151, 152, 157, 729, 67, 165, 166, 166, 771, 129, 814, 289, 172, 173, 173, 181, 762, 182, 182, 182, 182, 289, 698, 530, 183, 183, 183, 183, 183, 183, 183, 184, 184, 289, 794, 187, 187, 187, 228, 189, 289, 190, 190, 190, 190, 190, 190, 190, 190, 193, 659, 202, 206, 206, 210, 210, 877, 214, 214, 214, 214, 877, 877, 214, 214, 214, 214, 877, 214, 291, 80, 220, 220, 220, 220, 223, 224, 66, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 509, 228, 228, 234, 234, 234, 234, 234, 235, 235, 236, 236, 238, 238, 805, 242, 601, 243, 243, 243, 243, 805, 194, 90, 245, 608, 245, 245, 245, 245, 245, 276, 252, 254, 746, 260, 260, 228, 265, 265, 660, 265, 265, 265, 265, 228, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 79, 265, 265, 265, 318, 289, 595, 269, 277, 277, 277, 280, 289, 289, 289, 289, 289, 76, 289, 228, 289, 289, 289, 289, 289, 289, 289, 289, 289, 864, 291, 780, 291, 289, 289, 37, 79, 300, 359, 359, 301, 37, 649, 98, 304, 220, 351, 309, 309, 309, 309, 205, 309, 309, 37, 318, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 326, 329, 332, 332, 827, 336, 734, 236, 343, 343, 129, 4, 762, 352, 402, 359, 359, 683, 797, 391, 445, 530, 204, 401, 337, 402, 402, 402, 746, 383, 408, 805, 28, 37, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 899, 424, 424, 424, 426, 426, 427, 427, 615, 427, 427, 427, 427, 427, 427, 427, 427, 289, 427, 73, 763, 238, 258, 441, 447, 449, 735, 453, 454, 455, 455, 291, 455, 455, 455, 455, 499, 459, 460, 462, 463, 469, 470, 289, 107, 794, 98, 794, 475, 878, 475, 794, 614, 491, 491, 491, 491, 491, 166, 491, 220, 624, 495, 495, 503, 503, 734, 513, 220, 517, 357, 517, 756, 523, 524, 524, 527, 530, 530, 530, 517, 531, 546, 548, 548, 537, 217, 491, 574, 578, 579, 580, 584, 103, 590, 590, 325, 592, 592, 594, 595, 762, 597, 272, 610, 614, 614, 614, 614, 228, 479, 617, 619, 622, 623, 623, 624, 633, 76, 809, 650, 646, 646, 734, 648, 419, 289, 652, 652, 652, 876, 662, 662, 665, 676, 445, 291, 289, 265, 265, 301, 265, 289, 707, 556, 716, 717, 563, 723, 696, 608, 537, 741, 741, 289, 289, 289, 542, 750, 749, 76, 759, 893, 763, 764, 609, 773, 774, 37, 775, 775, 315, 289, 775, 777, 778, 574, 350, 781, 813, 220, 991, 794, 794, 794, 226, 950, 806, 217, 809, 809, 809, 530, 810, 810, 812, 820, 826, 826, 830, 830, 830, 830, 830, 532, 830, 830, 830, 446, 814, 834, 834, 840, 783, 847, 615, 847, 304, 805, 852, 852, 853, 853, 853, 853, 98, 861, 750, 289, 159, 189, 33, 358, 876, 479, 877, 877, 877, 289, 896, 896, 896, 896, 896, 896, 805, 805, 904, 904, 904, 904, 220, 269, 779, 912, 934, 937, 937, 937, 937, 937, 937, 937, 937, 220, 937, 941, 220, 220, 943, 325, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 120, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 950, 950, 955, 955, 194, 964, 964, 805, 965, 966, 173, 949, 949, 976, 805, 597, 980, 120, 120, 805, 997, 999, 794, 1001, 1001, 1004, 1004, 1005, 1016, 1026, 794, 1026, 1026, 1026, 1026, 1026, 1026, 402, 120, 805, 1028, 1028, 1029]
[1, 5, 5, 8, 8, 8, 12, 20, 26, 27, 29, 29, 31, 31, 34, 34, 34, 37, 37, 37, 37, 37, 42, 43, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 53, 53, 60, 60, 60, 70, 74, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 85, 87, 91, 91, 91, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 98, 99, 100, 100, 100, 100, 100, 100, 100, 103, 105, 108, 108, 108, 110, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 112, 117, 118, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 126, 127, 127, 135, 135, 135, 135, 136, 137, 137, 139, 142, 151, 151, 151, 152, 157, 159, 164, 165, 166, 166, 166, 172, 172, 172, 172, 173, 173, 181, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 184, 184, 185, 187, 187, 187, 187, 188, 189, 190, 190, 190, 190, 190, 190, 190, 190, 190, 193, 194, 202, 206, 206, 210, 210, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 218, 218, 220, 220, 220, 220, 223, 224, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 234, 234, 234, 234, 235, 235, 236, 236, 238, 238, 239, 242, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 250, 252, 254, 257, 260, 260, 263, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 266, 269, 277, 277, 277, 280, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 291, 291, 291, 293, 293, 293, 293, 300, 301, 301, 301, 301, 303, 304, 304, 307, 309, 309, 309, 309, 309, 309, 309, 310, 318, 318, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 326, 329, 332, 332, 334, 336, 337, 337, 343, 343, 343, 349, 350, 352, 358, 359, 359, 373, 375, 391, 391, 394, 398, 401, 402, 402, 402, 402, 405, 406, 408, 413, 414, 415, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 423, 424, 424, 424, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 429, 434, 439, 441, 447, 449, 451, 453, 454, 455, 455, 455, 455, 455, 455, 455, 459, 459, 460, 462, 463, 469, 470, 471, 471, 473, 474, 475, 475, 475, 475, 478, 479, 491, 491, 491, 491, 491, 491, 491, 492, 494, 495, 495, 503, 503, 503, 513, 516, 517, 517, 517, 519, 523, 524, 524, 527, 530, 530, 530, 531, 531, 546, 548, 548, 557, 558, 561, 574, 578, 579, 580, 584, 587, 590, 590, 591, 592, 592, 594, 595, 596, 597, 603, 610, 614, 614, 614, 614, 614, 615, 617, 619, 622, 623, 623, 624, 633, 637, 641, 646, 646, 646, 647, 648, 651, 651, 652, 652, 652, 652, 662, 662, 664, 681, 693, 695, 700, 701, 701, 704, 704, 704, 707, 711, 716, 717, 721, 723, 723, 726, 738, 741, 741, 741, 741, 741, 746, 749, 749, 751, 759, 761, 763, 764, 767, 773, 774, 775, 775, 775, 775, 775, 775, 777, 778, 779, 779, 781, 786, 788, 794, 794, 794, 794, 803, 806, 806, 808, 809, 809, 809, 809, 810, 810, 812, 820, 826, 826, 830, 830, 830, 830, 830, 830, 830, 830, 830, 831, 833, 834, 834, 840, 841, 847, 847, 847, 848, 852, 852, 852, 853, 853, 853, 853, 853, 861, 861, 864, 865, 870, 871, 872, 876, 876, 877, 877, 877, 889, 896, 896, 896, 896, 896, 896, 900, 900, 904, 904, 904, 904, 905, 907, 910, 912, 934, 937, 937, 937, 937, 937, 937, 937, 937, 937, 937, 941, 941, 941, 943, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 950, 950, 955, 955, 963, 964, 964, 964, 965, 966, 967, 970, 973, 976, 978, 979, 980, 983, 983, 989, 997, 999, 1001, 1001, 1001, 1004, 1004, 1005, 1016, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1027, 1028, 1028, 1028, 1029]

In [46]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

596
0.6882217090069284