<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/without-finetuning/twadr_5_pretraining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:--  0:00:05 --:--:--     0
curl: (60) SSL certificate problem: certificate has expired
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. To learn more about this situation and
how to fix it, please visit the web page mentioned above.

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'TwADR-L.fold-5.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [139]:
# validating data set

valid = pd.read_csv(path/"TwADR-L.fold-5.validation.csv",header=None)
valid.head()

    0                                 1
0  13                          Insomnia
1  13  awake in the middle of the night
2  57             hypertrophic scarring
3  85                            tremor
4  94                           anxiety

In [140]:
# testing data set

test = pd.read_csv(path/"TwADR-L.fold-5.test.csv",header=None)
test.head()

     0              1
0   13   up all night
1   13       insomnia
2   93       shooting
3  133  night terrors
4  231  lucid dreamer

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_asapatient_twadr_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
# learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [0]:
# learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
# learn.save_encoder('bigtweet_fold0_first')

In [154]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
# learn.load_encoder('bigtweet_fold0_first')
learn.fit_one_cycle(1, 1e-2)

In [155]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [156]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [157]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [158]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [159]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [160]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [161]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [162]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [163]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [164]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [165]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [166]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [167]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [168]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [169]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [170]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [171]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [172]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [173]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [174]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [175]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [176]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [177]:
learn.fit_one_cycle(2, slice(2e-3/1000, 2e-3))

In [178]:
learn.fit_one_cycle(1, slice(2e-3/1000, 2e-3))

In [179]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [180]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [181]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [182]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [183]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-7-tuning-ask-twadr')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [186]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
print(labels)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

tensor([ 114, 1787, 1099,  133,  231,  233, 2147,  249,  300, 1099,  945, 1981,
         446,  532,  550, 1373,  582,  749,  644, 2081,  852,  749,  749, 1597,
        1597, 1597,  974,  792,  792,  813,  326, 1884, 1308,  441, 1278,  858,
        1099,  974,  974,  974,  978,  978,  978,  978,  978,  978,  203,  452,
        2149, 1099, 1099, 1099, 1295, 1136, 1295, 1295, 1192,  561, 1062, 1227,
        1295, 1295, 1295, 1308, 1340,  441,  706,  452, 1099, 1507, 1507,  809,
        1099, 1341, 1508, 1099,  224,  426, 1526, 1998, 1706, 1099, 1163, 1356,
        1597, 1597, 1099,  706, 1227, 1610, 1610, 1227, 1099, 1048, 1099,  749,
        1711, 1767, 1767, 1767, 1727, 1727, 2026, 1767, 1669, 1767, 1727, 1767,
        1073, 1099,  446, 1482, 1295, 1295, 1787, 1787, 1787,  923, 1815, 1815,
        1356, 1099,  792, 1936, 1936, 1942, 1295, 1341, 1798, 1925,  858, 1787,
        2032, 1787,  189, 2081, 2103, 1062, 1787, 2147, 2032,  667, 1998])
143
143
[114, 1787, 1099, 133, 231, 233, 2147, 249, 300, 1099, 945, 1981, 446, 532, 550, 1373, 582, 749, 644, 2081, 852, 749, 749, 1597, 1597, 1597, 974, 792, 792, 813, 326, 1884, 1308, 441, 1278, 858, 1099, 974, 974, 974, 978, 978, 978, 978, 978, 978, 203, 452, 2149, 1099, 1099, 1099, 1295, 1136, 1295, 1295, 1192, 561, 1062, 1227, 1295, 1295, 1295, 1308, 1340, 441, 706, 452, 1099, 1507, 1507, 809, 1099, 1341, 1508, 1099, 224, 426, 1526, 1998, 1706, 1099, 1163, 1356, 1597, 1597, 1099, 706, 1227, 1610, 1610, 1227, 1099, 1048, 1099, 749, 1711, 1767, 1767, 1767, 1727, 1727, 2026, 1767, 1669, 1767, 1727, 1767, 1073, 1099, 446, 1482, 1295, 1295, 1787, 1787, 1787, 923, 1815, 1815, 1356, 1099, 792, 1936, 1936, 1942, 1295, 1341, 1798, 1925, 858, 1787, 2032, 1787, 189, 2081, 2103, 1062, 1787, 2147, 2032, 667, 1998]
[13, 13, 93, 133, 231, 233, 233, 249, 300, 362, 396, 418, 441, 532, 550, 582, 582, 596, 644, 744, 745, 749, 749, 791, 791, 791, 792, 792, 792, 813, 815, 818, 822, 852, 857, 858, 974, 974, 974, 974, 978, 978, 978, 978, 978, 982, 1007, 1019, 1054, 1073, 1099, 1099, 1099, 1136, 1142, 1175, 1192, 1227, 1227, 1227, 1295, 1295, 1295, 1308, 1340, 1341, 1356, 1356, 1373, 1432, 1432, 1458, 1463, 1507, 1508, 1519, 1521, 1526, 1526, 1529, 1529, 1545, 1594, 1597, 1597, 1597, 1610, 1610, 1610, 1610, 1610, 1610, 1616, 1669, 1706, 1711, 1711, 1718, 1718, 1718, 1718, 1718, 1767, 1767, 1767, 1767, 1767, 1767, 1767, 1769, 1787, 1787, 1787, 1787, 1787, 1787, 1787, 1813, 1815, 1815, 1833, 1877, 1925, 1936, 1936, 1942, 1942, 1973, 1974, 2017, 2017, 2032, 2032, 2032, 2048, 2081, 2103, 2147, 2147, 2147, 2149, 2149, 2194]

In [187]:
correct_num = 0

for i in range(0, 143):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

55
0.38461538461538464