<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/without-finetuning/twadr_4_pretraining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
curl: (60) SSL certificate problem: certificate has expired
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. To learn more about this situation and
how to fix it, please visit the web page mentioned above.

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'TwADR-L.fold-4.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [59]:
# validating data set

valid = pd.read_csv(path/"TwADR-L.fold-4.validation.csv",header=None)
valid.head()

     0                          1
0   61                very stupid
1   74            useless without
2   93                   shooting
3  195   makes me so damn bloated
4  231  gives me man vivid dreams

In [60]:
# testing data set

test = pd.read_csv(path/"TwADR-L.fold-4.test.csv",header=None)
test.head()

    0            1
0  13     insomnia
1  13     insomnia
2  56  painful b..
3  62    hypomanic
4  84   paraplegic

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_asapatient_twadr_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
# learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [0]:
# learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
# learn.save_encoder('bigtweet_fold0_first')

In [74]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
# learn.load_encoder('bigtweet_fold0_first')
learn.fit_one_cycle(1, 1e-2)

In [75]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [76]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [77]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [78]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [79]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [80]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [81]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [82]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [83]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [84]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [85]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [86]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [87]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [88]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [89]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [90]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [91]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [92]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [93]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [94]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [95]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [96]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [101]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [106]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [111]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [117]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [118]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [119]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [120]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [121]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [126]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [127]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [128]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [129]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [130]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [131]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [132]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [133]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('TwADR-L.fold-4')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [136]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

143
143
[1787, 1787, 393, 858, 792, 109, 1463, 189, 189, 301, 231, 1936, 233, 233, 1787, 393, 1136, 2149, 998, 2010, 2002, 187, 1463, 858, 1290, 1432, 1064, 1064, 97, 1597, 792, 1484, 809, 809, 858, 824, 908, 1463, 1813, 97, 154, 301, 604, 978, 978, 978, 978, 978, 978, 301, 1828, 1089, 1815, 1099, 1296, 301, 1815, 1136, 132, 1145, 1427, 1427, 2010, 301, 301, 1718, 85, 1463, 24, 1265, 857, 301, 1308, 1227, 1815, 1340, 1340, 1936, 104, 1511, 1764, 2010, 1526, 1529, 1597, 1682, 1163, 1296, 1597, 924, 1597, 2010, 792, 1610, 1610, 1610, 1610, 978, 1073, 1787, 97, 1103, 1701, 1463, 286, 393, 1718, 1718, 1787, 877, 1718, 1815, 1578, 1815, 858, 858, 97, 1857, 359, 825, 1484, 1936, 1936, 1463, 393, 1463, 1463, 301, 1787, 189, 1508, 2023, 393, 2103, 2014, 2119, 2147, 1546, 1787, 2147, 1936, 1787, 2149]
[13, 13, 56, 62, 84, 109, 189, 189, 189, 230, 231, 233, 233, 233, 393, 393, 396, 418, 418, 452, 452, 483, 561, 596, 712, 729, 749, 749, 750, 791, 792, 792, 809, 809, 813, 824, 908, 908, 923, 933, 936, 945, 974, 978, 978, 978, 978, 978, 978, 978, 1073, 1089, 1099, 1099, 1099, 1099, 1099, 1136, 1136, 1145, 1150, 1150, 1164, 1184, 1184, 1196, 1204, 1214, 1230, 1265, 1278, 1295, 1308, 1327, 1340, 1340, 1340, 1340, 1373, 1508, 1508, 1511, 1526, 1529, 1531, 1531, 1594, 1595, 1597, 1597, 1597, 1610, 1610, 1610, 1610, 1610, 1610, 1661, 1669, 1669, 1676, 1680, 1701, 1701, 1706, 1711, 1718, 1718, 1727, 1727, 1767, 1767, 1783, 1787, 1787, 1787, 1813, 1857, 1873, 1884, 1884, 1936, 1936, 1942, 2002, 2014, 2026, 2032, 2032, 2048, 2077, 2084, 2097, 2103, 2109, 2119, 2147, 2147, 2147, 2147, 2149, 2173, 2194]

In [137]:
correct_num = 0

for i in range(0, 143):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

44
0.3076923076923077