<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_5_tuning_bigtweet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0   1292      0 --:--:-- --:--:-- --:--:--  1298
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-5.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [11]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-5.validation.csv",header=None)
valid.head()

   0                       1
0  2               heel pain
1  2               heel pain
2  5  increase my heart rate
3  5             tachycardia
4  8        severe arthritis

In [12]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-5.test.csv",header=None)
test.head()

   0                      1
0  0                   fear
1  0        scared to death
2  2              heel pain
3  2             heels hurt
4  2  pain in my right heel

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_bigtweet_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [17]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [21]:
learn.fit_one_cycle(1, 1e-2)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-3)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('bigtweet_fold5_first')

In [26]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('bigtweet_fold5_first')
learn.fit_one_cycle(1, 1e-2)

In [27]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [28]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [29]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-5-tuning-bigtweet')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [43]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[847, 234, 182, 182, 698, 1026, 1026, 1026, 1026, 16, 16, 16, 71, 27, 545, 27, 1035, 197, 175, 289, 864, 864, 1035, 1035, 775, 37, 1026, 48, 480, 214, 49, 49, 214, 214, 53, 155, 155, 1035, 214, 517, 517, 715, 246, 1035, 427, 129, 209, 289, 741, 289, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 517, 517, 517, 80, 80, 788, 269, 521, 847, 92, 269, 517, 517, 94, 94, 94, 1035, 228, 769, 517, 98, 100, 809, 100, 298, 100, 265, 265, 28, 265, 1035, 517, 715, 289, 1035, 715, 182, 1035, 741, 730, 604, 604, 864, 182, 289, 688, 1035, 517, 517, 933, 1035, 37, 37, 125, 269, 125, 125, 125, 125, 125, 125, 135, 517, 395, 517, 226, 132, 214, 517, 1035, 865, 318, 470, 269, 517, 517, 517, 210, 289, 289, 289, 228, 864, 864, 864, 864, 864, 173, 517, 487, 210, 517, 178, 517, 517, 182, 624, 646, 183, 183, 646, 183, 183, 183, 183, 517, 240, 240, 190, 190, 604, 111, 703, 190, 190, 190, 190, 190, 190, 182, 337, 517, 246, 197, 197, 427, 197, 197, 427, 202, 289, 197, 100, 210, 30, 337, 896, 100, 289, 214, 517, 517, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 1035, 877, 896, 704, 704, 704, 289, 517, 359, 218, 80, 220, 788, 228, 864, 228, 228, 228, 228, 228, 228, 228, 604, 289, 289, 707, 662, 235, 736, 337, 1035, 427, 1035, 269, 517, 517, 517, 243, 243, 243, 243, 243, 243, 243, 243, 243, 517, 517, 765, 517, 517, 210, 910, 50, 294, 246, 246, 246, 517, 517, 491, 438, 258, 264, 265, 265, 265, 100, 741, 529, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 182, 111, 265, 1035, 529, 265, 137, 89, 1035, 1035, 1035, 274, 1035, 1035, 517, 517, 289, 864, 234, 517, 289, 289, 289, 289, 364, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 614, 325, 301, 49, 337, 864, 864, 289, 289, 289, 321, 289, 636, 610, 610, 524, 260, 117, 325, 325, 325, 325, 517, 517, 276, 604, 427, 289, 787, 551, 336, 337, 517, 517, 517, 517, 343, 343, 226, 289, 359, 359, 359, 896, 470, 741, 289, 874, 1035, 444, 517, 718, 397, 238, 269, 502, 517, 715, 517, 517, 517, 210, 1035, 246, 359, 415, 260, 651, 700, 419, 419, 419, 419, 419, 419, 517, 419, 269, 614, 197, 427, 427, 269, 517, 517, 517, 337, 337, 517, 517, 427, 427, 427, 336, 728, 238, 265, 664, 675, 395, 395, 545, 1002, 1026, 715, 517, 517, 517, 517, 517, 517, 517, 517, 80, 80, 460, 604, 3, 1035, 517, 475, 475, 475, 517, 479, 49, 484, 484, 337, 491, 491, 491, 1035, 81, 662, 783, 517, 344, 140, 140, 402, 503, 509, 509, 289, 1035, 1035, 1035, 337, 301, 517, 1035, 517, 530, 337, 530, 530, 530, 531, 531, 644, 532, 541, 545, 545, 545, 764, 517, 1035, 788, 567, 651, 648, 769, 578, 1035, 190, 414, 269, 517, 591, 591, 97, 97, 266, 269, 351, 517, 517, 517, 491, 517, 462, 517, 517, 517, 517, 30, 427, 614, 614, 517, 517, 640, 528, 528, 528, 238, 524, 337, 183, 183, 183, 183, 183, 517, 30, 652, 652, 652, 652, 386, 704, 265, 662, 662, 491, 666, 666, 577, 402, 517, 289, 698, 701, 741, 704, 664, 707, 715, 210, 326, 1035, 1035, 155, 715, 245, 652, 769, 610, 37, 289, 473, 183, 1035, 749, 750, 861, 803, 753, 753, 753, 803, 678, 246, 337, 289, 1035, 3, 210, 289, 775, 210, 210, 3, 704, 704, 778, 210, 780, 337, 847, 427, 745, 359, 802, 803, 269, 517, 805, 806, 517, 276, 1035, 1035, 386, 810, 810, 1035, 343, 180, 269, 606, 517, 517, 517, 517, 517, 517, 517, 831, 517, 1035, 706, 517, 517, 821, 517, 89, 337, 847, 416, 678, 517, 517, 517, 517, 517, 517, 517, 437, 741, 107, 517, 498, 117, 896, 896, 896, 896, 896, 896, 896, 295, 579, 1035, 896, 904, 214, 517, 269, 1005, 517, 1028, 933, 269, 937, 517, 517, 517, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 269, 269, 269, 269, 517, 269, 269, 517, 269, 517, 960, 1026, 517, 1035, 517, 269, 269, 517, 517, 269, 517, 269, 517, 517, 269, 517, 517, 517, 269, 517, 1026, 269, 517, 269, 517, 1028, 1028, 1029, 1029, 1031, 1031, 517, 933, 933]
[0, 0, 2, 2, 2, 8, 8, 8, 8, 16, 16, 16, 19, 27, 27, 27, 33, 34, 34, 34, 37, 37, 37, 37, 37, 37, 38, 48, 49, 49, 49, 49, 49, 49, 53, 53, 53, 58, 62, 67, 68, 71, 71, 71, 71, 73, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 83, 88, 88, 92, 94, 94, 94, 94, 94, 94, 95, 96, 96, 96, 98, 100, 100, 100, 100, 100, 100, 100, 100, 100, 103, 104, 107, 107, 107, 108, 108, 108, 111, 111, 111, 111, 111, 111, 111, 111, 111, 114, 119, 122, 122, 122, 122, 125, 125, 125, 125, 125, 125, 125, 125, 135, 135, 137, 137, 144, 148, 148, 151, 157, 159, 163, 163, 166, 166, 166, 171, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 173, 173, 173, 173, 173, 178, 181, 181, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 184, 187, 187, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 193, 196, 197, 197, 197, 197, 197, 202, 202, 205, 209, 210, 210, 211, 211, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 217, 218, 220, 220, 220, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 231, 234, 235, 236, 236, 236, 237, 237, 238, 238, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 246, 246, 246, 254, 254, 257, 258, 258, 264, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 268, 269, 269, 273, 274, 279, 279, 280, 280, 281, 281, 283, 286, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 301, 301, 309, 309, 309, 309, 309, 309, 309, 311, 313, 313, 318, 318, 318, 318, 322, 325, 325, 325, 325, 325, 325, 325, 326, 329, 329, 331, 334, 336, 337, 342, 342, 342, 342, 343, 343, 344, 345, 359, 359, 359, 363, 363, 364, 364, 378, 381, 391, 396, 396, 397, 399, 401, 402, 402, 408, 408, 408, 408, 408, 408, 412, 415, 415, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 424, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 430, 434, 435, 437, 443, 444, 445, 446, 454, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 458, 458, 460, 462, 468, 470, 474, 475, 475, 475, 476, 479, 480, 484, 484, 487, 491, 491, 491, 491, 491, 491, 495, 495, 499, 499, 499, 502, 503, 509, 509, 512, 517, 517, 517, 517, 517, 522, 524, 527, 530, 530, 530, 530, 530, 531, 531, 532, 532, 541, 545, 545, 545, 547, 548, 549, 553, 567, 572, 574, 578, 578, 579, 584, 584, 590, 590, 591, 591, 592, 592, 595, 597, 597, 597, 597, 597, 598, 600, 605, 610, 610, 611, 611, 614, 614, 614, 614, 619, 619, 623, 623, 623, 623, 623, 638, 643, 646, 646, 646, 646, 646, 646, 651, 652, 652, 652, 652, 659, 660, 660, 662, 662, 664, 666, 666, 683, 686, 693, 698, 698, 702, 703, 704, 706, 707, 710, 710, 711, 711, 711, 714, 715, 719, 720, 727, 739, 741, 741, 746, 746, 746, 747, 749, 750, 753, 753, 753, 753, 753, 754, 755, 760, 768, 771, 771, 773, 775, 775, 775, 775, 775, 775, 775, 778, 779, 780, 783, 794, 795, 798, 801, 802, 803, 804, 804, 805, 806, 806, 809, 809, 809, 809, 810, 810, 817, 822, 825, 826, 827, 830, 830, 830, 830, 830, 830, 830, 831, 834, 836, 839, 841, 841, 842, 844, 845, 846, 847, 847, 847, 852, 853, 853, 853, 853, 853, 853, 861, 865, 877, 884, 887, 894, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 904, 905, 915, 919, 919, 926, 927, 933, 937, 937, 937, 937, 937, 940, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 952, 953, 955, 956, 959, 960, 964, 964, 971, 974, 976, 976, 979, 981, 987, 990, 992, 992, 993, 999, 999, 999, 999, 1001, 1004, 1016, 1016, 1016, 1021, 1026, 1028, 1028, 1029, 1029, 1031, 1031, 1032, 1035, 1035]

In [44]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

212
0.24480369515011546