<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_5_tuning_cadec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0   1025      0 --:--:-- --:--:-- --:--:--  1025
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-5.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [12]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-5.validation.csv",header=None)
valid.head()

   0                       1
0  2               heel pain
1  2               heel pain
2  5  increase my heart rate
3  5             tachycardia
4  8        severe arthritis

In [13]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-5.test.csv",header=None)
test.head()

   0                      1
0  0                   fear
1  0        scared to death
2  2              heel pain
3  2             heels hurt
4  2  pain in my right heel

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_cadec_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('ft_fold5_first')

In [27]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('ft_fold5_first')
learn.fit_one_cycle(1, 1e-2)

In [28]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [29]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-5-tuning-cadec')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [41]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[0, 372, 2, 524, 2, 269, 269, 269, 113, 16, 16, 16, 71, 27, 374, 27, 1035, 197, 76, 816, 37, 37, 704, 704, 301, 741, 536, 1035, 49, 624, 49, 49, 49, 100, 53, 53, 53, 58, 537, 537, 1032, 71, 71, 71, 71, 73, 209, 864, 289, 260, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 614, 614, 614, 80, 80, 147, 625, 733, 733, 92, 94, 94, 94, 94, 94, 94, 95, 96, 578, 761, 98, 100, 100, 337, 100, 100, 100, 100, 100, 337, 103, 537, 107, 107, 107, 660, 660, 660, 111, 730, 111, 111, 111, 111, 111, 730, 111, 983, 119, 122, 472, 815, 815, 125, 270, 427, 125, 125, 125, 125, 125, 355, 537, 268, 537, 344, 449, 148, 151, 157, 82, 427, 311, 166, 350, 350, 6, 700, 700, 289, 700, 700, 864, 864, 864, 864, 864, 214, 877, 173, 860, 976, 165, 614, 614, 182, 182, 183, 183, 183, 183, 758, 758, 758, 758, 184, 240, 240, 190, 190, 190, 190, 700, 513, 289, 289, 289, 289, 289, 190, 758, 193, 196, 197, 197, 197, 197, 197, 202, 202, 289, 209, 210, 210, 211, 211, 214, 214, 214, 214, 624, 624, 877, 877, 877, 877, 877, 877, 877, 877, 877, 877, 877, 265, 214, 214, 337, 214, 214, 214, 113, 708, 218, 220, 220, 220, 228, 655, 228, 228, 228, 228, 228, 228, 228, 228, 228, 289, 669, 234, 235, 236, 702, 402, 34, 648, 238, 238, 537, 537, 243, 243, 243, 243, 243, 243, 243, 243, 243, 537, 244, 765, 245, 245, 245, 245, 638, 343, 357, 357, 357, 909, 851, 541, 438, 292, 264, 265, 265, 265, 265, 265, 265, 289, 704, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 355, 265, 75, 265, 137, 89, 1035, 269, 648, 682, 384, 279, 280, 763, 702, 281, 283, 888, 289, 289, 289, 289, 289, 289, 741, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 614, 301, 301, 638, 265, 309, 309, 289, 309, 309, 311, 313, 636, 318, 318, 130, 260, 322, 325, 325, 325, 325, 325, 352, 325, 326, 329, 607, 788, 334, 336, 337, 342, 342, 342, 342, 343, 343, 344, 364, 359, 359, 359, 363, 182, 364, 364, 664, 228, 391, 352, 535, 397, 289, 983, 351, 815, 805, 288, 288, 288, 288, 805, 763, 415, 415, 651, 651, 700, 651, 651, 651, 651, 651, 651, 355, 419, 424, 614, 427, 175, 816, 427, 427, 427, 427, 427, 427, 1032, 1032, 427, 427, 427, 430, 518, 434, 435, 437, 443, 444, 444, 24, 454, 455, 455, 537, 455, 455, 455, 455, 455, 455, 455, 458, 458, 460, 462, 343, 470, 474, 475, 780, 475, 597, 479, 480, 4, 484, 487, 597, 491, 491, 491, 82, 662, 994, 495, 382, 499, 499, 402, 503, 509, 509, 513, 517, 517, 517, 517, 517, 388, 524, 1032, 530, 758, 530, 530, 530, 432, 477, 532, 532, 541, 545, 545, 545, 764, 548, 549, 147, 567, 572, 769, 860, 578, 579, 584, 31, 590, 590, 591, 591, 592, 592, 535, 597, 427, 1032, 597, 597, 502, 1020, 701, 610, 610, 537, 537, 614, 614, 614, 614, 597, 597, 432, 528, 528, 528, 623, 638, 643, 646, 646, 646, 646, 646, 1032, 700, 651, 652, 652, 652, 659, 660, 265, 662, 662, 663, 666, 666, 680, 686, 693, 289, 698, 702, 703, 265, 442, 539, 710, 316, 711, 711, 711, 714, 716, 224, 894, 764, 909, 37, 741, 291, 493, 746, 749, 749, 861, 352, 753, 753, 753, 753, 29, 644, 9, 338, 301, 779, 772, 301, 775, 775, 775, 775, 775, 775, 778, 779, 780, 783, 416, 427, 798, 82, 802, 803, 804, 537, 24, 294, 355, 183, 809, 809, 809, 810, 810, 817, 343, 825, 826, 827, 830, 830, 830, 830, 830, 830, 1032, 253, 834, 836, 839, 1032, 1032, 891, 844, 45, 846, 847, 802, 531, 785, 853, 853, 853, 853, 597, 537, 664, 865, 877, 113, 887, 648, 896, 896, 896, 896, 896, 896, 704, 897, 897, 645, 214, 614, 75, 537, 919, 1002, 537, 537, 933, 937, 937, 937, 937, 937, 940, 948, 948, 270, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 983, 1035, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 1032, 952, 953, 1032, 956, 815, 961, 1026, 815, 1035, 1032, 976, 976, 1035, 1032, 270, 1035, 983, 992, 1035, 999, 1035, 1032, 1032, 1001, 1004, 1035, 1016, 1035, 270, 1028, 1028, 1028, 1029, 1029, 1028, 1028, 1032, 1035, 1035]
[0, 0, 2, 2, 2, 8, 8, 8, 8, 16, 16, 16, 19, 27, 27, 27, 33, 34, 34, 34, 37, 37, 37, 37, 37, 37, 38, 48, 49, 49, 49, 49, 49, 49, 53, 53, 53, 58, 62, 67, 68, 71, 71, 71, 71, 73, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 83, 88, 88, 92, 94, 94, 94, 94, 94, 94, 95, 96, 96, 96, 98, 100, 100, 100, 100, 100, 100, 100, 100, 100, 103, 104, 107, 107, 107, 108, 108, 108, 111, 111, 111, 111, 111, 111, 111, 111, 111, 114, 119, 122, 122, 122, 122, 125, 125, 125, 125, 125, 125, 125, 125, 135, 135, 137, 137, 144, 148, 148, 151, 157, 159, 163, 163, 166, 166, 166, 171, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 173, 173, 173, 173, 173, 178, 181, 181, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 184, 187, 187, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 193, 196, 197, 197, 197, 197, 197, 202, 202, 205, 209, 210, 210, 211, 211, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 217, 218, 220, 220, 220, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 231, 234, 235, 236, 236, 236, 237, 237, 238, 238, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 246, 246, 246, 254, 254, 257, 258, 258, 264, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 268, 269, 269, 273, 274, 279, 279, 280, 280, 281, 281, 283, 286, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 301, 301, 309, 309, 309, 309, 309, 309, 309, 311, 313, 313, 318, 318, 318, 318, 322, 325, 325, 325, 325, 325, 325, 325, 326, 329, 329, 331, 334, 336, 337, 342, 342, 342, 342, 343, 343, 344, 345, 359, 359, 359, 363, 363, 364, 364, 378, 381, 391, 396, 396, 397, 399, 401, 402, 402, 408, 408, 408, 408, 408, 408, 412, 415, 415, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 424, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 430, 434, 435, 437, 443, 444, 445, 446, 454, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 458, 458, 460, 462, 468, 470, 474, 475, 475, 475, 476, 479, 480, 484, 484, 487, 491, 491, 491, 491, 491, 491, 495, 495, 499, 499, 499, 502, 503, 509, 509, 512, 517, 517, 517, 517, 517, 522, 524, 527, 530, 530, 530, 530, 530, 531, 531, 532, 532, 541, 545, 545, 545, 547, 548, 549, 553, 567, 572, 574, 578, 578, 579, 584, 584, 590, 590, 591, 591, 592, 592, 595, 597, 597, 597, 597, 597, 598, 600, 605, 610, 610, 611, 611, 614, 614, 614, 614, 619, 619, 623, 623, 623, 623, 623, 638, 643, 646, 646, 646, 646, 646, 646, 651, 652, 652, 652, 652, 659, 660, 660, 662, 662, 664, 666, 666, 683, 686, 693, 698, 698, 702, 703, 704, 706, 707, 710, 710, 711, 711, 711, 714, 715, 719, 720, 727, 739, 741, 741, 746, 746, 746, 747, 749, 750, 753, 753, 753, 753, 753, 754, 755, 760, 768, 771, 771, 773, 775, 775, 775, 775, 775, 775, 775, 778, 779, 780, 783, 794, 795, 798, 801, 802, 803, 804, 804, 805, 806, 806, 809, 809, 809, 809, 810, 810, 817, 822, 825, 826, 827, 830, 830, 830, 830, 830, 830, 830, 831, 834, 836, 839, 841, 841, 842, 844, 845, 846, 847, 847, 847, 852, 853, 853, 853, 853, 853, 853, 861, 865, 877, 884, 887, 894, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 904, 905, 915, 919, 919, 926, 927, 933, 937, 937, 937, 937, 937, 940, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 952, 953, 955, 956, 959, 960, 964, 964, 971, 974, 976, 976, 979, 981, 987, 990, 992, 992, 993, 999, 999, 999, 999, 1001, 1004, 1016, 1016, 1016, 1021, 1026, 1028, 1028, 1029, 1029, 1031, 1031, 1032, 1035, 1035]

In [42]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

515
0.5946882217090069