<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_overlap_20_cadec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    919      0 --:--:-- --:--:-- --:--:--   916
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-0.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [12]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-0.validation.csv",header=None)
valid.head()

   0                             1
0  0                          fear
1  2                     heel pain
2  4  purple sploches around waist
3  7                        goiter
4  8                     ARTHRITIS

In [13]:
# testing data set

test = pd.read_csv(path/"AskAPatient_overlap_20.csv",header=None)
test.head()

   0                                 1
0  0                  'scared' feeling
1  3  cracking sensations in my joints
2  4      purple sploches around waist
3  5           fast and slow heartbeat
4  5              increased heart rate

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_cadec_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [18]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-2)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [25]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('AskAPatient_overlap_20_first')

In [27]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('AskAPatient_overlap_20_first')
learn.fit_one_cycle(1, 1e-2)

In [28]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [29]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [42]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [43]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [44]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('AskAPatient_overlap_20')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [47]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

764
764
[311, 228, 472, 551, 5, 1026, 323, 8, 8, 510, 10, 547, 788, 71, 22, 27, 583, 965, 29, 30, 30, 30, 32, 34, 289, 37, 218, 623, 469, 881, 113, 113, 49, 49, 49, 49, 100, 100, 100, 764, 53, 509, 70, 71, 71, 71, 76, 76, 289, 228, 355, 113, 742, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 713, 289, 289, 316, 80, 80, 848, 89, 627, 597, 814, 94, 94, 94, 94, 96, 746, 683, 98, 794, 337, 100, 100, 337, 100, 100, 402, 100, 101, 337, 107, 660, 660, 209, 1035, 289, 289, 289, 1035, 111, 126, 289, 289, 111, 113, 446, 113, 113, 257, 257, 125, 113, 257, 127, 579, 289, 289, 289, 312, 607, 447, 144, 847, 847, 742, 354, 305, 785, 165, 771, 350, 257, 337, 614, 335, 289, 182, 182, 289, 772, 183, 183, 183, 187, 346, 1031, 189, 189, 190, 190, 190, 190, 190, 190, 190, 190, 190, 193, 197, 197, 197, 197, 197, 736, 769, 769, 210, 210, 83, 83, 265, 211, 897, 113, 34, 624, 214, 236, 214, 214, 113, 812, 218, 220, 220, 44, 228, 228, 79, 228, 289, 289, 228, 544, 541, 710, 235, 236, 58, 809, 113, 113, 238, 187, 187, 113, 316, 316, 243, 113, 113, 316, 728, 245, 876, 245, 245, 245, 245, 245, 245, 246, 27, 113, 113, 417, 1035, 289, 172, 113, 265, 419, 660, 58, 265, 265, 265, 265, 265, 289, 289, 265, 265, 265, 859, 86, 137, 10, 809, 517, 289, 847, 283, 95, 877, 651, 289, 289, 289, 289, 289, 260, 289, 289, 289, 655, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 655, 291, 289, 584, 783, 71, 824, 904, 301, 214, 427, 789, 762, 309, 309, 310, 289, 309, 750, 642, 771, 265, 574, 146, 532, 666, 321, 321, 113, 301, 301, 301, 301, 301, 301, 325, 325, 729, 61, 304, 636, 551, 551, 58, 337, 337, 337, 337, 337, 414, 343, 343, 343, 281, 364, 875, 672, 852, 214, 359, 359, 359, 432, 359, 360, 360, 363, 688, 364, 726, 113, 387, 427, 392, 350, 316, 224, 402, 402, 451, 73, 805, 415, 355, 419, 419, 471, 289, 289, 652, 652, 113, 710, 426, 426, 426, 597, 427, 427, 427, 607, 427, 427, 426, 427, 591, 30, 736, 430, 910, 238, 435, 438, 441, 438, 444, 444, 445, 446, 94, 228, 463, 524, 473, 49, 475, 591, 591, 316, 316, 316, 30, 479, 614, 260, 744, 901, 486, 569, 771, 326, 491, 721, 82, 82, 316, 491, 492, 291, 499, 635, 877, 506, 438, 510, 164, 517, 113, 847, 521, 521, 252, 352, 530, 530, 531, 646, 541, 542, 591, 291, 545, 546, 384, 384, 549, 549, 88, 159, 491, 111, 190, 567, 775, 427, 100, 577, 515, 58, 578, 877, 579, 579, 579, 579, 584, 510, 289, 590, 591, 848, 325, 591, 753, 753, 707, 328, 427, 541, 679, 289, 606, 228, 607, 427, 787, 289, 614, 646, 619, 316, 623, 624, 633, 633, 633, 289, 245, 88, 352, 728, 528, 509, 651, 652, 652, 636, 652, 49, 810, 810, 660, 662, 662, 662, 29, 665, 437, 706, 669, 706, 677, 324, 772, 686, 363, 579, 817, 328, 698, 700, 864, 190, 265, 289, 289, 704, 364, 704, 704, 37, 579, 706, 437, 707, 707, 710, 711, 378, 772, 466, 779, 727, 581, 211, 88, 491, 601, 579, 741, 741, 289, 289, 541, 746, 257, 746, 749, 753, 753, 794, 764, 607, 337, 337, 910, 224, 771, 774, 775, 475, 100, 100, 100, 49, 775, 775, 502, 359, 787, 214, 787, 591, 311, 798, 475, 113, 804, 113, 805, 805, 1035, 808, 809, 691, 809, 809, 809, 666, 810, 575, 810, 850, 1035, 1035, 824, 377, 826, 228, 828, 432, 113, 830, 830, 830, 830, 831, 113, 88, 427, 427, 769, 846, 329, 847, 847, 808, 847, 847, 539, 852, 852, 801, 864, 864, 130, 109, 260, 865, 865, 1028, 76, 868, 113, 874, 876, 245, 877, 783, 439, 570, 61, 289, 892, 893, 415, 896, 896, 896, 560, 896, 328, 902, 753, 753, 113, 906, 466, 113, 994, 113, 113, 316, 113, 1035, 933, 933, 355, 937, 937, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 1035, 113, 316, 316, 955, 113, 956, 1026, 316, 113, 256, 994, 113, 316, 1002, 1031, 925, 252, 252, 113, 33, 1028, 1028, 1029, 1029, 113, 1035]
[0, 3, 4, 5, 5, 7, 8, 8, 8, 9, 10, 14, 18, 19, 22, 27, 28, 28, 29, 30, 30, 30, 32, 34, 37, 37, 38, 40, 41, 47, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 53, 61, 70, 71, 71, 71, 76, 76, 77, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 82, 89, 89, 90, 93, 94, 94, 94, 94, 96, 98, 98, 98, 99, 100, 100, 100, 100, 100, 100, 100, 100, 101, 102, 107, 108, 108, 109, 110, 111, 111, 111, 111, 111, 111, 111, 111, 111, 119, 120, 122, 125, 125, 125, 125, 125, 125, 127, 129, 129, 129, 129, 132, 138, 142, 144, 150, 150, 153, 157, 157, 163, 165, 166, 166, 168, 170, 172, 180, 182, 182, 182, 182, 182, 183, 183, 183, 187, 187, 187, 189, 189, 190, 190, 190, 190, 190, 190, 190, 190, 190, 193, 197, 197, 197, 197, 197, 204, 205, 205, 210, 210, 210, 210, 210, 211, 214, 214, 214, 214, 214, 214, 214, 214, 216, 218, 218, 220, 220, 228, 228, 228, 228, 228, 228, 228, 228, 229, 231, 234, 235, 236, 236, 238, 238, 238, 238, 240, 240, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 249, 254, 254, 259, 260, 260, 261, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 266, 268, 268, 268, 270, 272, 281, 282, 283, 286, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 293, 294, 295, 299, 299, 301, 301, 301, 301, 304, 304, 309, 309, 309, 309, 309, 317, 318, 318, 318, 318, 318, 320, 320, 321, 321, 323, 325, 325, 325, 325, 325, 325, 325, 325, 326, 327, 330, 333, 334, 334, 337, 337, 337, 337, 337, 337, 338, 343, 343, 343, 343, 345, 346, 347, 350, 351, 359, 359, 359, 359, 359, 360, 360, 363, 364, 364, 365, 380, 387, 388, 392, 394, 396, 402, 402, 402, 408, 408, 413, 415, 416, 419, 419, 419, 419, 419, 419, 419, 424, 424, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 428, 430, 433, 434, 435, 438, 441, 443, 444, 444, 444, 446, 453, 461, 462, 465, 473, 473, 475, 475, 475, 476, 476, 476, 477, 479, 479, 481, 482, 483, 486, 487, 487, 488, 491, 491, 491, 491, 491, 491, 492, 493, 499, 505, 505, 506, 509, 514, 516, 517, 517, 517, 521, 521, 527, 529, 530, 530, 531, 531, 541, 542, 543, 543, 545, 546, 548, 548, 549, 549, 554, 561, 561, 565, 566, 567, 571, 575, 577, 577, 577, 577, 578, 578, 579, 579, 579, 579, 584, 586, 588, 590, 591, 591, 591, 591, 594, 594, 595, 595, 596, 598, 598, 604, 606, 606, 607, 609, 611, 614, 614, 617, 619, 623, 623, 624, 633, 633, 633, 637, 638, 640, 646, 648, 648, 648, 651, 652, 652, 652, 654, 659, 659, 659, 660, 662, 662, 662, 663, 663, 663, 664, 669, 677, 681, 683, 686, 686, 686, 687, 689, 693, 698, 700, 700, 701, 701, 702, 702, 702, 702, 703, 703, 704, 704, 705, 705, 707, 707, 710, 711, 715, 716, 718, 723, 727, 730, 731, 733, 738, 739, 741, 741, 741, 741, 741, 746, 746, 746, 746, 749, 753, 753, 756, 761, 763, 765, 766, 767, 770, 771, 774, 775, 775, 775, 775, 775, 775, 775, 775, 782, 784, 787, 787, 788, 794, 794, 798, 800, 803, 804, 804, 805, 805, 807, 808, 809, 809, 809, 809, 809, 810, 810, 810, 810, 813, 815, 816, 824, 826, 826, 827, 828, 829, 830, 830, 830, 830, 830, 831, 834, 840, 840, 840, 840, 844, 846, 847, 847, 847, 847, 847, 847, 852, 852, 861, 864, 864, 864, 864, 864, 865, 865, 865, 867, 868, 871, 874, 876, 876, 877, 877, 882, 883, 888, 889, 892, 893, 894, 896, 896, 896, 896, 896, 898, 902, 903, 903, 905, 906, 908, 916, 917, 920, 926, 929, 931, 932, 933, 933, 936, 937, 937, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 952, 955, 955, 956, 966, 967, 969, 994, 994, 1000, 1001, 1002, 1011, 1019, 1020, 1020, 1026, 1026, 1028, 1028, 1029, 1029, 1030, 1035]

In [49]:
correct_num = 0

for i in range(0, 764):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

332
0.43455497382198954