<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_0_tuning_bigtweet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    689      0 --:--:-- --:--:-- --:--:--   689
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-0.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [11]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-0.validation.csv",header=None)
valid.head()

   0                             1
0  0                          fear
1  2                     heel pain
2  4  purple sploches around waist
3  7                        goiter
4  8                     ARTHRITIS

In [12]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-0.test.csv",header=None)
test.head()

   0                                 1
0  0                  'scared' feeling
1  2                         heel pain
2  3  cracking sensations in my joints
3  5           fast and slow heartbeat
4  5              increased heart rate

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_bigtweet_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [17]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [21]:
learn.fit_one_cycle(1, 1e-2)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-3)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('bigtweet_fold0_first')

In [26]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('bigtweet_fold0_first')
learn.fit_one_cycle(1, 1e-2)

In [27]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [28]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [29]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-0-tuning-bigtweet')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [43]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

867
867
[49, 864, 210, 334, 258, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 123, 258, 517, 49, 555, 1035, 27, 644, 29, 76, 211, 864, 31, 414, 32, 34, 197, 864, 1035, 289, 864, 864, 864, 210, 218, 44, 1026, 49, 49, 49, 49, 495, 49, 218, 853, 853, 853, 853, 853, 853, 853, 853, 53, 753, 289, 61, 1035, 896, 491, 76, 76, 182, 741, 111, 111, 190, 517, 517, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 713, 289, 289, 517, 517, 80, 80, 80, 80, 80, 80, 80, 80, 80, 1035, 89, 892, 137, 27, 753, 1026, 94, 94, 517, 94, 94, 94, 94, 94, 218, 360, 746, 1035, 246, 444, 806, 27, 644, 874, 100, 100, 100, 896, 960, 257, 289, 524, 1035, 864, 636, 624, 864, 864, 864, 1035, 1035, 773, 117, 831, 517, 517, 1026, 125, 517, 125, 777, 777, 777, 777, 777, 777, 777, 778, 777, 343, 127, 131, 1035, 447, 447, 164, 96, 415, 517, 847, 182, 758, 624, 854, 178, 165, 245, 180, 517, 291, 289, 289, 864, 864, 864, 864, 864, 686, 182, 864, 864, 864, 238, 289, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 245, 517, 289, 240, 240, 517, 245, 143, 190, 190, 190, 190, 289, 190, 193, 427, 197, 770, 164, 210, 210, 210, 896, 517, 517, 517, 624, 896, 896, 896, 896, 896, 896, 896, 896, 289, 517, 517, 517, 517, 218, 189, 220, 220, 220, 220, 517, 140, 741, 1035, 318, 228, 228, 228, 393, 1035, 289, 82, 283, 510, 235, 246, 517, 773, 187, 517, 517, 243, 243, 243, 243, 517, 517, 245, 245, 49, 726, 210, 723, 774, 517, 190, 183, 246, 246, 246, 517, 517, 517, 1035, 864, 517, 1035, 265, 111, 741, 687, 652, 214, 214, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 214, 214, 111, 495, 363, 892, 137, 137, 1035, 706, 517, 276, 517, 555, 289, 289, 289, 289, 289, 419, 698, 265, 704, 864, 289, 289, 864, 289, 289, 289, 289, 289, 289, 896, 291, 289, 896, 555, 5, 5, 265, 301, 591, 304, 210, 864, 182, 289, 289, 864, 289, 750, 318, 318, 318, 359, 360, 1035, 576, 321, 321, 517, 1035, 325, 1035, 49, 49, 49, 49, 49, 49, 49, 49, 49, 517, 517, 325, 517, 393, 336, 333, 1035, 517, 336, 337, 337, 337, 289, 768, 343, 140, 1035, 359, 359, 826, 360, 210, 896, 289, 1035, 864, 289, 726, 517, 427, 659, 517, 402, 402, 405, 517, 1035, 494, 419, 419, 419, 419, 419, 419, 289, 289, 289, 1035, 197, 426, 427, 1035, 517, 517, 517, 517, 517, 517, 517, 745, 427, 427, 591, 1035, 336, 210, 238, 1035, 444, 334, 334, 444, 245, 245, 517, 190, 524, 517, 475, 591, 475, 591, 517, 379, 694, 489, 491, 491, 664, 289, 1035, 1035, 140, 555, 360, 509, 245, 517, 1035, 517, 1035, 510, 1035, 517, 432, 530, 530, 530, 530, 531, 595, 746, 541, 805, 291, 27, 517, 517, 517, 517, 517, 517, 624, 624, 769, 704, 447, 245, 314, 210, 768, 699, 289, 1026, 517, 245, 510, 595, 517, 517, 437, 29, 464, 289, 246, 311, 1035, 517, 517, 517, 260, 416, 614, 614, 517, 517, 517, 510, 318, 419, 864, 864, 190, 510, 510, 646, 646, 646, 646, 646, 750, 510, 494, 652, 652, 652, 652, 636, 636, 662, 662, 491, 662, 29, 665, 664, 666, 403, 676, 803, 1035, 182, 775, 190, 1035, 517, 289, 699, 265, 265, 289, 410, 1035, 1035, 432, 48, 524, 210, 289, 246, 746, 541, 746, 746, 746, 749, 753, 753, 794, 246, 245, 487, 289, 704, 210, 196, 896, 216, 49, 866, 804, 1035, 809, 1035, 541, 246, 246, 98, 10, 810, 1035, 1035, 1035, 824, 214, 517, 420, 432, 1035, 517, 517, 517, 517, 517, 517, 1035, 1035, 726, 847, 847, 847, 847, 847, 1035, 517, 517, 517, 517, 517, 517, 517, 517, 517, 457, 289, 864, 289, 662, 491, 867, 868, 517, 773, 775, 775, 888, 391, 896, 896, 896, 896, 896, 770, 1035, 96, 753, 517, 290, 466, 245, 1035, 245, 517, 245, 1026, 517, 933, 517, 245, 245, 245, 245, 245, 245, 245, 245, 517, 245, 245, 517, 1026, 1026, 1026, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 1035, 269, 269, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 1026, 269, 269, 517, 269, 517, 517, 269, 269, 269, 517, 269, 269, 269, 269, 509, 517, 517, 983, 1031, 269, 269, 1035, 517, 517, 517, 1028, 1028, 1028, 1028, 1026, 933]
[0, 2, 3, 5, 5, 8, 8, 8, 8, 8, 8, 8, 14, 18, 21, 22, 22, 27, 27, 28, 29, 30, 30, 30, 31, 31, 32, 34, 34, 37, 37, 37, 37, 37, 37, 37, 38, 44, 47, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 58, 61, 71, 71, 74, 76, 76, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 80, 80, 80, 88, 89, 89, 89, 90, 91, 92, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 98, 98, 98, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 101, 102, 108, 108, 108, 109, 111, 111, 111, 111, 111, 111, 111, 117, 120, 120, 120, 122, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 129, 131, 132, 142, 142, 144, 150, 150, 151, 151, 153, 157, 157, 158, 165, 165, 166, 166, 166, 168, 172, 172, 172, 172, 172, 172, 172, 180, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 184, 184, 185, 187, 187, 187, 189, 189, 190, 190, 190, 190, 190, 190, 193, 197, 197, 205, 210, 210, 210, 210, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 216, 218, 218, 218, 220, 220, 220, 220, 220, 222, 226, 228, 228, 228, 228, 228, 228, 228, 228, 228, 229, 234, 234, 235, 238, 238, 238, 240, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 246, 246, 249, 254, 254, 259, 260, 261, 262, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 268, 268, 269, 270, 271, 276, 277, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 293, 295, 299, 300, 300, 301, 301, 301, 304, 308, 309, 309, 309, 309, 309, 309, 317, 318, 318, 318, 318, 318, 318, 320, 321, 321, 323, 323, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 327, 333, 334, 335, 336, 337, 337, 337, 337, 338, 343, 344, 347, 359, 359, 360, 360, 363, 363, 364, 364, 364, 364, 365, 380, 388, 392, 396, 402, 402, 405, 416, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 424, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 428, 430, 433, 434, 435, 443, 444, 444, 444, 455, 455, 455, 462, 465, 474, 475, 475, 475, 475, 476, 482, 483, 489, 491, 491, 491, 491, 492, 492, 499, 505, 509, 509, 516, 516, 517, 517, 517, 521, 524, 527, 529, 530, 530, 530, 530, 531, 535, 541, 541, 543, 543, 546, 548, 548, 548, 548, 548, 548, 565, 566, 567, 577, 577, 578, 579, 579, 584, 586, 588, 590, 590, 591, 592, 595, 597, 597, 598, 598, 606, 606, 607, 608, 610, 610, 610, 611, 614, 614, 614, 614, 619, 619, 619, 623, 623, 624, 633, 633, 638, 644, 644, 646, 646, 646, 646, 646, 648, 648, 651, 652, 652, 652, 652, 652, 652, 662, 662, 662, 662, 663, 663, 663, 666, 669, 681, 683, 686, 686, 687, 689, 693, 693, 698, 700, 700, 701, 703, 707, 710, 711, 715, 718, 731, 733, 741, 745, 746, 746, 746, 746, 746, 749, 753, 753, 756, 763, 771, 775, 775, 775, 775, 782, 787, 794, 794, 800, 804, 805, 805, 807, 809, 809, 809, 809, 810, 810, 813, 815, 816, 824, 826, 826, 828, 829, 830, 830, 830, 830, 830, 830, 834, 840, 840, 840, 847, 847, 847, 847, 847, 847, 852, 852, 853, 853, 853, 853, 853, 853, 853, 861, 864, 864, 864, 865, 865, 867, 868, 871, 874, 876, 876, 888, 892, 896, 896, 896, 896, 896, 896, 898, 902, 903, 905, 906, 908, 916, 917, 919, 919, 920, 929, 931, 933, 936, 937, 937, 937, 937, 937, 937, 937, 941, 941, 944, 947, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 955, 956, 956, 964, 964, 967, 967, 967, 977, 1000, 1001, 1001, 1002, 1011, 1017, 1020, 1020, 1022, 1026, 1026, 1028, 1028, 1028, 1028, 1030, 1035]

In [44]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

201
0.23183391003460208