<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_4_tuning_pubmed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0   1021      0 --:--:-- --:--:-- --:--:--  1021
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-4.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [47]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-4.validation.csv",header=None)
valid.head()

   0                      1
0  6  diastolic dysfunction
1  8              ARTHRITIS
2  8              arthritis
3  8              arthritis
4  8              arthritis

In [48]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-4.test.csv",header=None)
test.head()

    0                              1
0   4   purple sploches around waist
1   6  stage 1 diastolic dysfunction
2   8                      arthritis
3  12                       shingles
4  16                            flu

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_pubmed_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [53]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [57]:
learn.fit_one_cycle(1, 1e-2)

In [58]:
learn.fit_one_cycle(1, 1e-2)

In [59]:
learn.fit_one_cycle(1, 1e-3)

In [60]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('pubmed_fold4_first')

In [62]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('pubmed_fold4_first')
learn.fit_one_cycle(1, 1e-2)

In [63]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [64]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [65]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [66]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [67]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [68]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [69]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [70]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [71]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [72]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [73]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [74]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [75]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [76]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-4-tuning-pubmed')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [79]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[933, 6, 8, 710, 16, 359, 646, 646, 27, 809, 31, 31, 31, 31, 31, 710, 415, 117, 37, 37, 775, 289, 37, 42, 48, 475, 49, 49, 49, 49, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 53, 710, 53, 710, 79, 521, 61, 61, 62, 64, 76, 76, 76, 289, 289, 710, 710, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 182, 289, 80, 80, 788, 268, 450, 710, 92, 92, 92, 94, 864, 847, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 122, 94, 94, 475, 710, 761, 100, 100, 100, 107, 108, 108, 710, 111, 111, 289, 111, 730, 111, 79, 113, 116, 449, 120, 710, 710, 125, 630, 630, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 129, 131, 710, 140, 143, 553, 157, 160, 165, 178, 164, 710, 168, 172, 172, 289, 172, 172, 172, 172, 624, 165, 470, 741, 20, 182, 182, 182, 182, 211, 183, 710, 183, 183, 183, 183, 183, 183, 183, 183, 186, 164, 710, 188, 194, 194, 40, 289, 190, 190, 190, 190, 462, 289, 426, 197, 205, 206, 207, 208, 210, 164, 787, 214, 710, 896, 896, 102, 214, 214, 265, 214, 214, 245, 710, 710, 220, 220, 289, 226, 226, 450, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 289, 234, 234, 710, 710, 314, 236, 236, 164, 243, 710, 710, 243, 243, 710, 741, 210, 122, 710, 710, 210, 723, 723, 245, 71, 645, 741, 265, 265, 265, 214, 214, 214, 214, 702, 214, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 236, 86, 710, 710, 574, 276, 280, 280, 182, 710, 286, 710, 746, 289, 289, 289, 265, 289, 289, 289, 289, 76, 289, 189, 289, 289, 289, 289, 289, 289, 289, 289, 710, 788, 710, 876, 301, 214, 402, 402, 309, 309, 309, 309, 745, 318, 847, 321, 710, 323, 194, 325, 325, 325, 301, 301, 301, 301, 301, 301, 785, 234, 325, 325, 326, 228, 332, 332, 708, 336, 337, 265, 265, 809, 5, 256, 342, 343, 890, 343, 343, 343, 343, 4, 210, 173, 359, 359, 359, 194, 427, 710, 210, 710, 648, 591, 20, 809, 648, 395, 391, 391, 393, 710, 710, 358, 402, 402, 402, 710, 408, 408, 333, 418, 419, 58, 471, 419, 419, 710, 710, 426, 426, 426, 194, 427, 450, 427, 427, 427, 427, 427, 427, 816, 427, 430, 430, 431, 376, 238, 435, 441, 391, 441, 441, 443, 710, 710, 710, 194, 459, 164, 462, 772, 524, 471, 214, 933, 557, 475, 475, 489, 491, 491, 746, 491, 491, 491, 491, 491, 491, 491, 82, 82, 491, 746, 710, 495, 674, 336, 466, 1005, 164, 710, 517, 910, 517, 519, 434, 427, 122, 530, 530, 530, 805, 27, 536, 194, 710, 710, 541, 541, 545, 545, 808, 646, 444, 164, 710, 710, 194, 591, 710, 487, 587, 645, 610, 172, 775, 673, 742, 579, 210, 583, 31, 325, 325, 325, 592, 592, 716, 716, 427, 427, 597, 710, 172, 291, 610, 289, 426, 289, 289, 289, 289, 1023, 1023, 710, 369, 623, 623, 710, 710, 847, 624, 645, 627, 344, 858, 840, 644, 646, 532, 644, 183, 805, 183, 183, 183, 183, 183, 646, 194, 648, 652, 636, 636, 636, 652, 655, 658, 658, 662, 662, 491, 666, 666, 421, 858, 747, 2, 710, 696, 701, 708, 470, 711, 711, 710, 716, 716, 716, 771, 715, 645, 265, 289, 289, 482, 746, 749, 753, 587, 245, 769, 194, 245, 775, 775, 777, 778, 194, 402, 164, 194, 797, 779, 710, 809, 809, 470, 450, 809, 809, 809, 531, 810, 172, 197, 194, 194, 824, 825, 450, 517, 710, 710, 710, 164, 710, 830, 830, 831, 710, 710, 840, 710, 794, 238, 642, 642, 194, 194, 164, 847, 531, 847, 794, 210, 227, 710, 785, 853, 853, 853, 853, 853, 853, 853, 853, 853, 710, 853, 543, 579, 702, 864, 864, 864, 662, 742, 765, 117, 579, 877, 878, 882, 890, 893, 896, 896, 896, 704, 579, 896, 896, 904, 904, 368, 515, 698, 589, 710, 919, 919, 164, 921, 710, 937, 937, 937, 937, 164, 164, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 164, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 710, 950, 950, 950, 710, 952, 952, 710, 955, 949, 710, 113, 113, 967, 968, 710, 925, 996, 164, 164, 164, 164, 710, 164, 164, 164, 710, 710, 334, 450, 1026, 710, 710, 450, 710, 710, 1028, 1029, 1011, 164, 1035]
[4, 6, 8, 12, 16, 16, 27, 27, 27, 29, 31, 31, 31, 31, 31, 32, 37, 37, 37, 37, 37, 37, 37, 42, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 53, 59, 60, 61, 61, 62, 64, 76, 76, 76, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 89, 91, 91, 92, 92, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 96, 100, 100, 100, 107, 108, 108, 108, 111, 111, 111, 111, 111, 111, 111, 113, 116, 119, 120, 122, 122, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 129, 131, 139, 140, 143, 147, 157, 160, 165, 165, 166, 166, 168, 172, 172, 172, 172, 172, 172, 172, 175, 178, 182, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 186, 187, 187, 188, 189, 189, 190, 190, 190, 190, 190, 190, 190, 195, 197, 197, 205, 206, 207, 208, 210, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 216, 218, 220, 220, 223, 226, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 234, 235, 235, 236, 236, 236, 243, 243, 243, 243, 243, 243, 243, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 254, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 270, 271, 274, 276, 280, 280, 281, 285, 286, 287, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 298, 300, 300, 301, 301, 301, 301, 301, 309, 309, 309, 309, 312, 318, 318, 321, 323, 323, 323, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 326, 332, 332, 335, 336, 337, 337, 337, 338, 338, 339, 342, 343, 343, 343, 343, 343, 343, 348, 350, 359, 359, 359, 359, 359, 360, 362, 363, 364, 366, 368, 372, 382, 385, 390, 391, 391, 393, 396, 401, 402, 402, 402, 402, 408, 408, 408, 409, 418, 419, 419, 419, 419, 419, 420, 424, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 430, 431, 434, 434, 435, 441, 441, 441, 441, 446, 455, 455, 455, 455, 459, 460, 463, 470, 470, 471, 471, 472, 474, 475, 475, 489, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 492, 495, 495, 508, 509, 510, 511, 516, 516, 517, 517, 517, 518, 521, 522, 529, 530, 530, 530, 530, 536, 536, 537, 540, 540, 541, 541, 545, 545, 546, 546, 546, 548, 548, 548, 556, 557, 559, 565, 567, 568, 570, 570, 573, 574, 577, 579, 579, 583, 584, 590, 590, 590, 592, 592, 594, 594, 596, 597, 597, 597, 604, 610, 610, 614, 614, 614, 614, 614, 614, 616, 616, 619, 619, 623, 623, 623, 623, 623, 624, 626, 627, 633, 639, 640, 644, 644, 644, 644, 646, 646, 646, 646, 646, 646, 646, 646, 646, 648, 652, 652, 652, 652, 652, 655, 658, 658, 662, 662, 664, 666, 666, 671, 676, 684, 686, 693, 696, 702, 708, 711, 711, 711, 714, 715, 715, 715, 723, 724, 728, 741, 741, 742, 744, 746, 749, 753, 758, 765, 769, 772, 774, 775, 775, 777, 778, 787, 789, 794, 794, 797, 801, 803, 808, 809, 809, 809, 809, 809, 809, 809, 810, 811, 816, 817, 817, 824, 825, 826, 826, 826, 826, 826, 830, 830, 830, 830, 831, 832, 838, 840, 840, 840, 841, 841, 841, 844, 846, 847, 847, 847, 847, 848, 849, 850, 852, 852, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 854, 860, 860, 864, 864, 864, 865, 867, 876, 876, 877, 877, 878, 882, 890, 893, 896, 896, 896, 896, 896, 896, 897, 904, 904, 904, 904, 910, 911, 918, 919, 919, 919, 921, 924, 937, 937, 937, 937, 942, 945, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 951, 952, 952, 954, 955, 961, 964, 967, 967, 967, 968, 969, 977, 996, 998, 999, 1001, 1001, 1001, 1007, 1015, 1015, 1016, 1017, 1018, 1025, 1026, 1026, 1026, 1026, 1026, 1026, 1028, 1029, 1031, 1033, 1035]

In [81]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

463
0.5346420323325635