<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_7_tuning_pubmed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    986      0 --:--:-- --:--:-- --:--:--   982
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-7.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [48]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-7.validation.csv",header=None)
valid.head()

   0                                            1
0  0                                         fear
1  2                                    heel pain
2  4  Discoloration of skin [blotchy] on the neck
3  8                                    arthritis
4  8                                    arthritis

In [49]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-7.test.csv",header=None)
test.head()

   0                           1
0  3  joints poping and cracking
1  8                   Arthritis
2  8                   arthritis
3  8                   arthritis
4  8                   arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_pubmed_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [54]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [58]:
learn.fit_one_cycle(1, 1e-2)

In [59]:
learn.fit_one_cycle(1, 1e-2)

In [60]:
learn.fit_one_cycle(1, 1e-3)

In [61]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('pubmed_fold7_first')

In [63]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('pubmed_fold7_first')
learn.fit_one_cycle(1, 1e-2)

In [64]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [65]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [66]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [67]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [68]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [69]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [70]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [71]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [72]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [73]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [74]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [75]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [76]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [77]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-7-tuning-pubmed')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [80]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[326, 8, 8, 8, 8, 8, 8, 314, 10, 289, 809, 743, 276, 558, 644, 644, 289, 31, 584, 745, 37, 37, 37, 289, 289, 289, 289, 307, 49, 49, 49, 807, 427, 49, 49, 49, 49, 325, 49, 49, 49, 100, 100, 245, 710, 53, 53, 53, 58, 704, 59, 60, 61, 61, 710, 164, 71, 289, 289, 289, 289, 289, 265, 710, 710, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 182, 80, 80, 147, 93, 268, 88, 268, 268, 710, 710, 92, 92, 94, 94, 826, 431, 431, 431, 94, 94, 94, 94, 94, 94, 94, 775, 100, 100, 775, 100, 775, 337, 100, 100, 100, 100, 100, 8, 108, 111, 111, 111, 289, 710, 721, 710, 710, 124, 630, 125, 125, 125, 125, 125, 125, 630, 125, 125, 125, 127, 343, 343, 127, 132, 710, 210, 255, 153, 160, 162, 710, 770, 129, 686, 164, 904, 289, 372, 0, 289, 182, 183, 183, 183, 183, 337, 187, 187, 187, 41, 164, 686, 289, 190, 190, 190, 190, 190, 190, 289, 190, 289, 61, 0, 197, 209, 197, 197, 197, 807, 203, 260, 205, 289, 210, 214, 337, 896, 896, 896, 214, 214, 214, 896, 276, 214, 351, 402, 214, 214, 214, 704, 291, 710, 710, 710, 710, 710, 710, 710, 164, 471, 228, 228, 228, 228, 289, 729, 228, 228, 228, 228, 228, 228, 228, 462, 228, 289, 749, 234, 447, 234, 234, 710, 337, 337, 710, 164, 243, 710, 710, 243, 243, 243, 243, 243, 710, 243, 710, 245, 41, 710, 710, 710, 674, 686, 245, 20, 710, 246, 357, 805, 645, 645, 645, 322, 265, 265, 289, 337, 337, 337, 337, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 402, 524, 0, 164, 268, 269, 601, 165, 165, 165, 281, 289, 286, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 467, 291, 291, 289, 557, 646, 147, 147, 301, 704, 419, 309, 309, 491, 591, 318, 318, 623, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 710, 686, 325, 325, 332, 332, 343, 337, 710, 710, 337, 337, 337, 342, 343, 344, 344, 710, 351, 359, 359, 363, 773, 364, 289, 686, 865, 517, 686, 686, 391, 710, 396, 729, 896, 358, 358, 789, 789, 402, 402, 408, 409, 710, 82, 418, 265, 471, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 828, 710, 426, 426, 614, 614, 427, 597, 427, 427, 427, 427, 427, 427, 427, 427, 0, 710, 436, 810, 390, 443, 391, 454, 164, 455, 710, 710, 710, 710, 651, 710, 459, 459, 463, 462, 363, 471, 473, 710, 710, 780, 710, 710, 475, 233, 487, 487, 489, 491, 491, 491, 491, 738, 746, 710, 65, 499, 499, 502, 886, 710, 476, 672, 435, 260, 524, 710, 530, 4, 746, 541, 541, 541, 545, 710, 710, 710, 710, 710, 710, 686, 549, 630, 126, 565, 487, 686, 775, 574, 578, 289, 579, 579, 583, 710, 710, 557, 291, 710, 592, 594, 595, 624, 624, 455, 462, 190, 463, 37, 607, 610, 487, 612, 289, 614, 614, 614, 289, 289, 686, 471, 622, 528, 710, 289, 245, 639, 639, 183, 183, 183, 183, 0, 652, 289, 217, 662, 662, 662, 666, 810, 667, 477, 723, 677, 678, 677, 623, 686, 691, 710, 710, 710, 289, 265, 289, 702, 524, 702, 117, 289, 704, 289, 531, 810, 746, 708, 708, 711, 711, 711, 710, 715, 726, 726, 775, 730, 734, 735, 635, 741, 769, 769, 773, 770, 775, 37, 775, 775, 775, 778, 16, 791, 286, 427, 710, 710, 796, 246, 799, 415, 753, 753, 710, 847, 710, 710, 246, 403, 686, 386, 810, 810, 666, 183, 357, 686, 723, 824, 826, 710, 830, 830, 830, 830, 830, 710, 686, 710, 592, 289, 839, 839, 642, 843, 686, 847, 847, 189, 847, 41, 847, 847, 710, 847, 851, 645, 853, 853, 614, 853, 853, 861, 864, 44, 214, 896, 896, 896, 896, 896, 896, 896, 896, 283, 164, 919, 919, 919, 919, 933, 933, 164, 164, 937, 937, 925, 925, 710, 710, 710, 948, 948, 948, 948, 164, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 164, 164, 164, 710, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 710, 164, 164, 950, 950, 950, 950, 983, 1032, 1032, 1032, 710, 710, 164, 164, 710, 1009, 980, 994, 710, 925, 925, 710, 164, 710, 710, 164, 164, 164, 999, 511, 1026, 710, 710, 1028, 1029, 1009, 1035, 1035]
[3, 8, 8, 8, 8, 8, 8, 9, 10, 13, 27, 27, 27, 27, 28, 28, 30, 31, 31, 32, 37, 37, 37, 37, 37, 37, 37, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 53, 53, 53, 53, 58, 58, 59, 60, 61, 61, 62, 68, 71, 76, 76, 76, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 84, 86, 88, 89, 89, 91, 91, 92, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 102, 108, 111, 111, 111, 111, 114, 122, 122, 122, 124, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 127, 127, 127, 132, 139, 142, 148, 153, 160, 162, 166, 166, 172, 172, 179, 181, 182, 182, 182, 182, 182, 183, 183, 183, 183, 185, 187, 187, 187, 189, 189, 189, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 194, 194, 197, 197, 197, 197, 197, 200, 203, 205, 205, 205, 210, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 216, 218, 218, 218, 218, 218, 219, 222, 224, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 231, 234, 234, 234, 234, 235, 236, 236, 238, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 248, 254, 254, 254, 256, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 267, 268, 269, 274, 277, 277, 277, 281, 281, 286, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 290, 291, 291, 293, 296, 298, 300, 300, 301, 301, 309, 309, 309, 317, 318, 318, 318, 318, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 332, 332, 334, 337, 337, 337, 337, 337, 337, 342, 343, 344, 344, 346, 351, 359, 359, 363, 363, 364, 364, 369, 378, 383, 389, 389, 391, 396, 396, 402, 402, 402, 402, 402, 402, 402, 402, 408, 409, 411, 416, 417, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 420, 424, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 429, 436, 437, 442, 443, 444, 454, 455, 455, 455, 455, 455, 458, 458, 458, 459, 459, 461, 462, 471, 471, 473, 474, 474, 475, 475, 475, 475, 485, 487, 487, 489, 491, 491, 491, 491, 492, 492, 495, 498, 499, 499, 502, 505, 509, 509, 518, 521, 522, 524, 527, 530, 536, 541, 541, 541, 541, 545, 548, 548, 548, 548, 548, 548, 548, 549, 561, 564, 565, 566, 569, 571, 574, 578, 578, 579, 579, 583, 590, 590, 591, 591, 592, 592, 594, 595, 597, 597, 597, 604, 604, 605, 606, 607, 610, 610, 612, 614, 614, 614, 614, 614, 614, 619, 620, 622, 623, 623, 635, 639, 639, 639, 646, 646, 646, 646, 646, 652, 657, 659, 662, 662, 662, 666, 666, 667, 668, 677, 677, 678, 679, 685, 690, 691, 693, 693, 693, 698, 701, 702, 702, 703, 703, 704, 704, 704, 704, 705, 705, 707, 708, 708, 711, 711, 711, 714, 725, 726, 726, 727, 730, 734, 735, 740, 741, 769, 769, 770, 770, 775, 775, 775, 775, 775, 778, 784, 790, 792, 794, 794, 794, 796, 798, 799, 801, 803, 803, 806, 806, 806, 806, 809, 809, 809, 809, 810, 810, 810, 813, 814, 817, 824, 824, 826, 826, 830, 830, 830, 830, 830, 830, 830, 830, 831, 837, 839, 839, 841, 843, 846, 847, 847, 847, 847, 847, 847, 847, 847, 847, 851, 852, 853, 853, 853, 853, 853, 861, 864, 869, 877, 896, 896, 896, 896, 896, 896, 896, 897, 909, 913, 919, 919, 919, 919, 933, 933, 935, 937, 937, 937, 937, 937, 941, 943, 946, 948, 948, 948, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 950, 950, 952, 952, 952, 958, 959, 964, 976, 976, 977, 980, 994, 997, 999, 999, 999, 1001, 1001, 1001, 1012, 1016, 1017, 1019, 1025, 1026, 1026, 1026, 1028, 1029, 1034, 1035, 1035]

In [81]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

452
0.5219399538106235