<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_0_tuning_healthnews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [0]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    986      0 --:--:-- --:--:-- --:--:--   982
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [0]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
Unpacking objects: 100% (9/9), done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-0.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [0]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-0.validation.csv",header=None)
valid.head()

   0                             1
0  0                          fear
1  2                     heel pain
2  4  purple sploches around waist
3  7                        goiter
4  8                     ARTHRITIS

In [0]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-0.test.csv",header=None)
test.head()

   0                                 1
0  0                  'scared' feeling
1  2                         heel pain
2  3  cracking sensations in my joints
3  5           fast and slow heartbeat
4  5              increased heart rate

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_healthnews_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [0]:
learn.fit_one_cycle(1, 1e-2)

In [0]:
learn.fit_one_cycle(1, 1e-2)

In [0]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('healthnews_fold0_first')

In [0]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('healthnews_fold0_first')
learn.fit_one_cycle(1, 1e-2)

In [0]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [0]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-0-tuning-healthnews')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [0]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

867
867
[780, 2, 470, 334, 5, 8, 8, 8, 8, 8, 8, 8, 597, 360, 49, 49, 555, 27, 27, 27, 29, 289, 2, 30, 31, 584, 1028, 1035, 34, 289, 896, 289, 289, 289, 289, 896, 176, 44, 753, 49, 49, 49, 49, 49, 1035, 49, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 753, 1028, 265, 61, 877, 877, 491, 228, 228, 182, 228, 228, 228, 1028, 1028, 1028, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 713, 182, 864, 1028, 1028, 80, 80, 80, 80, 80, 80, 80, 80, 80, 108, 89, 427, 137, 49, 265, 92, 753, 94, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 318, 408, 1035, 737, 100, 780, 644, 100, 100, 214, 214, 214, 100, 805, 291, 265, 108, 108, 108, 209, 363, 111, 111, 111, 265, 265, 579, 117, 446, 1028, 1028, 1028, 125, 1028, 1028, 125, 125, 125, 125, 125, 125, 125, 125, 125, 343, 289, 131, 1035, 447, 447, 344, 567, 37, 151, 151, 182, 284, 305, 158, 165, 165, 753, 359, 1028, 291, 289, 289, 289, 289, 289, 289, 289, 524, 111, 289, 182, 182, 182, 289, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 753, 1028, 789, 187, 187, 111, 269, 189, 190, 190, 190, 190, 190, 190, 193, 289, 289, 769, 912, 210, 210, 210, 190, 1028, 1028, 1028, 419, 1028, 1028, 1028, 1028, 1028, 265, 265, 265, 265, 1028, 1028, 1028, 1028, 1028, 790, 144, 220, 220, 220, 1028, 140, 741, 1035, 427, 1035, 289, 289, 1035, 1035, 289, 544, 909, 546, 1028, 402, 1028, 434, 703, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 753, 214, 49, 726, 210, 723, 774, 1028, 1035, 644, 246, 246, 246, 1028, 1028, 1028, 1035, 289, 1028, 262, 265, 228, 741, 687, 419, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 289, 1035, 210, 427, 137, 137, 269, 50, 1028, 276, 165, 589, 289, 289, 289, 289, 289, 651, 289, 289, 289, 289, 289, 190, 289, 289, 289, 289, 289, 289, 289, 289, 291, 896, 289, 1035, 147, 147, 265, 771, 343, 39, 308, 309, 309, 309, 309, 309, 289, 749, 642, 715, 715, 359, 1035, 853, 558, 321, 375, 1028, 1035, 753, 49, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1035, 49, 1035, 509, 501, 1018, 1028, 336, 337, 337, 337, 265, 768, 127, 344, 485, 359, 359, 318, 360, 210, 363, 289, 605, 289, 364, 726, 1028, 1035, 291, 1028, 402, 402, 405, 1028, 337, 419, 471, 651, 651, 651, 651, 471, 419, 419, 182, 1035, 197, 197, 612, 427, 427, 427, 427, 427, 427, 1028, 1028, 737, 1035, 597, 558, 625, 430, 434, 288, 521, 445, 444, 444, 444, 753, 753, 1028, 1035, 524, 1028, 49, 334, 1028, 475, 1028, 504, 708, 489, 491, 491, 626, 491, 1035, 1035, 140, 34, 318, 509, 753, 1028, 1035, 1028, 517, 370, 1035, 1028, 432, 530, 530, 530, 530, 531, 655, 746, 541, 591, 480, 27, 1028, 1028, 1028, 1028, 1028, 1028, 427, 190, 753, 79, 49, 210, 265, 210, 584, 265, 289, 1026, 1028, 245, 592, 595, 1028, 1028, 491, 491, 210, 190, 39, 608, 729, 1028, 1028, 1028, 289, 79, 289, 289, 1028, 1028, 1028, 753, 318, 624, 633, 633, 638, 546, 546, 646, 646, 646, 646, 646, 774, 467, 419, 652, 652, 652, 471, 636, 636, 662, 662, 662, 662, 334, 665, 437, 666, 29, 676, 437, 1035, 182, 879, 334, 49, 1028, 698, 703, 265, 700, 700, 707, 1035, 1035, 432, 111, 524, 210, 463, 39, 746, 746, 746, 291, 746, 749, 605, 1035, 780, 39, 753, 487, 524, 704, 210, 344, 289, 235, 359, 659, 804, 783, 783, 200, 437, 809, 809, 809, 810, 810, 517, 1035, 1035, 824, 377, 826, 828, 432, 1035, 1028, 1028, 1028, 1028, 1028, 1028, 864, 1035, 726, 794, 582, 847, 847, 847, 847, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 290, 864, 864, 864, 865, 536, 426, 868, 1028, 318, 896, 606, 61, 391, 896, 896, 896, 896, 896, 579, 49, 96, 896, 1028, 406, 466, 753, 994, 753, 1028, 753, 1026, 1028, 933, 1028, 753, 753, 753, 753, 753, 753, 753, 753, 1028, 753, 753, 1028, 1026, 1026, 1026, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 753, 174, 753, 753, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 1026, 753, 753, 711, 753, 711, 711, 753, 753, 753, 711, 753, 753, 753, 977, 753, 711, 711, 210, 1031, 753, 753, 1035, 971, 711, 711, 1028, 1028, 1028, 1028, 1026, 1035]
[0, 2, 3, 5, 5, 8, 8, 8, 8, 8, 8, 8, 14, 18, 21, 22, 22, 27, 27, 28, 29, 30, 30, 30, 31, 31, 32, 34, 34, 37, 37, 37, 37, 37, 37, 37, 38, 44, 47, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 58, 61, 71, 71, 74, 76, 76, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 80, 80, 80, 88, 89, 89, 89, 90, 91, 92, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 98, 98, 98, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 101, 102, 108, 108, 108, 109, 111, 111, 111, 111, 111, 111, 111, 117, 120, 120, 120, 122, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 129, 131, 132, 142, 142, 144, 150, 150, 151, 151, 153, 157, 157, 158, 165, 165, 166, 166, 166, 168, 172, 172, 172, 172, 172, 172, 172, 180, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 184, 184, 185, 187, 187, 187, 189, 189, 190, 190, 190, 190, 190, 190, 193, 197, 197, 205, 210, 210, 210, 210, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 216, 218, 218, 218, 220, 220, 220, 220, 220, 222, 226, 228, 228, 228, 228, 228, 228, 228, 228, 228, 229, 234, 234, 235, 238, 238, 238, 240, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 246, 246, 249, 254, 254, 259, 260, 261, 262, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 268, 268, 269, 270, 271, 276, 277, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 293, 295, 299, 300, 300, 301, 301, 301, 304, 308, 309, 309, 309, 309, 309, 309, 317, 318, 318, 318, 318, 318, 318, 320, 321, 321, 323, 323, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 327, 333, 334, 335, 336, 337, 337, 337, 337, 338, 343, 344, 347, 359, 359, 360, 360, 363, 363, 364, 364, 364, 364, 365, 380, 388, 392, 396, 402, 402, 405, 416, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 424, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 428, 430, 433, 434, 435, 443, 444, 444, 444, 455, 455, 455, 462, 465, 474, 475, 475, 475, 475, 476, 482, 483, 489, 491, 491, 491, 491, 492, 492, 499, 505, 509, 509, 516, 516, 517, 517, 517, 521, 524, 527, 529, 530, 530, 530, 530, 531, 535, 541, 541, 543, 543, 546, 548, 548, 548, 548, 548, 548, 565, 566, 567, 577, 577, 578, 579, 579, 584, 586, 588, 590, 590, 591, 592, 595, 597, 597, 598, 598, 606, 606, 607, 608, 610, 610, 610, 611, 614, 614, 614, 614, 619, 619, 619, 623, 623, 624, 633, 633, 638, 644, 644, 646, 646, 646, 646, 646, 648, 648, 651, 652, 652, 652, 652, 652, 652, 662, 662, 662, 662, 663, 663, 663, 666, 669, 681, 683, 686, 686, 687, 689, 693, 693, 698, 700, 700, 701, 703, 707, 710, 711, 715, 718, 731, 733, 741, 745, 746, 746, 746, 746, 746, 749, 753, 753, 756, 763, 771, 775, 775, 775, 775, 782, 787, 794, 794, 800, 804, 805, 805, 807, 809, 809, 809, 809, 810, 810, 813, 815, 816, 824, 826, 826, 828, 829, 830, 830, 830, 830, 830, 830, 834, 840, 840, 840, 847, 847, 847, 847, 847, 847, 852, 852, 853, 853, 853, 853, 853, 853, 853, 861, 864, 864, 864, 865, 865, 867, 868, 871, 874, 876, 876, 888, 892, 896, 896, 896, 896, 896, 896, 898, 902, 903, 905, 906, 908, 916, 917, 919, 919, 920, 929, 931, 933, 936, 937, 937, 937, 937, 937, 937, 937, 941, 941, 944, 947, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 955, 956, 956, 964, 964, 967, 967, 967, 977, 1000, 1001, 1001, 1002, 1011, 1017, 1020, 1020, 1022, 1026, 1026, 1028, 1028, 1028, 1028, 1030, 1035]

In [0]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

240
0.2768166089965398