<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_3_tuning_healthnews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    966      0 --:--:-- --:--:-- --:--:--   969
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-3.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [51]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-3.validation.csv",header=None)
valid.head()

   0                          1
0  2             left heel pain
1  2  right heel became painful
2  8                  Arthritis
3  8                  arthritis
4  8                  arthritis

In [52]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-3.test.csv",header=None)
test.head()

   0                      1
0  2              heel pain
1  5       rapid heart beat
2  6  diastolic dysfunction
3  8              arthritis
4  8              arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_healthnews_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [57]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [61]:
learn.fit_one_cycle(1, 1e-2)

In [62]:
learn.fit_one_cycle(1, 1e-2)

In [63]:
learn.fit_one_cycle(1, 1e-3)

In [64]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('healthnews_fold3_first')

In [66]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('healthnews_fold3_first')
learn.fit_one_cycle(1, 1e-2)

In [67]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [68]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [69]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [70]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [71]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [72]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [73]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [74]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [75]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [76]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [77]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [78]:

learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [79]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [80]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [81]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [82]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [83]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [84]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-3-tuning-healthnews')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [87]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[2, 5, 1035, 1026, 1026, 1026, 1026, 933, 1035, 27, 27, 690, 1035, 30, 584, 1035, 1035, 1028, 37, 37, 37, 37, 37, 37, 896, 301, 896, 328, 1035, 49, 1028, 49, 421, 49, 49, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1002, 61, 61, 4, 1028, 100, 276, 686, 1035, 72, 746, 1035, 209, 289, 864, 164, 741, 741, 741, 1028, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 289, 1028, 1028, 289, 80, 80, 80, 89, 1028, 214, 214, 328, 1026, 1035, 1035, 826, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 289, 427, 96, 1028, 334, 217, 164, 214, 408, 214, 214, 861, 1028, 55, 180, 108, 717, 108, 864, 111, 289, 189, 117, 896, 1028, 145, 1028, 1028, 125, 1028, 125, 125, 125, 125, 125, 896, 289, 79, 753, 704, 622, 473, 473, 473, 140, 226, 447, 164, 809, 577, 517, 3, 1028, 1028, 167, 289, 55, 604, 111, 111, 462, 686, 686, 427, 1028, 897, 182, 182, 289, 289, 183, 183, 183, 183, 758, 758, 758, 758, 758, 758, 240, 240, 240, 240, 240, 240, 240, 190, 190, 190, 190, 190, 207, 193, 193, 193, 197, 197, 1035, 426, 49, 199, 814, 428, 205, 343, 209, 343, 1035, 704, 462, 265, 265, 1035, 1028, 1028, 1028, 1028, 1028, 1028, 265, 265, 369, 1028, 207, 553, 221, 1002, 864, 1035, 1035, 228, 864, 864, 864, 864, 1028, 686, 864, 289, 265, 1002, 276, 1002, 644, 55, 591, 1028, 1028, 236, 890, 1028, 240, 164, 427, 1028, 1028, 1028, 1028, 1028, 164, 1028, 1028, 726, 332, 246, 1028, 1028, 264, 260, 462, 864, 265, 265, 265, 337, 265, 337, 318, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 1035, 1028, 462, 289, 97, 265, 686, 635, 861, 289, 289, 289, 289, 111, 289, 289, 289, 289, 289, 864, 289, 289, 289, 289, 289, 289, 864, 441, 864, 806, 545, 55, 288, 80, 214, 214, 210, 910, 447, 309, 309, 309, 309, 309, 309, 351, 351, 754, 562, 360, 874, 163, 289, 1026, 1026, 49, 49, 49, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 577, 289, 427, 332, 1028, 605, 337, 418, 97, 768, 1028, 342, 157, 359, 359, 359, 359, 100, 364, 364, 364, 419, 364, 1028, 49, 596, 391, 391, 391, 391, 268, 1028, 1028, 1028, 358, 402, 402, 1028, 415, 415, 351, 418, 419, 419, 419, 419, 419, 1028, 419, 164, 1028, 425, 425, 557, 426, 1035, 246, 427, 427, 427, 427, 427, 430, 435, 754, 441, 443, 227, 444, 391, 444, 452, 454, 1028, 1028, 1028, 1028, 1028, 1035, 1028, 289, 164, 517, 517, 1028, 1028, 1028, 577, 406, 779, 55, 491, 491, 662, 82, 491, 499, 904, 507, 1035, 289, 3, 164, 164, 1035, 1035, 1035, 1035, 289, 146, 530, 530, 530, 705, 541, 408, 320, 545, 545, 545, 545, 545, 545, 1028, 1028, 1028, 1028, 1028, 549, 510, 370, 904, 652, 1028, 1028, 1028, 210, 210, 1035, 164, 1028, 1028, 591, 591, 1028, 592, 592, 1028, 1028, 465, 1028, 1028, 1028, 375, 164, 318, 427, 197, 197, 289, 622, 888, 1028, 491, 622, 623, 427, 1028, 627, 615, 111, 111, 652, 909, 648, 262, 1028, 644, 29, 646, 286, 55, 1028, 111, 652, 471, 652, 190, 660, 238, 661, 662, 520, 738, 690, 172, 741, 704, 741, 897, 909, 1035, 1035, 1035, 1035, 1035, 1028, 714, 715, 3, 727, 730, 65, 604, 861, 686, 462, 289, 524, 471, 746, 746, 746, 746, 748, 753, 111, 210, 107, 289, 897, 753, 210, 704, 704, 289, 783, 220, 220, 794, 780, 1028, 289, 1028, 105, 105, 783, 783, 265, 806, 806, 806, 806, 809, 809, 517, 274, 810, 1026, 245, 816, 384, 1035, 1035, 1026, 427, 826, 164, 164, 164, 1028, 1028, 1035, 1028, 1028, 1028, 1028, 289, 844, 844, 847, 531, 662, 848, 626, 1028, 164, 806, 1028, 1028, 1028, 1028, 1028, 861, 210, 582, 117, 1035, 209, 351, 623, 878, 579, 896, 896, 896, 896, 896, 1035, 896, 164, 164, 1028, 1028, 1028, 164, 164, 164, 164, 164, 586, 1028, 1028, 1028, 164, 164, 164, 1028, 1028, 1028, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1026, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 1028, 1026, 1009, 966, 164, 164, 164, 960, 1028, 1028, 164, 1028, 517, 1002, 962, 164, 164, 164, 1028, 1028, 164, 164, 1026, 966, 1035, 1028, 1028, 1028, 1028, 439, 227]
[2, 5, 6, 8, 8, 8, 12, 15, 17, 27, 27, 29, 29, 30, 31, 34, 34, 35, 37, 37, 37, 37, 37, 37, 37, 37, 37, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 60, 61, 61, 62, 62, 62, 63, 70, 71, 72, 74, 76, 77, 77, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 89, 90, 91, 91, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 98, 98, 99, 100, 100, 100, 100, 100, 104, 106, 107, 108, 108, 108, 109, 111, 111, 116, 117, 117, 119, 120, 122, 122, 125, 125, 125, 125, 125, 125, 125, 126, 127, 128, 129, 129, 131, 139, 139, 139, 140, 140, 142, 151, 151, 151, 154, 162, 163, 163, 167, 169, 170, 172, 172, 172, 172, 172, 172, 173, 173, 176, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 187, 187, 187, 187, 187, 187, 187, 190, 190, 190, 190, 190, 192, 193, 193, 193, 197, 197, 197, 197, 198, 199, 203, 204, 205, 205, 209, 210, 210, 210, 211, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 215, 216, 220, 220, 221, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 233, 234, 234, 234, 235, 235, 235, 236, 238, 238, 240, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 246, 246, 254, 254, 255, 260, 260, 260, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 281, 286, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 292, 293, 294, 298, 298, 299, 300, 300, 300, 301, 301, 305, 309, 309, 309, 309, 309, 309, 309, 309, 317, 318, 318, 318, 321, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 328, 329, 332, 335, 337, 337, 337, 337, 338, 340, 342, 354, 359, 359, 359, 359, 361, 364, 364, 364, 364, 364, 371, 384, 386, 391, 391, 391, 391, 392, 396, 396, 402, 402, 402, 402, 408, 415, 415, 418, 418, 419, 419, 419, 419, 419, 419, 419, 424, 424, 425, 425, 425, 426, 427, 427, 427, 427, 427, 427, 427, 430, 435, 437, 441, 443, 443, 444, 444, 444, 452, 454, 455, 455, 455, 455, 455, 455, 455, 471, 474, 475, 475, 475, 475, 475, 475, 487, 488, 490, 491, 491, 491, 491, 491, 499, 505, 507, 510, 513, 514, 517, 517, 517, 517, 517, 524, 524, 525, 530, 530, 530, 531, 541, 541, 542, 545, 545, 545, 545, 545, 545, 548, 548, 548, 548, 548, 549, 549, 559, 560, 572, 574, 574, 574, 574, 579, 583, 585, 590, 590, 591, 591, 592, 592, 592, 593, 593, 594, 599, 602, 602, 609, 610, 610, 610, 614, 614, 614, 615, 617, 619, 619, 622, 623, 624, 627, 627, 630, 633, 635, 636, 637, 638, 643, 644, 644, 646, 646, 646, 646, 646, 650, 652, 652, 652, 653, 654, 659, 661, 662, 672, 675, 690, 696, 700, 702, 703, 704, 708, 711, 711, 711, 711, 711, 714, 714, 715, 723, 727, 730, 736, 741, 741, 741, 741, 741, 742, 743, 746, 746, 746, 746, 748, 769, 771, 772, 774, 775, 775, 775, 775, 775, 775, 780, 783, 790, 790, 794, 794, 794, 797, 803, 804, 804, 805, 805, 805, 806, 806, 806, 806, 809, 809, 810, 810, 810, 812, 812, 816, 816, 817, 817, 818, 821, 826, 830, 830, 830, 830, 830, 830, 838, 840, 840, 840, 840, 844, 844, 847, 847, 847, 848, 852, 852, 853, 853, 853, 853, 853, 853, 857, 861, 862, 868, 876, 877, 879, 880, 891, 892, 896, 896, 896, 896, 896, 896, 896, 897, 919, 919, 919, 919, 929, 937, 937, 937, 937, 937, 937, 937, 937, 937, 940, 948, 948, 948, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 952, 952, 952, 952, 955, 956, 956, 958, 958, 964, 965, 966, 974, 976, 976, 980, 982, 983, 986, 992, 994, 999, 999, 1001, 1001, 1005, 1007, 1008, 1015, 1016, 1026, 1026, 1026, 1026, 1026, 1028, 1028, 1031, 1035]

In [88]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

215
0.24826789838337182