<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_9_tuning_pubmed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [12]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    916      0 --:--:-- --:--:-- --:--:--   916
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [13]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

fatal: destination path 'demo-nlp-classification-fastai' already exists and is not an empty directory.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-9.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [19]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-9.validation.csv",header=None)
valid.head()

   0                                 1
0  3  cracking sensations in my joints
1  5           fast and slow heartbeat
2  8                         arthritis
3  8                         arthritis
4  8                         arthritis

In [20]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-9.test.csv",header=None)
test.head()

   0                                            1
0  2                                painful heels
1  4  Discoloration of skin [blotchy] on the neck
2  5                  my heart rate jumped to 106
3  7                                       goiter
4  8                                    arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_pubmed_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [25]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [29]:
learn.fit_one_cycle(1, 1e-2)

In [30]:
learn.fit_one_cycle(1, 1e-2)

In [31]:
learn.fit_one_cycle(1, 1e-3)

In [32]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('pubmed_fold9_first')

In [34]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('pubmed_fold9_first')
learn.fit_one_cycle(1, 1e-2)

In [35]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [36]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [42]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [43]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [44]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [45]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [46]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [47]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [48]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-9-tuning-pubmed')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [51]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[686, 348, 788, 37, 8, 8, 8, 8, 8, 164, 359, 359, 529, 318, 37, 879, 246, 27, 27, 750, 31, 31, 584, 635, 37, 37, 37, 194, 182, 794, 289, 289, 289, 37, 511, 462, 511, 49, 49, 49, 775, 245, 53, 53, 343, 830, 194, 63, 426, 245, 71, 127, 76, 76, 893, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 265, 686, 37, 37, 37, 37, 636, 182, 289, 80, 80, 491, 448, 189, 108, 88, 627, 89, 37, 37, 37, 92, 94, 94, 94, 94, 94, 94, 94, 94, 228, 681, 37, 716, 746, 194, 49, 100, 100, 100, 575, 712, 108, 108, 108, 384, 111, 111, 111, 111, 117, 194, 117, 194, 125, 630, 630, 630, 630, 125, 125, 125, 125, 125, 125, 125, 125, 125, 343, 129, 127, 511, 27, 268, 268, 137, 37, 499, 142, 449, 37, 37, 158, 1032, 1032, 321, 37, 37, 37, 37, 37, 37, 245, 172, 289, 723, 704, 289, 172, 172, 172, 470, 37, 624, 165, 904, 847, 194, 182, 289, 37, 646, 646, 646, 183, 183, 183, 37, 37, 37, 37, 188, 190, 190, 190, 194, 211, 289, 289, 197, 197, 202, 260, 210, 210, 210, 289, 194, 37, 37, 896, 896, 471, 896, 214, 214, 214, 214, 265, 194, 470, 328, 37, 37, 226, 226, 228, 228, 228, 228, 228, 228, 289, 462, 462, 462, 462, 462, 462, 462, 462, 462, 289, 228, 746, 232, 234, 234, 470, 470, 557, 37, 337, 194, 434, 37, 243, 37, 243, 243, 243, 243, 470, 245, 245, 245, 37, 37, 37, 37, 876, 246, 246, 89, 97, 97, 444, 260, 309, 37, 265, 214, 337, 265, 402, 402, 265, 37, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 194, 276, 165, 280, 280, 280, 281, 37, 283, 805, 37, 289, 289, 289, 289, 289, 289, 265, 289, 289, 289, 289, 289, 289, 37, 289, 289, 289, 289, 289, 289, 289, 289, 289, 591, 470, 553, 454, 301, 301, 301, 245, 309, 281, 194, 703, 194, 194, 321, 636, 265, 689, 318, 318, 318, 318, 318, 318, 265, 325, 325, 470, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 37, 37, 325, 618, 511, 334, 336, 336, 265, 337, 337, 343, 343, 502, 189, 896, 359, 896, 896, 289, 364, 364, 365, 328, 194, 304, 391, 391, 402, 402, 358, 711, 408, 194, 328, 194, 471, 471, 260, 265, 260, 419, 426, 511, 511, 427, 427, 37, 816, 427, 427, 427, 435, 529, 664, 437, 443, 443, 444, 190, 446, 120, 541, 455, 455, 37, 37, 37, 37, 37, 37, 37, 309, 37, 289, 190, 463, 116, 360, 194, 475, 37, 37, 37, 591, 37, 479, 487, 566, 489, 490, 491, 491, 491, 491, 491, 491, 664, 491, 746, 318, 499, 499, 154, 516, 516, 517, 238, 517, 517, 517, 517, 521, 289, 289, 37, 530, 470, 531, 531, 644, 289, 536, 574, 541, 541, 545, 545, 545, 545, 427, 470, 37, 318, 574, 37, 491, 488, 37, 289, 579, 579, 579, 211, 805, 590, 590, 557, 459, 594, 427, 597, 245, 418, 614, 289, 289, 289, 289, 289, 426, 426, 617, 620, 775, 528, 528, 623, 623, 37, 318, 635, 643, 536, 626, 183, 183, 183, 434, 651, 652, 743, 636, 636, 656, 658, 662, 491, 491, 662, 337, 318, 574, 677, 764, 194, 194, 211, 49, 194, 289, 700, 37, 289, 826, 708, 107, 639, 37, 211, 517, 301, 111, 359, 741, 606, 746, 746, 541, 194, 749, 750, 828, 116, 245, 245, 773, 775, 775, 775, 876, 830, 790, 795, 517, 753, 804, 805, 413, 806, 37, 808, 808, 809, 808, 646, 809, 809, 536, 810, 812, 825, 511, 37, 37, 830, 830, 830, 830, 830, 830, 37, 194, 37, 201, 839, 201, 37, 840, 840, 841, 37, 843, 194, 194, 847, 828, 851, 852, 852, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 37, 127, 245, 58, 172, 358, 194, 510, 888, 888, 892, 896, 896, 896, 896, 896, 896, 896, 896, 704, 214, 685, 470, 919, 919, 919, 919, 1023, 194, 511, 937, 937, 470, 937, 37, 948, 948, 1032, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 470, 470, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 470, 950, 470, 470, 904, 960, 960, 470, 983, 965, 966, 470, 1032, 470, 37, 511, 992, 974, 470, 511, 470, 470, 470, 470, 1024, 37, 1026, 1028, 1032, 1035]
[2, 4, 5, 7, 8, 8, 8, 8, 8, 11, 16, 16, 20, 20, 21, 24, 27, 27, 27, 29, 31, 31, 31, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 38, 41, 49, 49, 49, 49, 49, 50, 53, 53, 55, 60, 61, 63, 65, 66, 71, 73, 76, 76, 78, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 82, 82, 85, 88, 88, 89, 89, 91, 91, 91, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 97, 98, 98, 100, 100, 100, 100, 100, 107, 108, 108, 108, 108, 111, 111, 111, 111, 117, 117, 117, 117, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 129, 129, 133, 135, 137, 137, 137, 139, 140, 142, 148, 151, 151, 158, 160, 160, 163, 166, 166, 166, 166, 166, 166, 166, 172, 172, 172, 172, 172, 172, 172, 172, 173, 173, 175, 178, 181, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 184, 187, 187, 187, 188, 190, 190, 190, 190, 190, 190, 190, 197, 197, 202, 206, 210, 210, 210, 210, 212, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 215, 216, 216, 218, 218, 226, 226, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 231, 232, 234, 234, 235, 235, 235, 235, 236, 236, 238, 238, 243, 243, 243, 243, 243, 243, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 253, 254, 254, 258, 260, 260, 260, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 272, 276, 277, 280, 280, 280, 281, 281, 283, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 300, 300, 301, 301, 301, 301, 309, 309, 309, 309, 309, 309, 309, 311, 313, 314, 316, 318, 318, 318, 318, 318, 318, 318, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 332, 334, 336, 336, 337, 337, 337, 343, 343, 344, 344, 351, 359, 363, 363, 364, 364, 364, 367, 377, 384, 387, 391, 391, 402, 402, 402, 408, 408, 415, 415, 418, 419, 419, 419, 419, 419, 419, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 435, 436, 437, 437, 438, 443, 444, 445, 446, 447, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 460, 460, 461, 462, 463, 467, 468, 470, 475, 475, 475, 475, 475, 476, 479, 487, 487, 489, 490, 491, 491, 491, 491, 491, 491, 491, 491, 492, 493, 499, 499, 500, 516, 516, 517, 517, 517, 517, 517, 517, 521, 522, 524, 529, 530, 531, 531, 531, 532, 533, 536, 539, 541, 541, 545, 545, 545, 545, 546, 548, 548, 554, 557, 559, 562, 565, 574, 577, 579, 579, 579, 581, 589, 590, 590, 591, 592, 594, 597, 597, 604, 610, 614, 614, 614, 614, 614, 614, 614, 614, 617, 620, 621, 623, 623, 623, 623, 629, 634, 635, 643, 644, 645, 646, 646, 646, 648, 651, 652, 652, 652, 652, 656, 658, 662, 662, 662, 662, 666, 670, 673, 677, 677, 686, 686, 688, 692, 693, 697, 700, 700, 704, 706, 708, 713, 715, 717, 728, 728, 728, 730, 733, 741, 741, 746, 746, 746, 746, 749, 750, 759, 762, 770, 772, 773, 775, 775, 775, 775, 785, 791, 795, 798, 803, 804, 805, 805, 806, 806, 808, 808, 809, 809, 809, 809, 809, 810, 810, 812, 825, 826, 826, 830, 830, 830, 830, 830, 830, 830, 830, 830, 834, 834, 839, 840, 840, 840, 840, 841, 842, 843, 844, 846, 847, 848, 851, 852, 852, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 855, 861, 864, 872, 881, 885, 888, 888, 892, 896, 896, 896, 896, 896, 896, 896, 897, 897, 897, 899, 912, 919, 919, 919, 919, 919, 933, 936, 937, 937, 937, 937, 943, 948, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 950, 952, 953, 955, 960, 961, 964, 964, 965, 966, 970, 975, 976, 985, 988, 992, 995, 1001, 1009, 1015, 1015, 1015, 1017, 1024, 1026, 1026, 1028, 1032, 1035]

In [52]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

452
0.5219399538106235