<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_overlap_0_cadec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0     50      0  0:00:05  0:00:05 --:--:--    68
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-0.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [11]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-0.validation.csv",header=None)
valid.head()

   0                             1
0  0                          fear
1  2                     heel pain
2  4  purple sploches around waist
3  7                        goiter
4  8                     ARTHRITIS

In [12]:
# testing data set

test = pd.read_csv(path/"AskAPatient_overlap_0.csv",header=None)
test.head()

   0                                 1
0  0                  'scared' feeling
1  3  cracking sensations in my joints
2  4      purple sploches around waist
3  5           fast and slow heartbeat
4  5              increased heart rate

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_cadec_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [17]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [21]:
learn.fit_one_cycle(1, 1e-2)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-3)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('AskAPatient_overlap_0_first')

In [26]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('AskAPatient_overlap_0_first')
learn.fit_one_cycle(1, 1e-2)

In [27]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [28]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [29]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [42]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [43]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('AskAPatient_overlap_0')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [46]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

610
610
[0, 3, 824, 334, 5, 1026, 1026, 510, 10, 509, 5, 374, 555, 27, 1028, 28, 29, 30, 30, 30, 76, 771, 218, 348, 515, 495, 353, 353, 49, 49, 764, 427, 70, 71, 71, 76, 289, 717, 537, 717, 260, 289, 289, 353, 80, 613, 89, 268, 163, 25, 94, 775, 96, 98, 423, 234, 90, 337, 100, 337, 100, 337, 100, 101, 314, 72, 660, 660, 636, 1035, 636, 211, 1035, 111, 466, 289, 289, 730, 537, 120, 537, 537, 125, 537, 125, 687, 289, 289, 289, 745, 253, 344, 638, 301, 520, 1035, 1035, 509, 178, 771, 101, 592, 614, 180, 509, 182, 182, 289, 772, 981, 189, 190, 190, 190, 190, 190, 190, 190, 197, 34, 197, 197, 197, 427, 769, 769, 210, 210, 210, 210, 228, 211, 877, 537, 471, 214, 164, 214, 537, 216, 220, 44, 427, 289, 289, 289, 228, 544, 231, 337, 236, 58, 809, 537, 537, 434, 240, 315, 537, 537, 537, 537, 537, 245, 245, 910, 245, 245, 723, 245, 245, 246, 170, 537, 537, 851, 1035, 289, 289, 537, 636, 419, 265, 314, 523, 427, 265, 265, 768, 334, 137, 348, 509, 289, 847, 283, 636, 805, 651, 289, 289, 289, 289, 289, 636, 289, 289, 289, 523, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 523, 291, 289, 849, 877, 299, 673, 874, 301, 214, 427, 790, 762, 309, 310, 660, 418, 660, 750, 642, 16, 318, 162, 427, 234, 708, 375, 537, 359, 325, 728, 61, 374, 203, 509, 509, 236, 337, 337, 337, 768, 343, 343, 343, 513, 289, 162, 672, 769, 471, 359, 359, 359, 315, 359, 360, 360, 775, 289, 191, 537, 387, 661, 391, 994, 331, 402, 402, 427, 288, 584, 415, 909, 419, 419, 471, 289, 651, 651, 537, 427, 426, 426, 427, 427, 427, 789, 427, 427, 427, 427, 591, 427, 509, 430, 433, 434, 435, 438, 441, 438, 444, 444, 391, 446, 94, 245, 463, 3, 473, 848, 591, 591, 105, 105, 105, 689, 479, 1035, 216, 744, 689, 486, 418, 771, 326, 491, 706, 491, 82, 601, 491, 746, 499, 509, 555, 763, 162, 126, 517, 537, 517, 509, 521, 245, 531, 644, 542, 480, 291, 545, 546, 549, 873, 88, 316, 491, 427, 318, 567, 775, 810, 301, 577, 573, 58, 578, 877, 579, 687, 579, 579, 584, 472, 289, 591, 447, 325, 591, 97, 97, 707, 235, 427, 541, 142, 604, 606, 289, 126, 65, 289, 478, 319, 162, 624, 344, 344, 344, 637, 245, 841, 723, 638, 774, 509, 651, 652, 720, 659, 810, 810, 660, 662, 662, 29, 665, 437, 706, 403, 706, 676, 563, 765, 289, 645, 687, 817, 480, 698, 660, 864, 289, 723, 289, 289, 301, 723, 265, 289, 771, 579, 706, 437, 707, 707, 316, 715, 772, 760, 638, 49, 581, 211, 88, 1035, 739, 579, 741, 741, 289, 289, 746, 746, 328, 746, 749, 753, 90, 96, 809, 773, 337, 732, 350, 771, 774, 775, 301, 100, 100, 100, 49, 775, 775, 344, 531, 787, 509, 147, 368, 296, 798, 509, 537, 537, 402, 200, 808, 809, 809, 809, 641, 810, 810, 575, 810, 45, 1035, 1035, 377, 826, 381, 828, 528, 509, 831, 537, 427, 858, 427, 640, 844, 329, 847, 808, 847, 539, 706, 864, 864, 864, 864, 865, 865, 81, 76, 537, 874, 876, 876, 877, 877, 882, 356, 888, 289, 893, 415, 896, 896, 896, 771, 896, 328, 902, 775, 860, 537, 906, 466, 1035, 537, 537, 1035, 1035, 1035, 1035, 537, 537, 966, 537, 1035, 495, 537, 1028, 1011, 1035, 1020, 353, 1028, 1029, 1029, 537]
[0, 3, 4, 5, 5, 7, 8, 9, 10, 14, 18, 19, 22, 27, 28, 28, 29, 30, 30, 30, 34, 37, 38, 40, 41, 47, 49, 49, 49, 49, 50, 61, 70, 71, 71, 76, 77, 77, 79, 79, 79, 79, 79, 79, 80, 82, 89, 89, 90, 93, 94, 94, 96, 98, 98, 98, 99, 100, 100, 100, 100, 100, 100, 101, 102, 107, 108, 108, 109, 110, 111, 111, 111, 111, 111, 111, 111, 111, 119, 120, 122, 125, 125, 125, 125, 129, 129, 129, 129, 132, 138, 144, 150, 150, 153, 157, 157, 163, 165, 166, 168, 170, 172, 180, 182, 182, 182, 182, 182, 187, 189, 190, 190, 190, 190, 190, 190, 190, 197, 197, 197, 197, 197, 204, 205, 205, 210, 210, 210, 210, 210, 211, 214, 214, 214, 214, 214, 214, 216, 218, 220, 228, 228, 228, 228, 228, 228, 229, 231, 234, 236, 236, 238, 238, 238, 238, 240, 240, 243, 243, 243, 243, 243, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 249, 254, 254, 259, 260, 260, 261, 265, 265, 265, 265, 265, 265, 265, 265, 266, 268, 268, 270, 272, 281, 282, 283, 286, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 293, 294, 295, 299, 299, 301, 301, 301, 301, 304, 304, 309, 309, 309, 309, 309, 317, 318, 318, 318, 318, 318, 320, 320, 321, 323, 325, 325, 326, 327, 330, 333, 334, 334, 337, 337, 337, 337, 338, 343, 343, 343, 343, 345, 346, 347, 350, 351, 359, 359, 359, 359, 359, 360, 360, 364, 364, 365, 380, 387, 388, 392, 394, 402, 402, 402, 408, 408, 413, 415, 416, 419, 419, 419, 419, 419, 419, 424, 424, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 428, 430, 433, 434, 435, 438, 441, 443, 444, 444, 444, 446, 453, 461, 462, 465, 473, 473, 475, 475, 476, 476, 476, 477, 479, 479, 481, 482, 483, 486, 487, 487, 488, 491, 491, 491, 491, 491, 491, 493, 499, 505, 505, 506, 509, 514, 517, 517, 517, 521, 521, 529, 531, 531, 542, 543, 543, 545, 546, 549, 549, 554, 561, 561, 565, 566, 567, 571, 575, 577, 577, 577, 577, 578, 578, 579, 579, 579, 579, 584, 586, 588, 591, 591, 591, 591, 594, 594, 595, 595, 596, 598, 598, 604, 606, 606, 609, 611, 614, 614, 617, 623, 624, 633, 633, 633, 637, 638, 640, 646, 648, 648, 648, 651, 652, 654, 659, 659, 659, 660, 662, 662, 663, 663, 663, 664, 669, 677, 681, 683, 686, 686, 686, 687, 689, 693, 698, 700, 700, 701, 701, 702, 702, 702, 702, 703, 703, 704, 704, 705, 705, 707, 707, 710, 715, 716, 718, 723, 727, 730, 731, 733, 738, 739, 741, 741, 741, 741, 741, 746, 746, 746, 746, 749, 753, 756, 761, 763, 765, 766, 767, 770, 771, 774, 775, 775, 775, 775, 775, 775, 775, 775, 782, 784, 787, 787, 788, 794, 794, 798, 800, 803, 804, 805, 807, 808, 809, 809, 809, 809, 810, 810, 810, 810, 813, 815, 816, 826, 826, 827, 828, 829, 830, 831, 834, 840, 840, 840, 840, 844, 846, 847, 847, 847, 847, 861, 864, 864, 864, 864, 865, 865, 865, 867, 871, 874, 876, 876, 877, 877, 882, 883, 888, 889, 893, 894, 896, 896, 896, 896, 896, 898, 902, 903, 903, 905, 906, 908, 917, 920, 926, 932, 933, 933, 949, 949, 955, 966, 969, 994, 994, 1000, 1002, 1011, 1019, 1020, 1026, 1028, 1029, 1029, 1030]

In [48]:
correct_num = 0

for i in range(0, 610):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

228
0.3737704918032787