<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_overlap_80_cadec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    694      0 --:--:-- --:--:-- --:--:--   694
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-0.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [12]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-0.validation.csv",header=None)
valid.head()

   0                             1
0  0                          fear
1  2                     heel pain
2  4  purple sploches around waist
3  7                        goiter
4  8                     ARTHRITIS

In [13]:
# testing data set

test = pd.read_csv(path/"AskAPatient_overlap_80.csv",header=None)
test.head()

   0                          1
0  0           'scared' feeling
1  2                  heel pain
2  2                  heel pain
3  2                  heel pain
4  2  right heel became painful

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_cadec_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [18]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-2)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [25]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('AskAPatient_overlap_80_first')

In [27]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('AskAPatient_overlap_80_first')
learn.fit_one_cycle(1, 1e-2)

In [28]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [29]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [42]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [43]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [44]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [45]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [46]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('AskAPatient_overlap_80')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [49]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

3051
3051
[416, 2, 2, 2, 2, 2, 66, 4, 308, 334, 584, 5, 48, 48, 48, 48, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 269, 1035, 48, 8, 500, 10, 98, 123, 16, 16, 1035, 5, 71, 20, 21, 21, 964, 1035, 610, 23, 25, 27, 27, 27, 27, 1028, 27, 29, 29, 30, 30, 864, 30, 31, 584, 584, 584, 584, 584, 584, 32, 32, 34, 34, 34, 964, 704, 289, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 704, 37, 37, 37, 37, 37, 289, 289, 704, 289, 289, 704, 37, 614, 190, 218, 39, 432, 515, 42, 42, 44, 44, 44, 45, 48, 256, 1031, 1031, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 78, 52, 1032, 1032, 1032, 852, 852, 852, 852, 852, 852, 852, 852, 57, 58, 58, 59, 60, 60, 427, 61, 62, 62, 62, 62, 65, 1031, 69, 70, 70, 70, 70, 717, 776, 71, 71, 71, 71, 71, 71, 71, 491, 75, 76, 76, 76, 76, 289, 77, 289, 753, 122, 614, 614, 353, 353, 1031, 79, 614, 79, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 289, 289, 289, 260, 260, 260, 214, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 289, 265, 265, 79, 288, 220, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 81, 82, 416, 260, 353, 88, 88, 89, 137, 137, 445, 89, 48, 980, 328, 353, 80, 80, 80, 80, 80, 80, 517, 94, 94, 94, 94, 94, 94, 94, 572, 453, 453, 453, 453, 453, 453, 453, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 96, 761, 761, 96, 97, 97, 98, 683, 234, 98, 98, 794, 100, 337, 100, 100, 100, 100, 100, 337, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 847, 100, 100, 100, 100, 100, 100, 100, 101, 185, 103, 353, 353, 105, 427, 107, 107, 660, 660, 660, 660, 660, 660, 660, 660, 260, 209, 1035, 110, 203, 111, 289, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 33, 1035, 111, 111, 126, 289, 289, 289, 289, 730, 111, 289, 114, 115, 116, 117, 117, 1031, 446, 120, 288, 288, 120, 753, 753, 1031, 1031, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 1031, 125, 125, 127, 127, 646, 289, 289, 289, 130, 130, 131, 131, 312, 13, 134, 355, 1031, 214, 355, 355, 355, 137, 879, 473, 497, 497, 1031, 447, 447, 447, 447, 447, 143, 144, 145, 146, 146, 537, 893, 301, 151, 151, 151, 151, 151, 151, 1031, 672, 155, 157, 354, 52, 158, 158, 39, 162, 163, 805, 165, 165, 166, 166, 350, 350, 350, 350, 350, 350, 257, 1031, 54, 171, 700, 172, 172, 289, 700, 700, 700, 289, 289, 289, 614, 864, 864, 864, 864, 864, 864, 864, 700, 172, 214, 214, 214, 265, 176, 683, 180, 180, 180, 180, 289, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 289, 289, 289, 289, 289, 182, 49, 289, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 184, 184, 184, 185, 185, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 187, 1031, 189, 189, 189, 189, 1031, 753, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 289, 190, 190, 190, 190, 190, 192, 105, 105, 105, 193, 193, 1035, 197, 197, 34, 34, 34, 34, 197, 197, 197, 197, 197, 197, 200, 202, 202, 203, 805, 94, 205, 769, 289, 289, 289, 769, 445, 207, 209, 209, 210, 210, 210, 210, 210, 210, 210, 265, 211, 213, 214, 214, 34, 1031, 34, 34, 34, 34, 34, 34, 34, 34, 214, 384, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 427, 214, 214, 214, 214, 214, 214, 369, 1031, 353, 184, 218, 218, 218, 218, 218, 218, 218, 220, 220, 220, 220, 220, 220, 220, 220, 220, 353, 872, 872, 872, 224, 140, 140, 323, 227, 228, 228, 228, 631, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 1031, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 544, 230, 231, 231, 232, 323, 234, 234, 234, 234, 234, 235, 235, 235, 1031, 235, 235, 235, 236, 236, 236, 236, 337, 214, 238, 238, 1031, 1031, 710, 710, 238, 238, 1031, 239, 187, 240, 1031, 1031, 1031, 1031, 1031, 353, 353, 353, 1031, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 866, 1031, 1031, 1031, 787, 244, 245, 245, 728, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 350, 245, 245, 246, 246, 246, 246, 246, 27, 357, 357, 357, 246, 25, 247, 1031, 1031, 251, 1031, 909, 909, 909, 909, 909, 728, 1035, 655, 260, 260, 260, 260, 260, 260, 260, 1031, 251, 251, 264, 265, 872, 265, 265, 471, 265, 265, 704, 265, 265, 265, 265, 265, 660, 214, 301, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 1031, 265, 265, 260, 352, 265, 289, 289, 289, 427, 265, 265, 265, 265, 214, 185, 86, 137, 137, 137, 445, 1031, 269, 269, 256, 353, 517, 274, 274, 275, 276, 276, 1031, 277, 277, 277, 1031, 472, 1035, 280, 280, 281, 281, 281, 281, 289, 289, 762, 283, 626, 589, 651, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 864, 289, 289, 289, 289, 289, 260, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 260, 290, 291, 291, 291, 289, 289, 293, 603, 801, 783, 297, 1031, 298, 298, 298, 298, 299, 589, 220, 220, 300, 300, 301, 301, 301, 301, 301, 301, 427, 459, 790, 304, 762, 305, 1035, 308, 308, 309, 309, 309, 309, 309, 309, 309, 309, 289, 289, 289, 289, 472, 310, 762, 317, 748, 317, 642, 318, 427, 427, 427, 359, 360, 360, 360, 79, 318, 366, 146, 360, 319, 962, 216, 321, 375, 1031, 323, 331, 325, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 301, 301, 353, 353, 353, 613, 325, 49, 49, 325, 325, 729, 326, 326, 61, 328, 329, 39, 332, 332, 332, 332, 332, 203, 334, 551, 551, 335, 335, 336, 336, 336, 336, 337, 337, 337, 337, 337, 337, 337, 337, 337, 214, 185, 337, 337, 337, 337, 337, 414, 338, 338, 341, 342, 343, 343, 343, 343, 343, 343, 343, 343, 343, 343, 144, 364, 323, 849, 770, 214, 352, 352, 353, 355, 356, 357, 359, 359, 359, 359, 359, 596, 359, 359, 359, 359, 432, 359, 360, 360, 360, 360, 360, 260, 363, 363, 363, 363, 363, 364, 701, 364, 364, 364, 364, 364, 364, 364, 364, 364, 364, 289, 726, 367, 370, 374, 374, 375, 376, 379, 1031, 384, 384, 386, 386, 857, 427, 391, 391, 391, 391, 391, 391, 584, 392, 994, 353, 395, 353, 353, 396, 192, 540, 1031, 39, 402, 402, 402, 402, 402, 402, 402, 402, 402, 403, 404, 405, 407, 42, 288, 288, 288, 288, 408, 408, 408, 408, 410, 805, 415, 415, 415, 416, 100, 418, 418, 418, 418, 418, 651, 471, 651, 651, 651, 651, 651, 651, 651, 651, 651, 651, 651, 651, 651, 651, 651, 651, 651, 651, 353, 353, 289, 289, 289, 289, 419, 419, 419, 419, 420, 421, 421, 422, 1031, 424, 589, 425, 425, 425, 614, 426, 426, 426, 426, 426, 426, 426, 426, 426, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 353, 427, 214, 427, 427, 427, 427, 427, 427, 427, 427, 427, 591, 886, 1031, 1031, 427, 428, 428, 589, 427, 432, 910, 238, 435, 289, 435, 435, 435, 447, 438, 440, 441, 441, 441, 445, 445, 445, 442, 878, 444, 444, 444, 444, 444, 444, 391, 391, 446, 446, 446, 447, 448, 427, 1035, 94, 454, 454, 1031, 353, 353, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 1031, 455, 353, 353, 353, 456, 458, 460, 460, 464, 462, 289, 464, 466, 469, 469, 470, 470, 471, 473, 473, 780, 473, 794, 710, 159, 475, 780, 780, 780, 780, 780, 591, 787, 787, 787, 551, 479, 427, 402, 437, 1035, 485, 492, 486, 487, 836, 488, 487, 567, 488, 489, 489, 489, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 721, 491, 491, 491, 491, 491, 355, 491, 491, 491, 492, 492, 492, 492, 492, 589, 495, 495, 495, 495, 495, 495, 496, 497, 499, 232, 499, 232, 501, 502, 805, 805, 81, 507, 507, 360, 509, 509, 872, 515, 353, 516, 516, 517, 517, 517, 517, 517, 517, 517, 517, 517, 1031, 517, 517, 517, 517, 517, 517, 517, 520, 521, 433, 521, 775, 872, 872, 872, 524, 524, 289, 289, 524, 524, 524, 525, 353, 528, 528, 765, 530, 530, 530, 530, 530, 530, 530, 530, 530, 530, 530, 530, 531, 531, 531, 298, 531, 532, 535, 536, 27, 1035, 537, 538, 540, 1031, 541, 541, 541, 541, 541, 541, 541, 541, 542, 328, 591, 544, 545, 545, 545, 545, 545, 545, 546, 1031, 384, 384, 384, 384, 384, 384, 384, 384, 384, 384, 384, 384, 384, 549, 549, 550, 551, 552, 214, 555, 559, 334, 491, 427, 427, 567, 569, 775, 572, 572, 573, 539, 236, 810, 185, 185, 573, 577, 58, 578, 363, 579, 579, 687, 579, 579, 582, 584, 584, 585, 872, 587, 1031, 289, 589, 1031, 105, 105, 105, 105, 105, 591, 325, 325, 591, 591, 591, 353, 592, 592, 592, 592, 592, 592, 515, 515, 707, 595, 595, 369, 595, 427, 1031, 597, 597, 597, 1031, 491, 251, 689, 1031, 1031, 289, 604, 687, 467, 464, 427, 608, 427, 610, 610, 610, 326, 326, 326, 326, 326, 326, 326, 326, 610, 353, 611, 613, 289, 614, 614, 614, 478, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 484, 618, 352, 352, 352, 619, 619, 619, 619, 622, 623, 528, 353, 318, 214, 624, 624, 625, 1031, 627, 1031, 836, 144, 144, 144, 635, 614, 638, 640, 640, 427, 642, 643, 644, 644, 644, 644, 1031, 644, 644, 644, 646, 646, 646, 646, 646, 646, 646, 646, 646, 646, 646, 646, 646, 353, 904, 728, 648, 648, 728, 651, 652, 652, 636, 636, 636, 636, 636, 636, 636, 636, 652, 652, 289, 720, 655, 656, 659, 659, 810, 810, 660, 662, 662, 662, 662, 662, 662, 662, 662, 662, 662, 662, 491, 664, 437, 706, 664, 666, 666, 711, 674, 675, 678, 680, 676, 682, 683, 386, 289, 289, 686, 765, 686, 185, 279, 847, 693, 693, 694, 695, 698, 699, 700, 289, 700, 289, 860, 701, 702, 289, 289, 702, 651, 702, 700, 289, 703, 265, 704, 704, 704, 704, 579, 706, 427, 707, 707, 708, 708, 710, 710, 710, 710, 316, 711, 711, 711, 711, 711, 712, 445, 626, 287, 287, 287, 287, 711, 715, 715, 510, 717, 717, 466, 779, 723, 764, 727, 729, 870, 281, 573, 735, 735, 736, 736, 737, 1035, 739, 289, 741, 741, 687, 687, 289, 289, 289, 289, 289, 745, 745, 745, 746, 746, 746, 746, 746, 746, 746, 746, 530, 746, 746, 749, 749, 749, 750, 752, 753, 753, 753, 753, 753, 794, 753, 427, 764, 764, 245, 546, 765, 389, 337, 766, 427, 769, 769, 769, 224, 771, 771, 771, 771, 772, 773, 773, 774, 774, 775, 775, 775, 301, 100, 775, 775, 775, 775, 775, 775, 775, 775, 775, 775, 775, 775, 775, 775, 778, 778, 778, 778, 780, 344, 783, 783, 359, 787, 787, 81, 787, 790, 790, 582, 793, 216, 794, 621, 796, 797, 798, 1031, 626, 753, 753, 753, 753, 1031, 803, 804, 804, 1031, 805, 805, 806, 806, 806, 710, 200, 808, 808, 408, 809, 809, 809, 809, 809, 809, 809, 809, 530, 809, 810, 810, 810, 810, 575, 810, 813, 517, 1035, 1031, 33, 355, 817, 821, 823, 824, 825, 826, 377, 1031, 826, 826, 826, 826, 826, 827, 393, 828, 886, 353, 353, 830, 830, 830, 830, 830, 830, 830, 830, 787, 830, 830, 830, 830, 830, 830, 830, 831, 1031, 834, 834, 834, 840, 801, 260, 1031, 840, 640, 640, 640, 617, 841, 844, 846, 847, 847, 847, 847, 808, 847, 847, 847, 847, 216, 847, 847, 847, 1031, 852, 852, 1031, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 1031, 853, 857, 858, 859, 860, 861, 805, 863, 864, 864, 864, 864, 864, 864, 864, 861, 865, 491, 323, 867, 868, 1031, 513, 159, 874, 875, 236, 876, 245, 877, 877, 877, 877, 877, 878, 878, 878, 165, 570, 886, 888, 289, 289, 892, 893, 893, 301, 895, 896, 896, 896, 34, 896, 896, 896, 897, 897, 897, 897, 897, 897, 897, 897, 897, 897, 897, 897, 896, 896, 185, 896, 897, 897, 898, 1035, 902, 753, 470, 904, 904, 904, 904, 1031, 906, 466, 910, 1031, 1031, 994, 353, 353, 353, 353, 353, 353, 353, 353, 353, 1031, 1031, 1031, 1035, 1031, 927, 1035, 1031, 1031, 1031, 1035, 279, 279, 1035, 1031, 353, 353, 353, 789, 977, 977, 977, 977, 977, 977, 977, 977, 977, 977, 977, 977, 977, 977, 977, 977, 977, 977, 977, 279, 279, 1031, 1031, 642, 642, 642, 1031, 353, 353, 1031, 1031, 999, 999, 999, 999, 999, 999, 1031, 353, 353, 1031, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 904, 1035, 1031, 214, 214, 472, 472, 472, 472, 950, 950, 950, 950, 950, 950, 950, 950, 950, 950, 950, 950, 355, 355, 355, 355, 355, 1035, 955, 955, 955, 955, 1031, 956, 956, 866, 958, 958, 960, 961, 962, 1031, 353, 353, 353, 1026, 353, 353, 353, 353, 353, 353, 969, 1031, 1031, 974, 974, 1035, 445, 445, 445, 977, 977, 1031, 355, 1031, 353, 1031, 1031, 1031, 983, 983, 1031, 1031, 1031, 353, 1031, 1031, 1035, 994, 994, 994, 355, 1031, 355, 355, 355, 355, 962, 1003, 1031, 353, 1011, 1031, 1014, 1015, 994, 994, 994, 510, 279, 1031, 1035, 353, 1023, 1026, 966, 1028, 1031, 510, 279, 1028, 1028, 1028, 1028, 1028, 1028, 353, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1029, 1035, 1029, 1029, 1031, 1035, 1035]

In [50]:
correct_num = 0

for i in range(0, len(predict_list)):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

1952
0.6397902327105867