<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_6_tuning_healthnews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0   1221      0 --:--:-- --:--:-- --:--:--  1216
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-6.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [11]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-6.validation.csv",header=None)
valid.head()

   0                        1
0  2                heel pain
1  2               heels hurt
2  4     black and blue marks
3  5  fast and slow heartbeat
4  5     increased heart rate

In [12]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-6.test.csv",header=None)
test.head()

   0               1
0  2  left heel pain
1  5     tachycardia
2  8       ARTHRITIS
3  8       arthrites
4  8       arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_healthnews_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [17]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [21]:
learn.fit_one_cycle(1, 1e-2)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-3)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('healthnews_fold6_first')

In [26]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('healthnews_fold6_first')
learn.fit_one_cycle(1, 1e-2)

In [27]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [28]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [29]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-6-tuning-healthnews')

In [42]:
learn.load_encoder('ask-6-tuning-healthnews')
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [43]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [44]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [45]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [46]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [47]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [49]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[2, 1026, 8, 1026, 8, 8, 8, 8, 8, 8, 8, 339, 227, 27, 584, 1035, 639, 37, 37, 37, 37, 37, 289, 775, 639, 639, 402, 1002, 326, 814, 409, 49, 1026, 326, 711, 711, 711, 711, 711, 711, 790, 326, 711, 711, 711, 711, 326, 321, 265, 265, 577, 343, 135, 326, 877, 877, 289, 864, 210, 128, 228, 711, 711, 711, 265, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 289, 172, 711, 711, 711, 711, 80, 80, 80, 80, 80, 80, 175, 491, 711, 210, 711, 326, 711, 711, 711, 711, 326, 49, 711, 711, 711, 711, 711, 711, 711, 228, 96, 711, 711, 214, 546, 214, 214, 214, 228, 265, 33, 108, 108, 108, 108, 788, 224, 111, 805, 877, 326, 1035, 711, 315, 775, 117, 289, 711, 864, 711, 817, 125, 711, 125, 125, 125, 125, 125, 125, 125, 127, 910, 319, 135, 443, 402, 132, 151, 151, 711, 52, 52, 711, 165, 117, 309, 864, 864, 864, 1035, 711, 825, 174, 182, 182, 182, 183, 183, 183, 183, 711, 711, 240, 240, 187, 189, 190, 190, 1035, 289, 197, 1035, 205, 210, 210, 635, 190, 1035, 326, 326, 711, 711, 711, 711, 711, 1035, 577, 265, 265, 289, 49, 711, 402, 220, 864, 100, 27, 289, 864, 864, 864, 864, 864, 864, 864, 864, 864, 289, 1035, 1035, 1035, 289, 402, 711, 265, 711, 711, 325, 711, 711, 711, 711, 711, 711, 565, 711, 711, 470, 117, 245, 402, 246, 711, 1026, 651, 289, 221, 227, 265, 100, 265, 265, 265, 265, 265, 265, 704, 265, 265, 265, 265, 265, 265, 265, 265, 265, 1035, 711, 289, 214, 1035, 289, 1002, 269, 165, 165, 165, 165, 165, 289, 741, 847, 441, 288, 289, 289, 912, 289, 210, 289, 289, 289, 635, 289, 182, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 49, 291, 289, 289, 864, 546, 546, 711, 605, 100, 704, 228, 864, 1035, 318, 318, 360, 360, 320, 326, 49, 10, 49, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 564, 332, 332, 332, 336, 577, 577, 337, 214, 766, 265, 31, 1035, 1035, 342, 342, 343, 343, 502, 344, 94, 814, 402, 402, 359, 711, 289, 49, 521, 711, 71, 375, 517, 426, 391, 391, 391, 391, 391, 391, 711, 402, 728, 402, 405, 326, 1035, 711, 711, 245, 1035, 1035, 419, 419, 419, 419, 419, 129, 651, 419, 419, 711, 711, 197, 427, 326, 615, 427, 427, 427, 427, 427, 427, 427, 741, 229, 430, 904, 664, 879, 441, 258, 441, 443, 444, 391, 391, 89, 326, 711, 711, 711, 711, 1035, 145, 459, 326, 326, 711, 711, 1035, 289, 473, 711, 318, 711, 711, 711, 711, 475, 180, 909, 491, 605, 489, 491, 491, 662, 491, 491, 220, 499, 140, 140, 499, 473, 227, 509, 1035, 517, 524, 289, 289, 864, 623, 530, 530, 530, 531, 711, 662, 541, 541, 291, 545, 545, 545, 291, 644, 711, 711, 217, 444, 1035, 1035, 567, 561, 579, 753, 909, 326, 326, 591, 794, 591, 592, 592, 592, 594, 210, 1035, 228, 326, 711, 711, 1035, 816, 76, 76, 76, 76, 76, 76, 1035, 1035, 326, 623, 711, 318, 1035, 427, 203, 289, 546, 546, 646, 646, 646, 646, 318, 646, 741, 289, 228, 228, 652, 108, 108, 491, 664, 666, 677, 728, 210, 766, 530, 691, 711, 265, 702, 704, 703, 704, 210, 326, 909, 1035, 1035, 289, 769, 245, 1035, 735, 735, 735, 735, 37, 402, 402, 749, 1035, 245, 480, 711, 877, 769, 210, 508, 727, 337, 578, 461, 567, 205, 729, 117, 491, 1035, 470, 773, 228, 228, 117, 487, 896, 605, 896, 210, 245, 847, 49, 10, 289, 802, 711, 711, 711, 1035, 473, 806, 711, 711, 711, 758, 809, 810, 1035, 766, 826, 826, 826, 826, 359, 711, 711, 711, 711, 711, 711, 711, 711, 711, 402, 711, 711, 711, 711, 71, 847, 591, 1035, 711, 711, 711, 711, 711, 711, 711, 711, 711, 1035, 856, 421, 360, 228, 864, 865, 1035, 868, 868, 1026, 896, 728, 888, 890, 301, 704, 698, 704, 896, 896, 896, 289, 289, 896, 1035, 773, 210, 55, 711, 326, 1023, 326, 326, 1026, 326, 326, 711, 711, 711, 329, 326, 326, 326, 711, 1026, 1026, 1026, 1026, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 326, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 711, 326, 326, 326, 326, 326, 326, 326, 326, 326, 711, 326, 326, 326, 326, 326, 326, 326, 711, 711, 326, 711, 741, 265, 326, 326, 711, 711, 1024, 1026, 711, 1035, 711, 1028, 1029, 1029, 1031, 1035]
[2, 5, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 27, 31, 34, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 39, 41, 41, 41, 46, 49, 49, 49, 49, 49, 49, 49, 49, 49, 51, 53, 53, 53, 53, 53, 54, 56, 58, 58, 58, 60, 64, 67, 71, 71, 76, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 81, 81, 83, 89, 90, 91, 91, 91, 91, 91, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 96, 100, 100, 100, 100, 100, 100, 102, 106, 108, 108, 108, 108, 108, 111, 111, 111, 111, 112, 113, 114, 116, 117, 117, 118, 120, 121, 122, 123, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 129, 131, 135, 137, 138, 139, 151, 151, 156, 157, 157, 163, 165, 171, 172, 172, 172, 172, 172, 173, 177, 179, 182, 182, 182, 183, 183, 183, 183, 184, 184, 187, 187, 187, 189, 190, 190, 191, 197, 197, 201, 205, 210, 210, 211, 211, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 218, 220, 220, 223, 224, 225, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 235, 236, 238, 242, 243, 243, 243, 243, 243, 243, 243, 245, 245, 245, 245, 245, 245, 246, 246, 249, 254, 260, 264, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 269, 269, 277, 277, 277, 277, 277, 279, 281, 282, 284, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 293, 293, 293, 298, 298, 300, 301, 301, 301, 309, 309, 309, 318, 318, 318, 318, 320, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 332, 332, 332, 336, 337, 337, 337, 337, 337, 337, 338, 341, 341, 342, 342, 343, 343, 344, 344, 346, 351, 358, 358, 359, 362, 363, 368, 370, 371, 374, 375, 383, 384, 391, 391, 391, 391, 391, 391, 394, 394, 402, 402, 405, 408, 408, 408, 408, 416, 418, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 424, 424, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 434, 437, 439, 441, 441, 441, 443, 444, 445, 446, 446, 455, 455, 455, 455, 455, 455, 457, 459, 460, 460, 460, 460, 470, 473, 473, 474, 475, 475, 475, 475, 475, 475, 475, 477, 486, 488, 489, 491, 491, 491, 491, 491, 497, 499, 499, 499, 499, 504, 506, 509, 510, 517, 524, 524, 524, 526, 528, 530, 530, 530, 531, 534, 541, 541, 541, 541, 545, 545, 545, 545, 546, 548, 548, 562, 563, 565, 565, 567, 576, 577, 579, 583, 590, 590, 591, 591, 591, 592, 592, 592, 594, 597, 601, 606, 610, 610, 610, 611, 614, 614, 614, 614, 614, 614, 614, 614, 614, 623, 623, 623, 623, 625, 626, 631, 635, 644, 644, 646, 646, 646, 646, 646, 646, 649, 651, 652, 652, 652, 656, 660, 662, 665, 666, 678, 686, 686, 687, 689, 691, 693, 700, 704, 704, 704, 704, 704, 708, 709, 710, 710, 717, 722, 723, 732, 735, 735, 735, 735, 741, 745, 745, 749, 753, 753, 755, 757, 763, 764, 764, 764, 764, 766, 769, 769, 769, 769, 770, 771, 771, 772, 772, 773, 775, 775, 775, 775, 775, 775, 775, 775, 775, 776, 780, 794, 801, 802, 803, 803, 804, 805, 805, 806, 806, 806, 806, 809, 809, 810, 817, 819, 826, 826, 826, 826, 826, 830, 830, 830, 830, 830, 830, 830, 830, 835, 836, 838, 840, 840, 840, 846, 847, 847, 848, 848, 852, 852, 852, 852, 853, 853, 853, 853, 853, 856, 861, 861, 864, 864, 865, 866, 868, 868, 871, 876, 883, 888, 890, 894, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 902, 903, 904, 918, 919, 933, 935, 935, 936, 937, 937, 937, 937, 937, 940, 948, 948, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 952, 952, 955, 956, 957, 958, 964, 967, 972, 976, 976, 976, 976, 980, 986, 994, 999, 1010, 1015, 1015, 1020, 1024, 1026, 1026, 1026, 1026, 1028, 1029, 1029, 1031, 1035]

In [50]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

214
0.2471131639722864