<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_2_tuning_healthnews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    986      0 --:--:-- --:--:-- --:--:--   982
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
Unpacking objects: 100% (9/9), done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-2.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [53]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-2.validation.csv",header=None)
valid.head()

   0                                            1
0  2                               left heel pain
1  4  Discoloration of skin [blotchy] on the neck
2  7                                       goiter
3  8                                    arthritis
4  8                                    arthritis

In [54]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-2.test.csv",header=None)
test.head()

   0                     1
0  2       right heel pain
1  4  black and blue marks
2  8            arthritice
3  8             arthritis
4  8             arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_healthnews_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [59]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [63]:
learn.fit_one_cycle(1, 1e-2)

In [64]:
learn.fit_one_cycle(1, 1e-2)

In [65]:
learn.fit_one_cycle(1, 1e-3)

In [66]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('healthnews_fold2_first')

In [68]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('healthnews_fold2_first')
learn.fit_one_cycle(1, 1e-2)

In [69]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [70]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [71]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [72]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [73]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [74]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [75]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [76]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [77]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [78]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [79]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [80]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [81]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [82]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [83]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [84]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-2-tuning-healthnews')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [87]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[2, 783, 1026, 269, 269, 269, 1026, 778, 49, 16, 810, 225, 30, 320, 414, 414, 414, 228, 1035, 439, 37, 696, 37, 37, 37, 37, 775, 289, 289, 289, 289, 623, 702, 256, 49, 228, 49, 49, 301, 228, 228, 228, 228, 228, 228, 135, 140, 164, 228, 228, 228, 434, 265, 60, 228, 228, 228, 735, 245, 182, 364, 227, 607, 805, 94, 289, 289, 228, 228, 228, 228, 427, 289, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 172, 172, 228, 228, 228, 228, 228, 220, 912, 80, 80, 80, 80, 80, 318, 228, 268, 228, 92, 92, 961, 164, 164, 49, 826, 826, 228, 228, 228, 228, 289, 228, 228, 1035, 98, 265, 265, 265, 265, 108, 660, 660, 289, 638, 111, 111, 111, 100, 289, 111, 337, 120, 1026, 228, 228, 228, 228, 228, 125, 125, 125, 125, 125, 125, 125, 125, 125, 513, 289, 131, 264, 745, 228, 228, 137, 139, 142, 143, 228, 228, 847, 228, 155, 157, 1035, 537, 228, 228, 228, 604, 462, 462, 289, 289, 210, 626, 326, 735, 326, 182, 462, 462, 758, 758, 1035, 187, 187, 187, 187, 187, 189, 190, 190, 190, 190, 190, 289, 190, 360, 105, 105, 597, 326, 326, 1035, 1035, 738, 203, 205, 205, 205, 912, 511, 289, 210, 210, 1035, 122, 228, 228, 228, 840, 228, 228, 228, 228, 228, 1035, 265, 265, 265, 1035, 289, 369, 164, 228, 577, 577, 220, 289, 351, 855, 228, 513, 289, 289, 463, 1035, 660, 231, 140, 646, 746, 164, 228, 591, 228, 117, 265, 164, 228, 228, 164, 164, 228, 228, 228, 228, 228, 750, 228, 228, 228, 228, 774, 578, 567, 3, 517, 374, 374, 228, 228, 289, 289, 318, 111, 301, 337, 265, 265, 265, 703, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 228, 687, 463, 100, 666, 274, 1035, 277, 269, 912, 220, 289, 289, 289, 289, 289, 289, 289, 289, 567, 463, 864, 111, 79, 289, 289, 289, 289, 289, 289, 289, 289, 79, 82, 291, 293, 1035, 646, 646, 100, 265, 330, 140, 308, 309, 509, 509, 131, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 289, 1002, 332, 268, 228, 336, 336, 734, 228, 337, 301, 265, 703, 317, 463, 768, 1035, 342, 343, 343, 343, 62, 1035, 172, 359, 596, 289, 228, 3, 363, 604, 604, 289, 1035, 370, 61, 706, 391, 443, 402, 289, 787, 228, 416, 351, 337, 635, 471, 260, 260, 228, 419, 420, 541, 553, 369, 228, 426, 741, 1035, 706, 1035, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 228, 463, 735, 49, 806, 228, 427, 447, 441, 439, 427, 444, 446, 446, 142, 427, 454, 164, 228, 289, 228, 228, 105, 164, 462, 908, 289, 471, 591, 493, 517, 704, 579, 210, 489, 662, 491, 662, 117, 491, 491, 1035, 427, 495, 495, 495, 140, 203, 882, 1035, 517, 517, 517, 517, 1035, 517, 517, 521, 741, 524, 524, 524, 825, 3, 648, 528, 530, 530, 530, 531, 826, 55, 532, 1035, 847, 746, 746, 746, 541, 164, 228, 551, 553, 301, 214, 579, 864, 427, 1035, 847, 31, 585, 1026, 228, 428, 1026, 228, 591, 592, 505, 595, 595, 164, 427, 462, 289, 164, 228, 269, 228, 326, 655, 1035, 289, 1035, 1035, 228, 228, 228, 624, 100, 1035, 635, 706, 1035, 318, 234, 443, 646, 1035, 505, 648, 636, 265, 660, 491, 491, 289, 228, 577, 265, 702, 702, 704, 98, 197, 1035, 1035, 1035, 164, 228, 228, 1035, 717, 638, 735, 736, 98, 228, 111, 289, 735, 746, 746, 749, 749, 749, 1035, 769, 769, 769, 245, 646, 3, 646, 726, 769, 214, 210, 773, 704, 778, 778, 778, 778, 780, 207, 796, 164, 164, 289, 228, 804, 806, 416, 228, 809, 809, 809, 426, 823, 735, 427, 228, 1026, 228, 228, 228, 591, 120, 228, 228, 228, 61, 868, 847, 775, 847, 228, 228, 228, 228, 289, 166, 864, 864, 1035, 117, 896, 896, 896, 896, 896, 606, 1035, 772, 1002, 1035, 228, 164, 228, 228, 228, 164, 228, 164, 164, 937, 228, 164, 164, 164, 164, 164, 164, 164, 164, 1026, 1026, 1026, 1026, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 164, 164, 164, 164, 1002, 164, 164, 164, 961, 999, 164, 164, 228, 1024, 977, 228, 228, 228, 164, 228, 164, 164, 228, 164, 994, 1035, 164, 164, 164, 1003, 228, 1014, 164, 164, 164, 1026, 1026, 1026, 228, 228, 1026, 1026, 1035, 228, 1028, 1028, 1028, 1028, 1028, 1028, 1002, 1035, 818]
[2, 4, 8, 8, 8, 8, 8, 8, 10, 16, 23, 27, 30, 31, 31, 31, 31, 32, 34, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 39, 40, 44, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 52, 53, 53, 53, 53, 57, 58, 60, 62, 62, 68, 69, 70, 70, 70, 71, 71, 71, 75, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 80, 82, 83, 89, 90, 92, 92, 93, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 97, 98, 100, 100, 100, 100, 108, 108, 108, 109, 110, 111, 111, 111, 111, 111, 111, 115, 120, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 129, 131, 132, 135, 135, 135, 137, 139, 142, 143, 149, 151, 151, 152, 155, 157, 161, 162, 163, 166, 166, 172, 172, 172, 172, 172, 172, 174, 180, 180, 182, 182, 182, 182, 183, 183, 185, 187, 187, 187, 187, 187, 189, 190, 190, 190, 190, 190, 190, 190, 190, 193, 193, 194, 197, 197, 197, 197, 202, 203, 205, 205, 205, 207, 207, 209, 210, 210, 210, 213, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 215, 218, 218, 218, 218, 220, 223, 224, 227, 228, 228, 228, 228, 228, 228, 230, 231, 232, 234, 234, 235, 235, 235, 235, 236, 236, 238, 238, 238, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 246, 249, 254, 260, 260, 260, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 274, 274, 275, 277, 277, 278, 280, 281, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 291, 293, 297, 298, 298, 301, 301, 304, 306, 308, 310, 318, 318, 319, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 329, 332, 334, 335, 336, 336, 337, 337, 337, 337, 337, 337, 337, 337, 338, 341, 342, 343, 343, 343, 343, 353, 356, 359, 359, 360, 362, 363, 363, 364, 364, 364, 364, 370, 375, 379, 391, 395, 402, 402, 404, 408, 416, 418, 418, 419, 419, 419, 419, 419, 419, 420, 421, 422, 425, 426, 426, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 436, 441, 443, 443, 444, 446, 446, 447, 450, 454, 455, 455, 455, 455, 455, 458, 460, 464, 466, 469, 471, 473, 473, 485, 487, 487, 488, 489, 491, 491, 491, 491, 491, 491, 492, 492, 495, 495, 495, 499, 501, 502, 509, 517, 517, 517, 517, 517, 517, 517, 521, 524, 524, 524, 524, 524, 524, 528, 528, 530, 530, 530, 531, 531, 531, 532, 537, 540, 541, 541, 541, 541, 548, 548, 551, 552, 555, 572, 573, 574, 575, 579, 582, 584, 585, 587, 588, 589, 590, 590, 591, 592, 595, 595, 595, 597, 597, 604, 606, 610, 610, 610, 611, 614, 614, 614, 614, 614, 618, 619, 619, 619, 624, 627, 632, 635, 640, 640, 642, 644, 646, 646, 646, 646, 648, 652, 652, 656, 662, 662, 686, 693, 695, 699, 702, 704, 704, 708, 708, 710, 710, 711, 714, 714, 714, 715, 717, 727, 735, 736, 737, 741, 741, 741, 745, 746, 746, 749, 749, 750, 753, 753, 764, 764, 764, 765, 765, 766, 769, 769, 771, 773, 775, 775, 778, 778, 778, 778, 780, 790, 796, 803, 803, 803, 803, 804, 806, 806, 806, 809, 809, 809, 810, 823, 825, 826, 826, 830, 830, 830, 830, 830, 831, 834, 840, 840, 841, 847, 847, 847, 847, 849, 853, 853, 853, 853, 859, 864, 864, 866, 896, 896, 896, 896, 896, 896, 897, 901, 903, 904, 904, 914, 919, 919, 919, 919, 922, 933, 937, 937, 937, 938, 940, 940, 940, 948, 948, 948, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 952, 953, 955, 955, 958, 960, 962, 967, 967, 973, 974, 977, 980, 981, 981, 983, 986, 988, 989, 989, 991, 994, 994, 997, 1001, 1001, 1003, 1013, 1014, 1015, 1016, 1016, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1028, 1028, 1028, 1028, 1028, 1028, 1029, 1029, 1035]

In [88]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

216
0.24942263279445728