<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_8_tuning_healthnews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    986      0 --:--:-- --:--:-- --:--:--   982
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
Unpacking objects: 100% (9/9), done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-8.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [12]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-8.validation.csv",header=None)
valid.head()

   0                              1
0  0                scared to death
1  2                      heel pain
2  5           increased heart rate
3  6  stage 1 diastolic dysfunction
4  8                      arthritis

In [13]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-8.test.csv",header=None)
test.head()

   0                       1
0  1          Abdominal rash
1  5  increase my heart rate
2  5             tachycardia
3  8               arthritis
4  8               arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_healthnews_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [18]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-2)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [25]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('healthnews_fold8_first')

In [27]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('healthnews_fold8_first')
learn.fit_one_cycle(1, 1e-2)

In [28]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [29]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-8-tuning-healthnews')

In [43]:
learn.load_encoder('ask-8-tuning-healthnews')
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [44]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [45]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [46]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [47]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [49]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[528, 258, 949, 8, 8, 8, 949, 20, 403, 197, 491, 491, 31, 31, 1035, 736, 635, 487, 37, 289, 896, 896, 1035, 1028, 326, 265, 325, 1035, 775, 1028, 1028, 228, 1028, 1028, 1028, 1028, 933, 92, 92, 228, 541, 289, 289, 228, 228, 1028, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 686, 1028, 1028, 80, 80, 80, 80, 85, 1028, 228, 1028, 1028, 228, 228, 94, 94, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 289, 455, 713, 289, 1035, 492, 1028, 100, 100, 265, 265, 265, 100, 100, 994, 193, 108, 108, 289, 1035, 289, 182, 289, 289, 289, 289, 289, 289, 111, 289, 1028, 117, 745, 778, 125, 125, 125, 1028, 1028, 125, 125, 125, 125, 778, 289, 386, 343, 355, 1035, 360, 289, 330, 137, 137, 473, 142, 847, 151, 151, 1028, 157, 1035, 1002, 165, 1028, 1028, 210, 172, 289, 289, 289, 1028, 245, 1028, 102, 182, 182, 182, 182, 289, 289, 183, 183, 183, 183, 183, 183, 183, 183, 1028, 1028, 289, 227, 187, 240, 240, 289, 189, 190, 190, 190, 190, 190, 190, 211, 190, 190, 193, 279, 1035, 206, 206, 210, 210, 227, 1028, 1028, 1028, 1028, 1028, 1028, 265, 265, 265, 265, 94, 289, 680, 1028, 147, 220, 220, 220, 741, 214, 226, 227, 228, 228, 228, 864, 864, 289, 289, 289, 289, 289, 289, 289, 289, 289, 1035, 1028, 289, 289, 234, 909, 546, 298, 909, 1028, 1028, 214, 236, 1028, 893, 1028, 1028, 33, 1028, 1028, 1028, 243, 1028, 100, 1028, 245, 726, 1028, 1028, 605, 470, 245, 10, 1035, 228, 291, 289, 289, 797, 265, 100, 214, 265, 265, 265, 289, 1035, 265, 265, 265, 265, 265, 265, 265, 265, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 265, 265, 318, 289, 172, 1035, 318, 289, 463, 8, 165, 165, 165, 169, 635, 289, 289, 289, 606, 211, 289, 289, 289, 289, 289, 289, 214, 289, 289, 289, 289, 326, 291, 543, 146, 289, 741, 210, 1035, 300, 415, 415, 301, 37, 475, 1028, 304, 809, 289, 309, 309, 309, 309, 309, 418, 289, 245, 318, 326, 49, 49, 49, 49, 49, 49, 49, 49, 49, 276, 1035, 210, 1035, 332, 332, 98, 336, 337, 337, 343, 343, 343, 890, 673, 211, 289, 359, 359, 769, 120, 391, 444, 1028, 243, 1028, 265, 402, 289, 402, 291, 279, 735, 89, 584, 771, 418, 471, 471, 419, 419, 419, 419, 419, 419, 419, 426, 1028, 1028, 1028, 326, 326, 427, 427, 796, 427, 427, 427, 427, 427, 427, 427, 1028, 289, 427, 890, 1028, 434, 443, 441, 447, 264, 689, 1035, 454, 228, 228, 1028, 1028, 1028, 1028, 1028, 904, 459, 228, 210, 279, 1035, 1035, 654, 471, 591, 1028, 325, 591, 268, 475, 848, 318, 491, 491, 491, 491, 491, 1028, 2, 735, 419, 495, 495, 503, 143, 890, 210, 1028, 517, 517, 289, 831, 289, 524, 524, 1028, 530, 530, 530, 531, 531, 298, 1028, 1028, 369, 911, 491, 673, 567, 513, 268, 584, 402, 1028, 1028, 326, 592, 592, 1035, 595, 462, 455, 55, 1028, 1035, 289, 289, 289, 1035, 82, 4, 1028, 622, 528, 484, 427, 633, 864, 809, 646, 646, 646, 470, 638, 419, 289, 289, 289, 289, 720, 662, 662, 437, 861, 328, 1028, 289, 702, 289, 741, 210, 289, 707, 318, 824, 717, 626, 605, 591, 726, 98, 228, 289, 703, 289, 289, 541, 750, 749, 751, 1028, 893, 71, 289, 824, 210, 245, 861, 364, 775, 265, 289, 605, 777, 778, 364, 700, 289, 260, 787, 848, 228, 1028, 1028, 289, 806, 806, 1002, 404, 809, 809, 809, 810, 810, 1028, 289, 826, 826, 228, 1028, 1028, 1028, 1028, 1002, 1028, 1028, 1028, 831, 861, 1028, 1028, 1028, 245, 1028, 700, 102, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 749, 741, 364, 159, 730, 1028, 402, 82, 805, 1035, 1035, 197, 289, 896, 896, 910, 896, 896, 289, 255, 994, 1035, 1035, 1035, 289, 1028, 209, 801, 228, 1028, 227, 228, 228, 228, 228, 228, 228, 228, 1028, 937, 1028, 1028, 1028, 1028, 228, 1028, 227, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 227, 228, 228, 228, 228, 228, 228, 1028, 1028, 228, 228, 228, 1028, 1028, 966, 228, 228, 210, 228, 228, 1028, 228, 228, 228, 228, 228, 933, 227, 228, 1028, 228, 1028, 1028, 228, 1028, 227, 1028, 1028, 1028, 1035, 1035, 1028, 1028, 228, 1028, 1028, 1028, 1029]
[1, 5, 5, 8, 8, 8, 12, 20, 26, 27, 29, 29, 31, 31, 34, 34, 34, 37, 37, 37, 37, 37, 42, 43, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 53, 53, 60, 60, 60, 70, 74, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 85, 87, 91, 91, 91, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 98, 99, 100, 100, 100, 100, 100, 100, 100, 103, 105, 108, 108, 108, 110, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 112, 117, 118, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 126, 127, 127, 135, 135, 135, 135, 136, 137, 137, 139, 142, 151, 151, 151, 152, 157, 159, 164, 165, 166, 166, 166, 172, 172, 172, 172, 173, 173, 181, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 184, 184, 185, 187, 187, 187, 187, 188, 189, 190, 190, 190, 190, 190, 190, 190, 190, 190, 193, 194, 202, 206, 206, 210, 210, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 218, 218, 220, 220, 220, 220, 223, 224, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 234, 234, 234, 234, 235, 235, 236, 236, 238, 238, 239, 242, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 250, 252, 254, 257, 260, 260, 263, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 266, 269, 277, 277, 277, 280, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 291, 291, 291, 293, 293, 293, 293, 300, 301, 301, 301, 301, 303, 304, 304, 307, 309, 309, 309, 309, 309, 309, 309, 310, 318, 318, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 326, 329, 332, 332, 334, 336, 337, 337, 343, 343, 343, 349, 350, 352, 358, 359, 359, 373, 375, 391, 391, 394, 398, 401, 402, 402, 402, 402, 405, 406, 408, 413, 414, 415, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 423, 424, 424, 424, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 429, 434, 439, 441, 447, 449, 451, 453, 454, 455, 455, 455, 455, 455, 455, 455, 459, 459, 460, 462, 463, 469, 470, 471, 471, 473, 474, 475, 475, 475, 475, 478, 479, 491, 491, 491, 491, 491, 491, 491, 492, 494, 495, 495, 503, 503, 503, 513, 516, 517, 517, 517, 519, 523, 524, 524, 527, 530, 530, 530, 531, 531, 546, 548, 548, 557, 558, 561, 574, 578, 579, 580, 584, 587, 590, 590, 591, 592, 592, 594, 595, 596, 597, 603, 610, 614, 614, 614, 614, 614, 615, 617, 619, 622, 623, 623, 624, 633, 637, 641, 646, 646, 646, 647, 648, 651, 651, 652, 652, 652, 652, 662, 662, 664, 681, 693, 695, 700, 701, 701, 704, 704, 704, 707, 711, 716, 717, 721, 723, 723, 726, 738, 741, 741, 741, 741, 741, 746, 749, 749, 751, 759, 761, 763, 764, 767, 773, 774, 775, 775, 775, 775, 775, 775, 777, 778, 779, 779, 781, 786, 788, 794, 794, 794, 794, 803, 806, 806, 808, 809, 809, 809, 809, 810, 810, 812, 820, 826, 826, 830, 830, 830, 830, 830, 830, 830, 830, 830, 831, 833, 834, 834, 840, 841, 847, 847, 847, 848, 852, 852, 852, 853, 853, 853, 853, 853, 861, 861, 864, 865, 870, 871, 872, 876, 876, 877, 877, 877, 889, 896, 896, 896, 896, 896, 896, 900, 900, 904, 904, 904, 904, 905, 907, 910, 912, 934, 937, 937, 937, 937, 937, 937, 937, 937, 937, 937, 941, 941, 941, 943, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 950, 950, 955, 955, 963, 964, 964, 964, 965, 966, 967, 970, 973, 976, 978, 979, 980, 983, 983, 989, 997, 999, 1001, 1001, 1001, 1004, 1004, 1005, 1016, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1027, 1028, 1028, 1028, 1029]

In [50]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

208
0.24018475750577367