<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_4_tuning_cadec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [27]:
os.mkdir(base_dir)

FileExistsError: ignored

In [28]:
os.mkdir('medical-concept-normalization/data_collection')

FileExistsError: ignored

**Install fastai and clone the fastai for text classification**

In [29]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0   1688      0 --:--:-- --:--:-- --:--:--  1688
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [30]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

fatal: destination path 'demo-nlp-classification-fastai' already exists and is not an empty directory.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-4.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [34]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-4.validation.csv",header=None)
valid.head()

   0                      1
0  6  diastolic dysfunction
1  8              ARTHRITIS
2  8              arthritis
3  8              arthritis
4  8              arthritis

In [35]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-4.test.csv",header=None)
test.head()

    0                              1
0   4   purple sploches around waist
1   6  stage 1 diastolic dysfunction
2   8                      arthritis
3  12                       shingles
4  16                            flu

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_cadec_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [44]:
learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('ft_fold4_first')

In [49]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('ft_fold4_first')
learn.fit_one_cycle(1, 1e-2)

In [50]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [51]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [52]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [53]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [54]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [55]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [56]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [57]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [58]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [59]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [60]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-4-tuning-cadec')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [63]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[824, 753, 269, 12, 16, 359, 298, 298, 27, 29, 31, 31, 31, 31, 31, 32, 775, 491, 37, 37, 37, 289, 37, 42, 1002, 780, 49, 49, 100, 49, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 53, 928, 53, 928, 109, 471, 61, 61, 62, 710, 76, 76, 76, 614, 289, 614, 753, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 614, 289, 80, 80, 788, 268, 80, 753, 92, 92, 92, 94, 94, 94, 453, 453, 453, 453, 453, 453, 453, 453, 453, 453, 75, 94, 94, 373, 710, 96, 100, 100, 100, 295, 660, 660, 1031, 111, 111, 289, 111, 111, 111, 730, 1035, 116, 1031, 120, 815, 815, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 289, 167, 473, 140, 143, 553, 157, 906, 178, 178, 166, 166, 257, 172, 172, 289, 172, 172, 172, 172, 479, 165, 182, 182, 182, 182, 182, 182, 182, 717, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 1031, 187, 187, 188, 189, 189, 293, 190, 190, 190, 190, 190, 462, 289, 34, 197, 769, 206, 220, 661, 210, 214, 787, 214, 214, 214, 214, 102, 214, 214, 214, 214, 214, 1035, 710, 218, 304, 379, 717, 226, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 289, 234, 234, 235, 235, 236, 236, 236, 625, 243, 1031, 614, 785, 785, 1031, 771, 910, 214, 245, 245, 245, 771, 771, 245, 383, 909, 265, 265, 265, 265, 265, 265, 265, 265, 702, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 704, 439, 270, 214, 274, 276, 280, 280, 462, 451, 614, 1031, 98, 289, 636, 260, 265, 289, 289, 289, 289, 289, 289, 364, 289, 289, 289, 289, 289, 289, 289, 289, 1031, 660, 75, 771, 301, 314, 214, 100, 309, 309, 309, 309, 745, 318, 214, 321, 1031, 753, 753, 325, 325, 325, 301, 301, 301, 301, 301, 301, 301, 542, 815, 49, 326, 326, 332, 332, 106, 336, 337, 100, 337, 320, 414, 52, 342, 733, 343, 343, 343, 73, 343, 623, 771, 701, 784, 359, 359, 368, 360, 362, 775, 1031, 858, 591, 0, 872, 40, 441, 391, 391, 140, 815, 710, 358, 402, 402, 402, 785, 288, 288, 333, 418, 651, 337, 651, 651, 419, 1031, 815, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 816, 194, 430, 430, 431, 376, 434, 435, 441, 258, 441, 441, 18, 455, 455, 455, 455, 459, 460, 604, 772, 771, 471, 214, 1035, 202, 415, 475, 489, 491, 491, 541, 491, 491, 491, 491, 491, 491, 491, 779, 82, 491, 492, 1031, 495, 378, 343, 510, 510, 323, 1031, 517, 272, 517, 550, 350, 388, 75, 530, 530, 530, 530, 27, 27, 1035, 1031, 1031, 541, 541, 545, 545, 546, 546, 546, 384, 384, 384, 785, 557, 559, 723, 771, 564, 733, 883, 775, 50, 100, 579, 579, 583, 31, 815, 815, 815, 592, 592, 97, 594, 427, 427, 710, 597, 604, 101, 610, 209, 426, 614, 614, 614, 614, 866, 866, 710, 260, 528, 528, 710, 710, 815, 624, 82, 627, 560, 894, 840, 644, 646, 532, 644, 646, 646, 646, 646, 646, 646, 646, 646, 646, 648, 652, 636, 636, 636, 651, 655, 658, 658, 662, 662, 664, 666, 666, 671, 677, 677, 524, 622, 696, 364, 708, 890, 711, 711, 252, 716, 715, 594, 648, 594, 728, 741, 289, 655, 744, 746, 749, 753, 496, 245, 769, 721, 774, 775, 775, 777, 778, 787, 402, 794, 473, 111, 415, 1031, 539, 809, 847, 815, 607, 809, 809, 809, 810, 881, 426, 817, 817, 824, 825, 826, 862, 826, 826, 826, 48, 1031, 830, 830, 550, 1031, 528, 840, 840, 368, 696, 642, 642, 844, 846, 693, 847, 531, 847, 591, 82, 850, 1031, 785, 853, 853, 853, 853, 853, 853, 853, 853, 853, 1031, 853, 543, 471, 702, 864, 864, 864, 865, 867, 771, 771, 214, 877, 878, 178, 890, 893, 896, 896, 896, 301, 896, 896, 896, 904, 904, 673, 196, 771, 591, 1031, 919, 919, 48, 912, 1031, 937, 937, 622, 622, 48, 48, 912, 912, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 963, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 753, 950, 950, 352, 1031, 952, 952, 1031, 753, 961, 815, 912, 912, 614, 968, 1031, 1009, 48, 48, 625, 1001, 1001, 710, 401, 1015, 1015, 1031, 710, 1018, 818, 1026, 1031, 1031, 1026, 1031, 1031, 1028, 1029, 1031, 48, 1035]
[4, 6, 8, 12, 16, 16, 27, 27, 27, 29, 31, 31, 31, 31, 31, 32, 37, 37, 37, 37, 37, 37, 37, 42, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 53, 59, 60, 61, 61, 62, 64, 76, 76, 76, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 89, 91, 91, 92, 92, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 96, 100, 100, 100, 107, 108, 108, 108, 111, 111, 111, 111, 111, 111, 111, 113, 116, 119, 120, 122, 122, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 129, 131, 139, 140, 143, 147, 157, 160, 165, 165, 166, 166, 168, 172, 172, 172, 172, 172, 172, 172, 175, 178, 182, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 186, 187, 187, 188, 189, 189, 190, 190, 190, 190, 190, 190, 190, 195, 197, 197, 205, 206, 207, 208, 210, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 216, 218, 220, 220, 223, 226, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 234, 235, 235, 236, 236, 236, 243, 243, 243, 243, 243, 243, 243, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 254, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 270, 271, 274, 276, 280, 280, 281, 285, 286, 287, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 298, 300, 300, 301, 301, 301, 301, 301, 309, 309, 309, 309, 312, 318, 318, 321, 323, 323, 323, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 326, 332, 332, 335, 336, 337, 337, 337, 338, 338, 339, 342, 343, 343, 343, 343, 343, 343, 348, 350, 359, 359, 359, 359, 359, 360, 362, 363, 364, 366, 368, 372, 382, 385, 390, 391, 391, 393, 396, 401, 402, 402, 402, 402, 408, 408, 408, 409, 418, 419, 419, 419, 419, 419, 420, 424, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 430, 431, 434, 434, 435, 441, 441, 441, 441, 446, 455, 455, 455, 455, 459, 460, 463, 470, 470, 471, 471, 472, 474, 475, 475, 489, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 492, 495, 495, 508, 509, 510, 511, 516, 516, 517, 517, 517, 518, 521, 522, 529, 530, 530, 530, 530, 536, 536, 537, 540, 540, 541, 541, 545, 545, 546, 546, 546, 548, 548, 548, 556, 557, 559, 565, 567, 568, 570, 570, 573, 574, 577, 579, 579, 583, 584, 590, 590, 590, 592, 592, 594, 594, 596, 597, 597, 597, 604, 610, 610, 614, 614, 614, 614, 614, 614, 616, 616, 619, 619, 623, 623, 623, 623, 623, 624, 626, 627, 633, 639, 640, 644, 644, 644, 644, 646, 646, 646, 646, 646, 646, 646, 646, 646, 648, 652, 652, 652, 652, 652, 655, 658, 658, 662, 662, 664, 666, 666, 671, 676, 684, 686, 693, 696, 702, 708, 711, 711, 711, 714, 715, 715, 715, 723, 724, 728, 741, 741, 742, 744, 746, 749, 753, 758, 765, 769, 772, 774, 775, 775, 777, 778, 787, 789, 794, 794, 797, 801, 803, 808, 809, 809, 809, 809, 809, 809, 809, 810, 811, 816, 817, 817, 824, 825, 826, 826, 826, 826, 826, 830, 830, 830, 830, 831, 832, 838, 840, 840, 840, 841, 841, 841, 844, 846, 847, 847, 847, 847, 848, 849, 850, 852, 852, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 854, 860, 860, 864, 864, 864, 865, 867, 876, 876, 877, 877, 878, 882, 890, 893, 896, 896, 896, 896, 896, 896, 897, 904, 904, 904, 904, 910, 911, 918, 919, 919, 919, 921, 924, 937, 937, 937, 937, 942, 945, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 951, 952, 952, 954, 955, 961, 964, 967, 967, 967, 968, 969, 977, 996, 998, 999, 1001, 1001, 1001, 1007, 1015, 1015, 1016, 1017, 1018, 1025, 1026, 1026, 1026, 1026, 1026, 1026, 1028, 1029, 1031, 1033, 1035]

In [64]:
correct_num = 0

for i in range(0, len(predict_list)):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

508
0.5866050808314087