<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_0_tuning_cadec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [7]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    432      0 --:--:-- --:--:-- --:--:--   432
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [8]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-0.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [14]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-0.validation.csv",header=None)
valid.head()

   0                             1
0  0                          fear
1  2                     heel pain
2  4  purple sploches around waist
3  7                        goiter
4  8                     ARTHRITIS

In [60]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-0.test.csv",header=None)
test.head()

   0                                 1
0  0                  'scared' feeling
1  2                         heel pain
2  3  cracking sensations in my joints
3  5           fast and slow heartbeat
4  5              increased heart rate

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_cadec_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [68]:
learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('ft_fold1_first')

In [70]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('ft_fold1_first')
learn.fit_one_cycle(1, 1e-2)

In [73]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [74]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [75]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [76]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [77]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [78]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [79]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [80]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [81]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [82]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [83]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [84]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [85]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [88]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-0-tuning-pubmed')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [98]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

867
867
[359, 2, 228, 334, 5, 8, 8, 8, 8, 8, 8, 8, 685, 788, 21, 194, 610, 27, 27, 545, 29, 30, 30, 30, 31, 584, 32, 34, 76, 289, 289, 289, 289, 289, 289, 289, 38, 44, 183, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 53, 113, 58, 427, 71, 71, 491, 76, 76, 515, 289, 655, 655, 614, 214, 194, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 526, 260, 289, 289, 614, 614, 80, 80, 80, 80, 80, 80, 80, 80, 80, 88, 89, 89, 268, 49, 91, 92, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 98, 683, 98, 100, 301, 100, 100, 100, 100, 100, 100, 100, 100, 291, 236, 660, 660, 660, 209, 512, 111, 111, 111, 1035, 111, 289, 117, 831, 983, 983, 80, 125, 194, 630, 125, 125, 125, 125, 125, 125, 125, 125, 778, 127, 129, 131, 312, 447, 447, 144, 2, 415, 151, 151, 672, 354, 758, 158, 165, 165, 166, 723, 166, 291, 289, 700, 172, 172, 172, 172, 172, 610, 127, 182, 182, 182, 182, 289, 183, 183, 183, 758, 758, 758, 758, 758, 758, 758, 758, 758, 758, 184, 184, 185, 187, 187, 848, 189, 189, 190, 190, 190, 190, 190, 190, 193, 34, 34, 769, 269, 210, 210, 210, 34, 214, 214, 214, 471, 877, 877, 877, 877, 877, 214, 214, 214, 214, 194, 427, 80, 218, 218, 220, 220, 220, 220, 220, 214, 226, 228, 228, 228, 228, 228, 228, 228, 228, 228, 544, 234, 234, 235, 238, 194, 753, 796, 194, 353, 243, 243, 243, 243, 243, 194, 245, 245, 245, 245, 245, 245, 245, 355, 245, 170, 246, 357, 357, 194, 909, 909, 1035, 260, 194, 251, 265, 655, 265, 265, 471, 265, 58, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 89, 268, 268, 269, 904, 355, 276, 277, 202, 289, 289, 289, 289, 289, 651, 289, 289, 289, 289, 289, 289, 655, 289, 289, 289, 289, 289, 289, 289, 291, 289, 877, 299, 300, 300, 265, 301, 427, 762, 308, 309, 309, 309, 309, 310, 864, 750, 642, 318, 318, 359, 265, 427, 369, 321, 321, 194, 427, 325, 325, 301, 301, 301, 301, 301, 301, 301, 301, 301, 325, 355, 325, 325, 326, 61, 203, 334, 710, 336, 337, 337, 337, 337, 768, 343, 144, 672, 359, 359, 360, 360, 363, 363, 289, 660, 364, 364, 858, 194, 661, 391, 214, 402, 402, 405, 610, 418, 419, 471, 651, 651, 651, 651, 471, 419, 419, 260, 736, 426, 426, 427, 427, 427, 427, 427, 427, 427, 693, 355, 789, 427, 427, 591, 736, 430, 910, 434, 435, 438, 444, 444, 445, 912, 455, 455, 463, 3, 474, 475, 591, 475, 591, 355, 744, 451, 489, 491, 491, 721, 491, 492, 492, 499, 711, 787, 509, 516, 516, 517, 194, 517, 521, 524, 1032, 765, 530, 530, 530, 530, 531, 535, 541, 541, 559, 291, 546, 384, 384, 384, 384, 384, 384, 427, 427, 567, 301, 58, 579, 687, 579, 584, 872, 289, 590, 710, 325, 592, 595, 597, 597, 491, 583, 606, 289, 607, 608, 610, 610, 610, 355, 289, 614, 614, 614, 642, 194, 194, 122, 623, 624, 660, 660, 638, 644, 644, 646, 646, 646, 646, 646, 443, 728, 651, 652, 652, 652, 652, 636, 636, 662, 662, 491, 662, 29, 665, 437, 666, 541, 676, 491, 236, 686, 579, 805, 325, 693, 698, 699, 864, 265, 289, 707, 710, 711, 685, 718, 861, 88, 289, 745, 746, 746, 746, 291, 746, 749, 753, 753, 848, 607, 771, 775, 775, 775, 775, 344, 589, 216, 473, 715, 105, 805, 805, 200, 490, 809, 809, 809, 291, 810, 517, 1035, 214, 824, 377, 826, 828, 378, 830, 194, 830, 830, 830, 830, 202, 840, 427, 245, 615, 847, 847, 847, 808, 847, 852, 852, 853, 853, 853, 853, 853, 853, 355, 73, 864, 864, 864, 865, 81, 73, 868, 194, 874, 245, 245, 888, 391, 896, 896, 896, 896, 896, 688, 202, 764, 896, 194, 906, 88, 194, 994, 919, 355, 194, 901, 194, 1035, 80, 937, 937, 937, 937, 937, 937, 937, 941, 353, 194, 194, 194, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 973, 194, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 355, 950, 950, 950, 355, 952, 80, 955, 956, 956, 964, 355, 995, 995, 995, 977, 194, 355, 355, 427, 1031, 1017, 194, 1035, 355, 1026, 1026, 1028, 1028, 1028, 1028, 269, 1035]
[0, 2, 3, 5, 5, 8, 8, 8, 8, 8, 8, 8, 14, 18, 21, 22, 22, 27, 27, 28, 29, 30, 30, 30, 31, 31, 32, 34, 34, 37, 37, 37, 37, 37, 37, 37, 38, 44, 47, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 58, 61, 71, 71, 74, 76, 76, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 80, 80, 80, 88, 89, 89, 89, 90, 91, 92, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 98, 98, 98, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 101, 102, 108, 108, 108, 109, 111, 111, 111, 111, 111, 111, 111, 117, 120, 120, 120, 122, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 129, 131, 132, 142, 142, 144, 150, 150, 151, 151, 153, 157, 157, 158, 165, 165, 166, 166, 166, 168, 172, 172, 172, 172, 172, 172, 172, 180, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 184, 184, 185, 187, 187, 187, 189, 189, 190, 190, 190, 190, 190, 190, 193, 197, 197, 205, 210, 210, 210, 210, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 216, 218, 218, 218, 220, 220, 220, 220, 220, 222, 226, 228, 228, 228, 228, 228, 228, 228, 228, 228, 229, 234, 234, 235, 238, 238, 238, 240, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 246, 246, 249, 254, 254, 259, 260, 261, 262, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 268, 268, 269, 270, 271, 276, 277, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 293, 295, 299, 300, 300, 301, 301, 301, 304, 308, 309, 309, 309, 309, 309, 309, 317, 318, 318, 318, 318, 318, 318, 320, 321, 321, 323, 323, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 327, 333, 334, 335, 336, 337, 337, 337, 337, 338, 343, 344, 347, 359, 359, 360, 360, 363, 363, 364, 364, 364, 364, 365, 380, 388, 392, 396, 402, 402, 405, 416, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 424, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 428, 430, 433, 434, 435, 443, 444, 444, 444, 455, 455, 455, 462, 465, 474, 475, 475, 475, 475, 476, 482, 483, 489, 491, 491, 491, 491, 492, 492, 499, 505, 509, 509, 516, 516, 517, 517, 517, 521, 524, 527, 529, 530, 530, 530, 530, 531, 535, 541, 541, 543, 543, 546, 548, 548, 548, 548, 548, 548, 565, 566, 567, 577, 577, 578, 579, 579, 584, 586, 588, 590, 590, 591, 592, 595, 597, 597, 598, 598, 606, 606, 607, 608, 610, 610, 610, 611, 614, 614, 614, 614, 619, 619, 619, 623, 623, 624, 633, 633, 638, 644, 644, 646, 646, 646, 646, 646, 648, 648, 651, 652, 652, 652, 652, 652, 652, 662, 662, 662, 662, 663, 663, 663, 666, 669, 681, 683, 686, 686, 687, 689, 693, 693, 698, 700, 700, 701, 703, 707, 710, 711, 715, 718, 731, 733, 741, 745, 746, 746, 746, 746, 746, 749, 753, 753, 756, 763, 771, 775, 775, 775, 775, 782, 787, 794, 794, 800, 804, 805, 805, 807, 809, 809, 809, 809, 810, 810, 813, 815, 816, 824, 826, 826, 828, 829, 830, 830, 830, 830, 830, 830, 834, 840, 840, 840, 847, 847, 847, 847, 847, 847, 852, 852, 853, 853, 853, 853, 853, 853, 853, 861, 864, 864, 864, 865, 865, 867, 868, 871, 874, 876, 876, 888, 892, 896, 896, 896, 896, 896, 896, 898, 902, 903, 905, 906, 908, 916, 917, 919, 919, 920, 929, 931, 933, 936, 937, 937, 937, 937, 937, 937, 937, 941, 941, 944, 947, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 955, 956, 956, 964, 964, 967, 967, 967, 977, 1000, 1001, 1001, 1002, 1011, 1017, 1020, 1020, 1022, 1026, 1026, 1028, 1028, 1028, 1028, 1030, 1035]

In [105]:
correct_num = 0

for i in range(0, 867):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

534
0.615916955017301