<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_5_tuning_healthnews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0     50      0  0:00:05  0:00:05 --:--:--    68
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-5.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [11]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-5.validation.csv",header=None)
valid.head()

   0                       1
0  2               heel pain
1  2               heel pain
2  5  increase my heart rate
3  5             tachycardia
4  8        severe arthritis

In [12]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-5.test.csv",header=None)
test.head()

   0                      1
0  0                   fear
1  0        scared to death
2  2              heel pain
3  2             heels hurt
4  2  pain in my right heel

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_healthnews_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [17]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [21]:
learn.fit_one_cycle(1, 1e-2)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-3)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('healthnews_fold5_first')

In [26]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('healthnews_fold5_first')
learn.fit_one_cycle(1, 1e-2)

In [27]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [28]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [29]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [42]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-5-tuning-healthnews')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [45]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[0, 861, 172, 182, 211, 8, 8, 8, 455, 359, 359, 359, 19, 27, 27, 27, 1035, 1035, 741, 289, 37, 37, 896, 896, 236, 37, 1026, 184, 49, 614, 49, 49, 49, 614, 1026, 614, 614, 1035, 614, 614, 614, 34, 763, 805, 846, 343, 209, 864, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 614, 614, 614, 80, 80, 220, 904, 765, 127, 1002, 904, 614, 614, 614, 614, 614, 95, 904, 578, 614, 98, 214, 100, 100, 100, 100, 214, 214, 100, 337, 103, 614, 904, 72, 72, 88, 108, 108, 228, 730, 289, 111, 111, 228, 111, 205, 549, 614, 614, 904, 1035, 614, 614, 125, 904, 125, 614, 125, 125, 125, 125, 135, 614, 395, 614, 144, 132, 402, 151, 157, 865, 3, 877, 904, 614, 614, 226, 210, 604, 289, 289, 228, 228, 228, 228, 228, 228, 427, 614, 753, 860, 614, 165, 614, 614, 182, 245, 183, 183, 183, 183, 183, 183, 183, 183, 614, 240, 240, 190, 190, 462, 111, 700, 190, 190, 190, 190, 190, 190, 741, 1002, 105, 177, 904, 904, 1035, 1035, 1035, 1035, 202, 205, 197, 470, 210, 604, 824, 1026, 337, 265, 265, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 1035, 877, 94, 289, 289, 289, 289, 614, 562, 614, 220, 220, 147, 228, 228, 228, 228, 228, 228, 228, 228, 228, 1035, 604, 289, 29, 234, 614, 1035, 702, 1035, 736, 1035, 904, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 765, 614, 614, 210, 58, 579, 765, 246, 246, 246, 614, 614, 746, 441, 284, 264, 635, 265, 265, 337, 741, 94, 265, 704, 289, 289, 265, 265, 265, 265, 265, 265, 289, 289, 289, 741, 228, 614, 1035, 94, 614, 446, 268, 1035, 269, 1035, 861, 1035, 1035, 280, 234, 289, 228, 283, 182, 289, 771, 289, 265, 334, 289, 606, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 1035, 289, 318, 265, 309, 309, 289, 309, 309, 321, 635, 635, 318, 318, 130, 260, 322, 904, 614, 614, 614, 614, 614, 276, 1035, 427, 427, 147, 334, 336, 910, 342, 342, 342, 342, 343, 343, 144, 701, 359, 359, 359, 1035, 182, 364, 364, 378, 1035, 391, 614, 614, 393, 289, 904, 309, 614, 805, 614, 614, 614, 210, 408, 387, 771, 415, 419, 471, 704, 419, 419, 419, 419, 419, 419, 614, 419, 904, 426, 289, 624, 511, 427, 427, 427, 427, 597, 597, 614, 614, 427, 427, 427, 430, 430, 238, 435, 437, 268, 444, 390, 392, 270, 1026, 94, 614, 614, 614, 614, 614, 614, 614, 614, 458, 458, 614, 462, 3, 1035, 614, 475, 475, 475, 614, 479, 235, 4, 484, 797, 491, 491, 491, 82, 861, 662, 248, 994, 393, 140, 140, 344, 503, 509, 509, 289, 517, 517, 517, 517, 517, 614, 1035, 614, 530, 809, 530, 530, 530, 531, 531, 100, 532, 541, 545, 545, 545, 753, 614, 1035, 147, 893, 651, 727, 245, 578, 1035, 31, 414, 904, 614, 591, 591, 592, 592, 904, 904, 427, 614, 614, 614, 491, 614, 753, 614, 614, 614, 614, 604, 1035, 228, 228, 614, 614, 352, 623, 623, 623, 646, 701, 1035, 646, 646, 646, 646, 646, 614, 604, 651, 652, 652, 652, 803, 660, 265, 662, 662, 663, 666, 666, 490, 402, 614, 289, 698, 702, 703, 265, 663, 707, 904, 210, 145, 1035, 1035, 714, 716, 771, 652, 727, 318, 37, 606, 541, 405, 746, 749, 749, 861, 904, 1035, 1035, 1035, 1035, 29, 131, 393, 289, 910, 3, 210, 289, 775, 702, 210, 3, 210, 876, 778, 801, 301, 805, 780, 1035, 798, 360, 802, 904, 804, 614, 318, 806, 614, 183, 809, 809, 809, 810, 810, 1035, 343, 524, 826, 745, 614, 614, 614, 614, 614, 614, 614, 831, 614, 1035, 877, 614, 614, 891, 614, 89, 1035, 847, 847, 847, 614, 614, 614, 614, 614, 614, 614, 861, 865, 1035, 614, 736, 1035, 896, 896, 896, 896, 896, 896, 704, 289, 606, 1035, 1035, 245, 94, 614, 904, 1005, 614, 614, 933, 904, 961, 614, 614, 614, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 904, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 614, 904, 904, 904, 904, 614, 904, 904, 614, 904, 614, 960, 1026, 614, 427, 614, 904, 904, 614, 614, 904, 614, 904, 992, 614, 999, 269, 925, 269, 904, 614, 1026, 904, 614, 904, 614, 1028, 1028, 1029, 1029, 1031, 1031, 614, 1035, 1035]
[0, 0, 2, 2, 2, 8, 8, 8, 8, 16, 16, 16, 19, 27, 27, 27, 33, 34, 34, 34, 37, 37, 37, 37, 37, 37, 38, 48, 49, 49, 49, 49, 49, 49, 53, 53, 53, 58, 62, 67, 68, 71, 71, 71, 71, 73, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 83, 88, 88, 92, 94, 94, 94, 94, 94, 94, 95, 96, 96, 96, 98, 100, 100, 100, 100, 100, 100, 100, 100, 100, 103, 104, 107, 107, 107, 108, 108, 108, 111, 111, 111, 111, 111, 111, 111, 111, 111, 114, 119, 122, 122, 122, 122, 125, 125, 125, 125, 125, 125, 125, 125, 135, 135, 137, 137, 144, 148, 148, 151, 157, 159, 163, 163, 166, 166, 166, 171, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 173, 173, 173, 173, 173, 178, 181, 181, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 184, 187, 187, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 193, 196, 197, 197, 197, 197, 197, 202, 202, 205, 209, 210, 210, 211, 211, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 217, 218, 220, 220, 220, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 231, 234, 235, 236, 236, 236, 237, 237, 238, 238, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 246, 246, 246, 254, 254, 257, 258, 258, 264, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 268, 269, 269, 273, 274, 279, 279, 280, 280, 281, 281, 283, 286, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 301, 301, 309, 309, 309, 309, 309, 309, 309, 311, 313, 313, 318, 318, 318, 318, 322, 325, 325, 325, 325, 325, 325, 325, 326, 329, 329, 331, 334, 336, 337, 342, 342, 342, 342, 343, 343, 344, 345, 359, 359, 359, 363, 363, 364, 364, 378, 381, 391, 396, 396, 397, 399, 401, 402, 402, 408, 408, 408, 408, 408, 408, 412, 415, 415, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 424, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 430, 434, 435, 437, 443, 444, 445, 446, 454, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 458, 458, 460, 462, 468, 470, 474, 475, 475, 475, 476, 479, 480, 484, 484, 487, 491, 491, 491, 491, 491, 491, 495, 495, 499, 499, 499, 502, 503, 509, 509, 512, 517, 517, 517, 517, 517, 522, 524, 527, 530, 530, 530, 530, 530, 531, 531, 532, 532, 541, 545, 545, 545, 547, 548, 549, 553, 567, 572, 574, 578, 578, 579, 584, 584, 590, 590, 591, 591, 592, 592, 595, 597, 597, 597, 597, 597, 598, 600, 605, 610, 610, 611, 611, 614, 614, 614, 614, 619, 619, 623, 623, 623, 623, 623, 638, 643, 646, 646, 646, 646, 646, 646, 651, 652, 652, 652, 652, 659, 660, 660, 662, 662, 664, 666, 666, 683, 686, 693, 698, 698, 702, 703, 704, 706, 707, 710, 710, 711, 711, 711, 714, 715, 719, 720, 727, 739, 741, 741, 746, 746, 746, 747, 749, 750, 753, 753, 753, 753, 753, 754, 755, 760, 768, 771, 771, 773, 775, 775, 775, 775, 775, 775, 775, 778, 779, 780, 783, 794, 795, 798, 801, 802, 803, 804, 804, 805, 806, 806, 809, 809, 809, 809, 810, 810, 817, 822, 825, 826, 827, 830, 830, 830, 830, 830, 830, 830, 831, 834, 836, 839, 841, 841, 842, 844, 845, 846, 847, 847, 847, 852, 853, 853, 853, 853, 853, 853, 861, 865, 877, 884, 887, 894, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 904, 905, 915, 919, 919, 926, 927, 933, 937, 937, 937, 937, 937, 940, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 952, 953, 955, 956, 959, 960, 964, 964, 971, 974, 976, 976, 979, 981, 987, 990, 992, 992, 993, 999, 999, 999, 999, 1001, 1004, 1016, 1016, 1016, 1021, 1026, 1028, 1028, 1029, 1029, 1031, 1031, 1032, 1035, 1035]

In [46]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

243
0.2806004618937644