<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_overlap_10_cadec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    675      0 --:--:-- --:--:-- --:--:--   675
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-0.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [12]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-0.validation.csv",header=None)
valid.head()

   0                             1
0  0                          fear
1  2                     heel pain
2  4  purple sploches around waist
3  7                        goiter
4  8                     ARTHRITIS

In [13]:
# testing data set

test = pd.read_csv(path/"AskAPatient_overlap_10.csv",header=None)
test.head()

   0                                 1
0  0                  'scared' feeling
1  3  cracking sensations in my joints
2  4      purple sploches around waist
3  5           fast and slow heartbeat
4  5              increased heart rate

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_cadec_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [18]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-2)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [25]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('AskAPatient_overlap_10_first')

In [27]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('AskAPatient_overlap_10_first')
learn.fit_one_cycle(1, 1e-2)

In [28]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [29]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [42]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [43]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [44]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('AskAPatient_overlap_10')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [47]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

681
681
[780, 343, 4, 334, 5, 933, 933, 511, 10, 447, 553, 71, 22, 27, 1028, 27, 29, 30, 30, 30, 32, 34, 289, 289, 38, 528, 41, 928, 353, 353, 325, 49, 775, 4, 427, 70, 71, 71, 71, 39, 289, 515, 1031, 742, 260, 260, 260, 260, 260, 289, 289, 289, 1028, 80, 538, 89, 391, 75, 452, 94, 94, 597, 699, 98, 683, 737, 794, 337, 100, 337, 100, 100, 58, 100, 291, 314, 107, 660, 660, 636, 1035, 636, 289, 1035, 111, 126, 289, 289, 289, 1031, 446, 1031, 1031, 125, 1031, 1035, 127, 741, 289, 289, 289, 312, 69, 447, 144, 727, 415, 434, 354, 208, 509, 178, 769, 291, 545, 614, 180, 289, 182, 182, 289, 289, 183, 183, 84, 113, 189, 190, 190, 190, 190, 190, 703, 289, 289, 197, 197, 197, 197, 197, 805, 764, 769, 210, 210, 801, 801, 265, 211, 877, 1031, 471, 877, 638, 214, 214, 1031, 1031, 220, 44, 228, 228, 289, 289, 289, 289, 228, 544, 231, 1035, 235, 286, 58, 809, 1031, 1031, 902, 325, 187, 1031, 355, 355, 1031, 1031, 366, 245, 638, 245, 764, 245, 245, 245, 246, 298, 1031, 1031, 728, 1035, 260, 289, 1031, 289, 471, 660, 314, 289, 289, 655, 265, 265, 265, 265, 445, 446, 892, 110, 806, 289, 847, 283, 587, 589, 651, 289, 289, 289, 289, 289, 260, 289, 289, 289, 655, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 655, 541, 289, 583, 877, 805, 682, 904, 301, 100, 427, 69, 762, 309, 309, 289, 289, 660, 747, 642, 359, 289, 624, 146, 31, 667, 375, 1031, 325, 325, 325, 359, 427, 729, 194, 655, 636, 509, 509, 58, 337, 337, 337, 414, 343, 343, 343, 425, 289, 337, 672, 822, 877, 359, 359, 359, 432, 359, 360, 360, 364, 289, 726, 1031, 387, 427, 444, 1031, 39, 402, 789, 288, 288, 805, 415, 1002, 651, 471, 651, 289, 636, 636, 1031, 424, 426, 426, 427, 427, 427, 597, 789, 427, 427, 427, 427, 475, 427, 736, 336, 509, 238, 435, 438, 441, 443, 444, 444, 443, 446, 135, 126, 462, 126, 473, 794, 475, 591, 355, 355, 355, 432, 479, 614, 265, 744, 279, 486, 326, 605, 720, 491, 531, 378, 82, 1028, 82, 492, 291, 499, 260, 505, 789, 162, 126, 517, 1031, 517, 624, 521, 236, 530, 530, 531, 1035, 542, 591, 202, 545, 546, 548, 549, 549, 660, 274, 1028, 427, 190, 567, 775, 427, 100, 337, 573, 58, 624, 896, 579, 579, 579, 579, 584, 289, 289, 591, 427, 427, 591, 594, 594, 707, 235, 427, 491, 598, 289, 605, 289, 607, 163, 174, 289, 864, 442, 353, 528, 624, 633, 633, 633, 655, 245, 640, 673, 728, 350, 4, 651, 652, 652, 652, 427, 809, 809, 660, 662, 865, 29, 665, 437, 874, 26, 678, 681, 217, 772, 289, 775, 687, 817, 427, 289, 289, 864, 703, 860, 289, 289, 703, 605, 704, 289, 704, 579, 29, 491, 707, 707, 316, 862, 726, 636, 638, 727, 564, 62, 224, 82, 739, 579, 703, 741, 289, 289, 662, 746, 474, 746, 749, 753, 794, 764, 809, 764, 337, 509, 350, 773, 350, 775, 301, 100, 775, 775, 775, 775, 775, 440, 359, 787, 427, 147, 427, 235, 798, 443, 1031, 1031, 589, 805, 868, 808, 201, 809, 809, 809, 809, 561, 810, 575, 810, 517, 1035, 1031, 824, 377, 826, 381, 828, 432, 830, 830, 830, 830, 831, 1031, 427, 801, 427, 764, 846, 329, 847, 847, 808, 847, 539, 260, 864, 864, 130, 864, 289, 865, 865, 81, 867, 1031, 126, 876, 245, 877, 877, 882, 570, 888, 289, 893, 301, 896, 896, 896, 721, 896, 119, 764, 753, 494, 1031, 906, 467, 994, 1031, 1031, 1035, 933, 1028, 937, 937, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 1035, 1031, 410, 65, 1031, 966, 353, 1031, 256, 1035, 1031, 1028, 1002, 1011, 1023, 1028, 1035, 1031, 1028, 1028, 1029, 1029, 1031, 1035]
[0, 3, 4, 5, 5, 7, 8, 9, 10, 14, 18, 19, 22, 27, 28, 28, 29, 30, 30, 30, 32, 34, 37, 37, 38, 40, 41, 47, 49, 49, 49, 49, 49, 50, 61, 70, 71, 71, 71, 76, 77, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 82, 89, 89, 90, 93, 94, 94, 94, 96, 98, 98, 98, 99, 100, 100, 100, 100, 100, 100, 100, 101, 102, 107, 108, 108, 109, 110, 111, 111, 111, 111, 111, 111, 111, 111, 119, 120, 122, 125, 125, 125, 125, 127, 129, 129, 129, 129, 132, 138, 142, 144, 150, 150, 153, 157, 157, 163, 165, 166, 168, 170, 172, 180, 182, 182, 182, 182, 182, 183, 183, 187, 187, 189, 190, 190, 190, 190, 190, 190, 190, 190, 197, 197, 197, 197, 197, 204, 205, 205, 210, 210, 210, 210, 210, 211, 214, 214, 214, 214, 214, 214, 214, 216, 218, 220, 228, 228, 228, 228, 228, 228, 228, 228, 229, 231, 234, 235, 236, 236, 238, 238, 238, 238, 240, 240, 243, 243, 243, 243, 243, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 249, 254, 254, 259, 260, 260, 261, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 266, 268, 268, 270, 272, 281, 282, 283, 286, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 293, 294, 295, 299, 299, 301, 301, 301, 301, 304, 304, 309, 309, 309, 309, 309, 317, 318, 318, 318, 318, 318, 320, 320, 321, 323, 325, 325, 325, 325, 325, 326, 327, 330, 333, 334, 334, 337, 337, 337, 337, 338, 343, 343, 343, 343, 345, 346, 347, 350, 351, 359, 359, 359, 359, 359, 360, 360, 364, 364, 365, 380, 387, 388, 392, 394, 402, 402, 402, 408, 408, 413, 415, 416, 419, 419, 419, 419, 419, 419, 424, 424, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 428, 430, 433, 434, 435, 438, 441, 443, 444, 444, 444, 446, 453, 461, 462, 465, 473, 473, 475, 475, 476, 476, 476, 477, 479, 479, 481, 482, 483, 486, 487, 487, 488, 491, 491, 491, 491, 491, 491, 492, 493, 499, 505, 505, 506, 509, 514, 517, 517, 517, 521, 521, 529, 530, 530, 531, 531, 542, 543, 543, 545, 546, 548, 549, 549, 554, 561, 561, 565, 566, 567, 571, 575, 577, 577, 577, 577, 578, 578, 579, 579, 579, 579, 584, 586, 588, 591, 591, 591, 591, 594, 594, 595, 595, 596, 598, 598, 604, 606, 606, 607, 609, 611, 614, 614, 617, 623, 623, 624, 633, 633, 633, 637, 638, 640, 646, 648, 648, 648, 651, 652, 652, 654, 659, 659, 659, 660, 662, 662, 663, 663, 663, 664, 669, 677, 681, 683, 686, 686, 686, 687, 689, 693, 698, 700, 700, 701, 701, 702, 702, 702, 702, 703, 703, 704, 704, 705, 705, 707, 707, 710, 715, 716, 718, 723, 727, 730, 731, 733, 738, 739, 741, 741, 741, 741, 741, 746, 746, 746, 746, 749, 753, 756, 761, 763, 765, 766, 767, 770, 771, 774, 775, 775, 775, 775, 775, 775, 775, 775, 782, 784, 787, 787, 788, 794, 794, 798, 800, 803, 804, 805, 805, 807, 808, 809, 809, 809, 809, 809, 810, 810, 810, 810, 813, 815, 816, 824, 826, 826, 827, 828, 829, 830, 830, 830, 830, 831, 834, 840, 840, 840, 840, 844, 846, 847, 847, 847, 847, 847, 861, 864, 864, 864, 864, 864, 865, 865, 865, 867, 871, 874, 876, 876, 877, 877, 882, 883, 888, 889, 893, 894, 896, 896, 896, 896, 896, 898, 902, 903, 903, 905, 906, 908, 917, 920, 926, 932, 933, 933, 937, 937, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 952, 955, 966, 967, 969, 994, 994, 1000, 1001, 1002, 1011, 1019, 1020, 1020, 1026, 1028, 1028, 1029, 1029, 1030, 1035]

In [49]:
correct_num = 0

for i in range(0, 681):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

265
0.3891336270190896