<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_overlap_30_cadec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    689      0 --:--:-- --:--:-- --:--:--   689
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-0.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [13]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-0.validation.csv",header=None)
valid.head()

   0                             1
0  0                          fear
1  2                     heel pain
2  4  purple sploches around waist
3  7                        goiter
4  8                     ARTHRITIS

In [14]:
# testing data set

test = pd.read_csv(path/"AskAPatient_overlap_30.csv",header=None)
test.head()

   0                                 1
0  0                  'scared' feeling
1  3  cracking sensations in my joints
2  4      purple sploches around waist
3  5           fast and slow heartbeat
4  5              increased heart rate

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_cadec_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [19]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [23]:
learn.fit_one_cycle(1, 1e-2)

In [24]:
learn.fit_one_cycle(1, 1e-2)

In [25]:
learn.fit_one_cycle(1, 1e-3)

In [26]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('AskAPatient_overlap_30_first')

In [28]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('AskAPatient_overlap_30_first')
learn.fit_one_cycle(1, 1e-2)

In [29]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [30]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [42]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [43]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [44]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [45]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('AskAPatient_overlap_30')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [48]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

872
872
[613, 343, 824, 81, 5, 1035, 495, 8, 8, 8, 8, 511, 10, 728, 5, 71, 21, 49, 27, 1028, 410, 29, 289, 211, 30, 31, 32, 816, 491, 289, 38, 432, 515, 1009, 113, 113, 49, 49, 49, 49, 100, 100, 100, 100, 100, 100, 728, 53, 61, 70, 71, 71, 71, 76, 76, 289, 8, 614, 614, 113, 614, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 289, 289, 289, 614, 614, 614, 80, 80, 80, 80, 848, 88, 89, 137, 627, 785, 91, 786, 94, 94, 826, 135, 135, 96, 234, 180, 234, 794, 337, 100, 100, 100, 100, 100, 560, 100, 291, 58, 107, 660, 660, 636, 1035, 289, 289, 289, 1035, 565, 796, 289, 289, 730, 113, 519, 113, 113, 778, 778, 778, 778, 125, 113, 778, 127, 337, 289, 289, 289, 494, 1028, 142, 144, 479, 415, 151, 153, 354, 157, 910, 165, 166, 350, 350, 101, 170, 172, 614, 172, 172, 172, 172, 106, 127, 182, 182, 182, 289, 289, 183, 183, 183, 183, 183, 184, 185, 187, 187, 432, 1035, 189, 189, 190, 190, 190, 190, 190, 190, 190, 190, 190, 193, 197, 34, 34, 34, 34, 805, 769, 769, 210, 210, 210, 210, 83, 211, 877, 113, 214, 624, 877, 214, 337, 214, 214, 113, 925, 218, 220, 220, 226, 789, 462, 228, 228, 228, 289, 289, 228, 544, 231, 234, 235, 337, 58, 904, 113, 113, 238, 187, 187, 113, 113, 113, 243, 243, 113, 113, 113, 728, 245, 245, 245, 764, 245, 245, 245, 245, 245, 246, 106, 113, 113, 728, 1035, 260, 289, 289, 113, 289, 471, 660, 337, 265, 265, 265, 265, 265, 265, 265, 265, 655, 289, 76, 265, 265, 265, 636, 31, 137, 627, 269, 432, 113, 517, 289, 847, 283, 95, 589, 419, 289, 289, 289, 289, 289, 260, 289, 289, 289, 655, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 655, 291, 289, 672, 877, 299, 408, 220, 546, 301, 214, 427, 304, 762, 309, 309, 309, 310, 289, 636, 748, 642, 427, 359, 864, 214, 624, 100, 749, 321, 321, 113, 325, 325, 325, 325, 325, 325, 325, 432, 325, 568, 61, 790, 636, 334, 334, 336, 337, 337, 337, 337, 337, 337, 414, 343, 343, 343, 343, 289, 337, 672, 769, 214, 359, 359, 359, 82, 615, 360, 360, 363, 775, 364, 364, 289, 316, 113, 387, 661, 391, 211, 396, 224, 402, 402, 402, 353, 288, 268, 415, 355, 419, 419, 419, 419, 419, 289, 289, 419, 419, 113, 424, 426, 426, 426, 426, 427, 427, 427, 597, 597, 1023, 789, 427, 427, 427, 427, 591, 427, 736, 430, 910, 238, 435, 438, 441, 438, 444, 444, 391, 446, 135, 605, 462, 760, 473, 794, 475, 475, 475, 321, 321, 321, 316, 479, 614, 644, 744, 694, 531, 720, 720, 567, 489, 491, 491, 245, 865, 491, 214, 491, 492, 492, 291, 499, 505, 962, 506, 739, 126, 516, 517, 113, 517, 521, 521, 642, 236, 530, 530, 531, 644, 541, 542, 216, 291, 545, 546, 384, 384, 384, 730, 730, 660, 317, 82, 427, 427, 567, 775, 575, 214, 734, 573, 58, 579, 579, 579, 579, 579, 579, 584, 126, 289, 590, 591, 359, 536, 591, 515, 515, 707, 595, 525, 427, 541, 437, 289, 579, 289, 607, 767, 610, 252, 289, 478, 24, 113, 614, 623, 624, 633, 633, 633, 864, 723, 337, 646, 646, 471, 728, 648, 728, 651, 652, 652, 636, 636, 652, 619, 809, 809, 660, 662, 662, 865, 29, 665, 437, 738, 665, 706, 676, 684, 686, 289, 765, 741, 817, 384, 698, 700, 864, 700, 775, 289, 289, 703, 651, 704, 289, 704, 579, 706, 137, 707, 707, 710, 106, 711, 728, 367, 870, 779, 775, 730, 211, 573, 491, 739, 579, 741, 741, 289, 289, 745, 541, 746, 746, 291, 746, 749, 753, 753, 794, 96, 607, 876, 337, 375, 610, 771, 774, 775, 775, 100, 775, 775, 775, 775, 775, 502, 445, 787, 214, 147, 216, 368, 798, 31, 113, 804, 113, 805, 805, 200, 808, 29, 531, 809, 641, 809, 810, 666, 575, 810, 517, 214, 1035, 824, 377, 826, 826, 654, 828, 236, 614, 830, 830, 830, 830, 830, 831, 113, 840, 384, 840, 567, 846, 329, 847, 847, 808, 847, 847, 847, 785, 785, 853, 706, 864, 864, 864, 289, 289, 865, 491, 81, 289, 868, 113, 874, 876, 876, 877, 877, 165, 570, 61, 289, 892, 893, 415, 579, 896, 896, 337, 896, 384, 764, 896, 363, 113, 906, 466, 113, 994, 921, 113, 113, 929, 113, 1035, 933, 933, 936, 937, 937, 937, 937, 113, 113, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 1035, 113, 1023, 950, 950, 950, 494, 494, 955, 113, 956, 966, 494, 113, 113, 1035, 994, 113, 1001, 1035, 1011, 494, 31, 1032, 337, 1032, 1028, 1028, 1028, 1028, 1029, 1029, 113, 1035]
[0, 3, 4, 5, 5, 7, 8, 8, 8, 8, 8, 9, 10, 14, 18, 19, 21, 22, 27, 28, 28, 29, 30, 30, 30, 31, 32, 34, 37, 37, 38, 40, 41, 47, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 53, 61, 70, 71, 71, 71, 76, 76, 77, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 82, 88, 89, 89, 89, 90, 91, 93, 94, 94, 94, 94, 94, 96, 98, 98, 98, 99, 100, 100, 100, 100, 100, 100, 100, 100, 101, 102, 107, 108, 108, 109, 110, 111, 111, 111, 111, 111, 111, 111, 111, 111, 119, 120, 122, 125, 125, 125, 125, 125, 125, 125, 125, 127, 129, 129, 129, 129, 132, 138, 142, 144, 150, 150, 151, 153, 157, 157, 163, 165, 166, 166, 166, 168, 170, 172, 172, 172, 172, 172, 172, 180, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 184, 185, 187, 187, 187, 187, 189, 189, 190, 190, 190, 190, 190, 190, 190, 190, 190, 193, 197, 197, 197, 197, 197, 204, 205, 205, 210, 210, 210, 210, 210, 211, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 218, 218, 220, 220, 226, 228, 228, 228, 228, 228, 228, 228, 228, 229, 231, 234, 235, 236, 236, 238, 238, 238, 238, 240, 240, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 249, 254, 254, 259, 260, 260, 260, 261, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 266, 268, 268, 268, 269, 270, 271, 272, 281, 282, 283, 286, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 293, 294, 295, 299, 299, 300, 301, 301, 301, 301, 304, 304, 309, 309, 309, 309, 309, 309, 317, 318, 318, 318, 318, 318, 318, 320, 320, 321, 321, 323, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 327, 330, 333, 334, 334, 336, 337, 337, 337, 337, 337, 337, 338, 343, 343, 343, 343, 345, 346, 347, 350, 351, 359, 359, 359, 359, 359, 360, 360, 363, 364, 364, 364, 364, 365, 380, 387, 388, 392, 394, 396, 402, 402, 402, 402, 408, 408, 413, 415, 416, 419, 419, 419, 419, 419, 419, 419, 419, 419, 424, 424, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 428, 430, 433, 434, 435, 438, 441, 443, 444, 444, 444, 446, 453, 461, 462, 465, 473, 473, 475, 475, 475, 476, 476, 476, 477, 479, 479, 481, 482, 483, 486, 487, 487, 488, 489, 491, 491, 491, 491, 491, 491, 491, 492, 492, 493, 499, 505, 505, 506, 509, 514, 516, 517, 517, 517, 521, 521, 527, 529, 530, 530, 531, 531, 541, 542, 543, 543, 545, 546, 548, 548, 548, 549, 549, 554, 561, 561, 565, 566, 567, 571, 575, 577, 577, 577, 577, 578, 578, 579, 579, 579, 579, 584, 586, 588, 590, 591, 591, 591, 591, 594, 594, 595, 595, 595, 596, 598, 598, 604, 606, 606, 607, 609, 610, 611, 614, 614, 617, 619, 623, 623, 624, 633, 633, 633, 637, 638, 640, 646, 646, 646, 648, 648, 648, 651, 652, 652, 652, 652, 654, 659, 659, 659, 660, 662, 662, 662, 663, 663, 663, 664, 669, 677, 681, 683, 686, 686, 686, 687, 689, 693, 698, 700, 700, 701, 701, 702, 702, 702, 702, 703, 703, 704, 704, 705, 705, 707, 707, 710, 710, 711, 715, 716, 718, 723, 727, 730, 731, 733, 738, 739, 741, 741, 741, 741, 741, 745, 746, 746, 746, 746, 746, 749, 753, 753, 756, 761, 763, 765, 766, 767, 770, 771, 774, 775, 775, 775, 775, 775, 775, 775, 775, 782, 784, 787, 787, 788, 794, 794, 798, 800, 803, 804, 804, 805, 805, 807, 808, 809, 809, 809, 809, 809, 810, 810, 810, 810, 813, 815, 816, 824, 826, 826, 826, 827, 828, 829, 830, 830, 830, 830, 830, 830, 831, 834, 840, 840, 840, 840, 844, 846, 847, 847, 847, 847, 847, 847, 852, 852, 853, 861, 864, 864, 864, 864, 864, 865, 865, 865, 867, 868, 871, 874, 876, 876, 877, 877, 882, 883, 888, 889, 892, 893, 894, 896, 896, 896, 896, 896, 898, 902, 903, 903, 905, 906, 908, 916, 917, 919, 920, 926, 929, 931, 932, 933, 933, 936, 937, 937, 937, 937, 944, 947, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 952, 952, 955, 955, 956, 966, 967, 969, 977, 994, 994, 1000, 1001, 1002, 1011, 1017, 1019, 1020, 1020, 1026, 1026, 1028, 1028, 1028, 1029, 1029, 1030, 1035]

In [50]:
correct_num = 0

for i in range(0, 872):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

427
0.4896788990825688