<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_6_tuning_pubmed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    700      0 --:--:-- --:--:-- --:--:--   698
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-6.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [48]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-6.validation.csv",header=None)
valid.head()

   0                        1
0  2                heel pain
1  2               heels hurt
2  4     black and blue marks
3  5  fast and slow heartbeat
4  5     increased heart rate

In [49]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-6.test.csv",header=None)
test.head()

   0               1
0  2  left heel pain
1  5     tachycardia
2  8       ARTHRITIS
3  8       arthrites
4  8       arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_pubmed_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [54]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [58]:
learn.fit_one_cycle(1, 1e-2)

In [59]:
learn.fit_one_cycle(1, 1e-2)

In [60]:
learn.fit_one_cycle(1, 1e-3)

In [61]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('pubmed_fold6_first')

In [63]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('pubmed_fold6_first')
learn.fit_one_cycle(1, 1e-2)

In [64]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [65]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [66]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [67]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [68]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [69]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [70]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [71]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [72]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [73]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [74]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [75]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [76]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [77]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-6-tuning-pubmed')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [80]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[2, 5, 8, 817, 8, 8, 8, 8, 8, 8, 8, 228, 228, 27, 584, 197, 117, 37, 37, 37, 775, 37, 897, 37, 37, 37, 596, 912, 710, 41, 874, 49, 49, 49, 49, 49, 49, 49, 49, 49, 189, 53, 53, 53, 53, 53, 933, 56, 58, 58, 577, 60, 830, 933, 194, 194, 289, 289, 864, 840, 79, 817, 817, 817, 817, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 281, 741, 741, 741, 293, 80, 80, 80, 80, 80, 80, 71, 491, 817, 444, 817, 933, 817, 817, 817, 817, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 902, 817, 817, 100, 100, 100, 100, 100, 49, 655, 689, 108, 108, 108, 108, 553, 228, 111, 111, 111, 933, 113, 817, 116, 37, 117, 471, 817, 741, 41, 481, 125, 817, 125, 125, 125, 125, 125, 125, 125, 524, 910, 131, 817, 89, 119, 139, 817, 194, 817, 157, 157, 817, 165, 297, 172, 864, 864, 864, 194, 817, 180, 75, 686, 194, 182, 183, 183, 183, 183, 817, 817, 187, 187, 817, 687, 190, 190, 593, 197, 197, 194, 205, 210, 470, 289, 190, 194, 214, 214, 579, 579, 579, 877, 877, 579, 337, 265, 265, 214, 214, 817, 220, 220, 289, 337, 225, 289, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 720, 604, 289, 98, 817, 236, 817, 817, 243, 817, 817, 243, 243, 243, 243, 728, 817, 817, 245, 117, 205, 180, 246, 252, 254, 419, 264, 265, 265, 265, 214, 289, 289, 265, 265, 265, 265, 704, 265, 265, 265, 265, 265, 265, 265, 265, 265, 337, 352, 289, 214, 265, 289, 269, 269, 165, 165, 165, 165, 165, 289, 172, 189, 284, 288, 289, 289, 289, 289, 289, 289, 289, 289, 524, 289, 289, 289, 289, 289, 289, 289, 289, 289, 696, 289, 289, 289, 289, 289, 405, 289, 741, 293, 644, 644, 817, 301, 245, 704, 309, 309, 309, 318, 318, 318, 318, 320, 621, 325, 621, 325, 325, 325, 325, 325, 325, 325, 325, 325, 817, 817, 721, 332, 332, 332, 336, 698, 337, 337, 337, 337, 703, 31, 341, 341, 342, 342, 343, 343, 344, 344, 96, 289, 402, 402, 359, 817, 579, 194, 370, 817, 71, 375, 517, 426, 391, 391, 391, 391, 391, 391, 817, 180, 318, 402, 405, 408, 194, 408, 408, 180, 337, 337, 419, 419, 419, 419, 419, 129, 864, 419, 419, 817, 817, 426, 597, 388, 427, 427, 597, 597, 597, 597, 597, 427, 163, 437, 430, 210, 865, 878, 441, 441, 441, 268, 444, 879, 89, 89, 933, 817, 817, 817, 817, 194, 528, 459, 933, 933, 817, 817, 194, 473, 621, 817, 163, 817, 817, 817, 817, 780, 180, 421, 486, 487, 489, 491, 491, 491, 662, 82, 817, 499, 499, 499, 499, 857, 227, 509, 194, 517, 524, 703, 524, 741, 623, 530, 530, 530, 531, 817, 231, 746, 746, 541, 583, 545, 545, 543, 646, 817, 817, 555, 318, 111, 565, 567, 810, 702, 579, 428, 590, 590, 591, 427, 591, 592, 592, 592, 549, 597, 402, 228, 610, 817, 610, 194, 289, 289, 289, 289, 289, 289, 289, 194, 194, 933, 528, 817, 623, 539, 479, 737, 864, 644, 644, 710, 646, 194, 646, 245, 194, 283, 293, 652, 652, 652, 656, 88, 491, 861, 666, 677, 182, 210, 402, 530, 691, 817, 700, 702, 704, 703, 704, 210, 708, 681, 194, 194, 172, 769, 723, 733, 426, 426, 735, 735, 37, 745, 745, 749, 753, 753, 817, 817, 712, 769, 245, 764, 761, 337, 769, 764, 769, 205, 166, 771, 117, 194, 372, 773, 49, 775, 775, 775, 775, 775, 775, 775, 775, 711, 194, 49, 289, 802, 753, 817, 817, 408, 493, 806, 817, 817, 817, 809, 809, 810, 194, 337, 817, 817, 817, 621, 359, 830, 830, 830, 830, 830, 830, 817, 817, 817, 226, 817, 840, 840, 817, 71, 194, 531, 384, 817, 82, 785, 785, 785, 853, 853, 853, 853, 853, 437, 283, 360, 864, 864, 865, 194, 868, 868, 511, 210, 481, 888, 890, 415, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 173, 210, 904, 817, 919, 427, 933, 933, 511, 937, 937, 937, 937, 937, 924, 948, 948, 933, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 933, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 952, 952, 955, 1032, 933, 933, 933, 967, 933, 933, 933, 817, 817, 980, 817, 194, 999, 1010, 933, 817, 817, 794, 511, 642, 995, 817, 0, 1029, 1029, 1028, 1035]
[2, 5, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 27, 31, 34, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 39, 41, 41, 41, 46, 49, 49, 49, 49, 49, 49, 49, 49, 49, 51, 53, 53, 53, 53, 53, 54, 56, 58, 58, 58, 60, 64, 67, 71, 71, 76, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 81, 81, 83, 89, 90, 91, 91, 91, 91, 91, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 96, 100, 100, 100, 100, 100, 100, 102, 106, 108, 108, 108, 108, 108, 111, 111, 111, 111, 112, 113, 114, 116, 117, 117, 118, 120, 121, 122, 123, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 129, 131, 135, 137, 138, 139, 151, 151, 156, 157, 157, 163, 165, 171, 172, 172, 172, 172, 172, 173, 177, 179, 182, 182, 182, 183, 183, 183, 183, 184, 184, 187, 187, 187, 189, 190, 190, 191, 197, 197, 201, 205, 210, 210, 211, 211, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 218, 220, 220, 223, 224, 225, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 235, 236, 238, 242, 243, 243, 243, 243, 243, 243, 243, 245, 245, 245, 245, 245, 245, 246, 246, 249, 254, 260, 264, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 269, 269, 277, 277, 277, 277, 277, 279, 281, 282, 284, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 293, 293, 293, 298, 298, 300, 301, 301, 301, 309, 309, 309, 318, 318, 318, 318, 320, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 332, 332, 332, 336, 337, 337, 337, 337, 337, 337, 338, 341, 341, 342, 342, 343, 343, 344, 344, 346, 351, 358, 358, 359, 362, 363, 368, 370, 371, 374, 375, 383, 384, 391, 391, 391, 391, 391, 391, 394, 394, 402, 402, 405, 408, 408, 408, 408, 416, 418, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 424, 424, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 434, 437, 439, 441, 441, 441, 443, 444, 445, 446, 446, 455, 455, 455, 455, 455, 455, 457, 459, 460, 460, 460, 460, 470, 473, 473, 474, 475, 475, 475, 475, 475, 475, 475, 477, 486, 488, 489, 491, 491, 491, 491, 491, 497, 499, 499, 499, 499, 504, 506, 509, 510, 517, 524, 524, 524, 526, 528, 530, 530, 530, 531, 534, 541, 541, 541, 541, 545, 545, 545, 545, 546, 548, 548, 562, 563, 565, 565, 567, 576, 577, 579, 583, 590, 590, 591, 591, 591, 592, 592, 592, 594, 597, 601, 606, 610, 610, 610, 611, 614, 614, 614, 614, 614, 614, 614, 614, 614, 623, 623, 623, 623, 625, 626, 631, 635, 644, 644, 646, 646, 646, 646, 646, 646, 649, 651, 652, 652, 652, 656, 660, 662, 665, 666, 678, 686, 686, 687, 689, 691, 693, 700, 704, 704, 704, 704, 704, 708, 709, 710, 710, 717, 722, 723, 732, 735, 735, 735, 735, 741, 745, 745, 749, 753, 753, 755, 757, 763, 764, 764, 764, 764, 766, 769, 769, 769, 769, 770, 771, 771, 772, 772, 773, 775, 775, 775, 775, 775, 775, 775, 775, 775, 776, 780, 794, 801, 802, 803, 803, 804, 805, 805, 806, 806, 806, 806, 809, 809, 810, 817, 819, 826, 826, 826, 826, 826, 830, 830, 830, 830, 830, 830, 830, 830, 835, 836, 838, 840, 840, 840, 846, 847, 847, 848, 848, 852, 852, 852, 852, 853, 853, 853, 853, 853, 856, 861, 861, 864, 864, 865, 866, 868, 868, 871, 876, 883, 888, 890, 894, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 902, 903, 904, 918, 919, 933, 935, 935, 936, 937, 937, 937, 937, 937, 940, 948, 948, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 952, 952, 955, 956, 957, 958, 964, 967, 972, 976, 976, 976, 976, 980, 986, 994, 999, 1010, 1015, 1015, 1020, 1024, 1026, 1026, 1026, 1026, 1028, 1029, 1029, 1031, 1035]

In [81]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

465
0.5369515011547344