<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_2_tuning_bigtweet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0   1043      0 --:--:-- --:--:-- --:--:--  1043
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-2.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [12]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-2.validation.csv",header=None)
valid.head()

   0                                            1
0  2                               left heel pain
1  4  Discoloration of skin [blotchy] on the neck
2  7                                       goiter
3  8                                    arthritis
4  8                                    arthritis

In [13]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-2.test.csv",header=None)
test.head()

   0                     1
0  2       right heel pain
1  4  black and blue marks
2  8            arthritice
3  8             arthritis
4  8             arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_bigtweet_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [18]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-2)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [25]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('bigtweet_fold2_first')

In [27]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('bigtweet_fold2_first')
learn.fit_one_cycle(1, 1e-2)

In [28]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [29]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-2-tuning-bigtweet')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [44]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[172, 520, 1026, 1026, 1026, 1026, 1026, 289, 491, 16, 809, 910, 826, 320, 414, 414, 414, 32, 197, 487, 111, 741, 864, 864, 864, 864, 775, 37, 289, 289, 289, 17, 654, 517, 794, 949, 49, 49, 473, 949, 949, 949, 949, 949, 949, 81, 517, 53, 718, 718, 53, 1035, 704, 517, 214, 214, 517, 745, 769, 70, 205, 511, 374, 1035, 210, 76, 289, 309, 309, 309, 517, 783, 531, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 172, 172, 517, 517, 517, 517, 517, 554, 912, 80, 80, 80, 80, 80, 847, 517, 268, 853, 1026, 1026, 495, 1035, 1035, 94, 94, 94, 517, 94, 94, 94, 94, 49, 49, 1035, 531, 265, 265, 265, 265, 864, 1035, 1035, 864, 874, 864, 864, 864, 1035, 419, 210, 579, 89, 1031, 517, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 301, 289, 131, 1035, 135, 517, 517, 137, 517, 447, 189, 265, 517, 847, 517, 714, 1035, 197, 1035, 517, 517, 517, 289, 289, 289, 864, 864, 210, 703, 690, 745, 1035, 864, 289, 289, 183, 183, 1035, 240, 240, 240, 240, 240, 189, 462, 210, 190, 190, 604, 289, 1035, 445, 517, 517, 388, 197, 197, 197, 197, 202, 203, 205, 461, 205, 912, 427, 289, 210, 210, 1035, 1035, 517, 517, 517, 49, 896, 896, 896, 896, 896, 1035, 214, 214, 214, 896, 289, 517, 218, 218, 301, 218, 220, 864, 88, 117, 864, 203, 228, 228, 517, 1035, 766, 231, 1035, 298, 746, 235, 301, 591, 235, 117, 704, 1035, 517, 517, 1035, 1035, 517, 243, 243, 243, 243, 183, 517, 517, 517, 517, 774, 235, 205, 210, 246, 374, 374, 517, 517, 864, 289, 265, 111, 301, 100, 265, 265, 265, 700, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 766, 1035, 1035, 666, 274, 1035, 517, 903, 117, 199, 864, 289, 289, 289, 289, 289, 289, 289, 205, 614, 624, 2, 289, 289, 289, 289, 289, 289, 289, 289, 289, 79, 100, 291, 293, 646, 298, 298, 301, 301, 304, 816, 210, 864, 739, 265, 167, 301, 301, 301, 301, 301, 301, 301, 301, 301, 301, 301, 301, 517, 517, 325, 912, 517, 444, 517, 336, 336, 766, 337, 337, 337, 704, 100, 107, 517, 338, 1035, 517, 343, 343, 343, 509, 1035, 247, 359, 596, 289, 517, 579, 175, 289, 289, 289, 1035, 370, 375, 220, 391, 391, 706, 289, 446, 517, 368, 1035, 1035, 419, 471, 419, 419, 517, 265, 517, 861, 554, 1035, 426, 426, 426, 426, 426, 426, 1035, 197, 427, 517, 517, 517, 517, 517, 517, 517, 517, 500, 745, 427, 359, 517, 197, 1035, 441, 439, 439, 391, 446, 446, 142, 427, 1035, 1035, 517, 289, 517, 517, 458, 460, 289, 908, 289, 471, 359, 444, 517, 210, 238, 605, 489, 491, 491, 491, 117, 491, 810, 1035, 492, 517, 517, 517, 189, 203, 511, 853, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 370, 741, 864, 864, 864, 289, 624, 528, 623, 530, 530, 530, 531, 444, 183, 532, 1035, 847, 746, 541, 541, 541, 1035, 517, 517, 788, 427, 214, 896, 1035, 810, 896, 847, 584, 1035, 1026, 517, 299, 1026, 517, 848, 716, 235, 595, 491, 1035, 514, 462, 462, 1035, 517, 228, 517, 614, 614, 197, 614, 197, 1035, 517, 517, 517, 210, 146, 1035, 864, 432, 640, 318, 531, 646, 646, 646, 646, 1035, 652, 289, 1035, 662, 491, 210, 517, 704, 402, 704, 704, 704, 98, 746, 1035, 1035, 1035, 164, 714, 714, 1035, 741, 644, 735, 736, 738, 912, 289, 37, 745, 1035, 1035, 749, 749, 749, 753, 753, 769, 726, 726, 294, 514, 337, 547, 726, 509, 773, 810, 210, 778, 778, 778, 778, 301, 304, 796, 117, 117, 94, 753, 804, 806, 416, 517, 745, 745, 809, 810, 790, 745, 1035, 517, 1026, 517, 517, 517, 49, 120, 517, 517, 517, 888, 847, 847, 549, 847, 517, 517, 517, 517, 289, 234, 864, 864, 866, 214, 175, 1035, 896, 896, 896, 37, 1035, 902, 904, 439, 517, 1035, 517, 517, 517, 1035, 517, 1035, 1035, 1035, 517, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1026, 1026, 1026, 1026, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 1035, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 517, 1035, 1035, 1035, 1035, 912, 1035, 1035, 1035, 1018, 1002, 1035, 1035, 517, 1035, 1035, 517, 517, 517, 1035, 517, 1035, 1035, 517, 1035, 1035, 1035, 1035, 1035, 1035, 1003, 517, 912, 1015, 1035, 1035, 1026, 1026, 1026, 517, 517, 1026, 1026, 1035, 517, 1028, 1028, 1028, 1028, 1028, 1028, 1029, 1029, 1035]
[2, 4, 8, 8, 8, 8, 8, 8, 10, 16, 23, 27, 30, 31, 31, 31, 31, 32, 34, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 39, 40, 44, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 52, 53, 53, 53, 53, 57, 58, 60, 62, 62, 68, 69, 70, 70, 70, 71, 71, 71, 75, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 80, 82, 83, 89, 90, 92, 92, 93, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 97, 98, 100, 100, 100, 100, 108, 108, 108, 109, 110, 111, 111, 111, 111, 111, 111, 115, 120, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 129, 131, 132, 135, 135, 135, 137, 139, 142, 143, 149, 151, 151, 152, 155, 157, 161, 162, 163, 166, 166, 172, 172, 172, 172, 172, 172, 174, 180, 180, 182, 182, 182, 182, 183, 183, 185, 187, 187, 187, 187, 187, 189, 190, 190, 190, 190, 190, 190, 190, 190, 193, 193, 194, 197, 197, 197, 197, 202, 203, 205, 205, 205, 207, 207, 209, 210, 210, 210, 213, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 215, 218, 218, 218, 218, 220, 223, 224, 227, 228, 228, 228, 228, 228, 228, 230, 231, 232, 234, 234, 235, 235, 235, 235, 236, 236, 238, 238, 238, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 246, 249, 254, 260, 260, 260, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 274, 274, 275, 277, 277, 278, 280, 281, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 291, 293, 297, 298, 298, 301, 301, 304, 306, 308, 310, 318, 318, 319, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 329, 332, 334, 335, 336, 336, 337, 337, 337, 337, 337, 337, 337, 337, 338, 341, 342, 343, 343, 343, 343, 353, 356, 359, 359, 360, 362, 363, 363, 364, 364, 364, 364, 370, 375, 379, 391, 395, 402, 402, 404, 408, 416, 418, 418, 419, 419, 419, 419, 419, 419, 420, 421, 422, 425, 426, 426, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 436, 441, 443, 443, 444, 446, 446, 447, 450, 454, 455, 455, 455, 455, 455, 458, 460, 464, 466, 469, 471, 473, 473, 485, 487, 487, 488, 489, 491, 491, 491, 491, 491, 491, 492, 492, 495, 495, 495, 499, 501, 502, 509, 517, 517, 517, 517, 517, 517, 517, 521, 524, 524, 524, 524, 524, 524, 528, 528, 530, 530, 530, 531, 531, 531, 532, 537, 540, 541, 541, 541, 541, 548, 548, 551, 552, 555, 572, 573, 574, 575, 579, 582, 584, 585, 587, 588, 589, 590, 590, 591, 592, 595, 595, 595, 597, 597, 604, 606, 610, 610, 610, 611, 614, 614, 614, 614, 614, 618, 619, 619, 619, 624, 627, 632, 635, 640, 640, 642, 644, 646, 646, 646, 646, 648, 652, 652, 656, 662, 662, 686, 693, 695, 699, 702, 704, 704, 708, 708, 710, 710, 711, 714, 714, 714, 715, 717, 727, 735, 736, 737, 741, 741, 741, 745, 746, 746, 749, 749, 750, 753, 753, 764, 764, 764, 765, 765, 766, 769, 769, 771, 773, 775, 775, 778, 778, 778, 778, 780, 790, 796, 803, 803, 803, 803, 804, 806, 806, 806, 809, 809, 809, 810, 823, 825, 826, 826, 830, 830, 830, 830, 830, 831, 834, 840, 840, 841, 847, 847, 847, 847, 849, 853, 853, 853, 853, 859, 864, 864, 866, 896, 896, 896, 896, 896, 896, 897, 901, 903, 904, 904, 914, 919, 919, 919, 919, 922, 933, 937, 937, 937, 938, 940, 940, 940, 948, 948, 948, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 952, 953, 955, 955, 958, 960, 962, 967, 967, 973, 974, 977, 980, 981, 981, 983, 986, 988, 989, 989, 991, 994, 994, 997, 1001, 1001, 1003, 1013, 1014, 1015, 1016, 1016, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1028, 1028, 1028, 1028, 1028, 1028, 1029, 1029, 1035]

In [45]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

216
0.24942263279445728