<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_4_tuning_healthnews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0   1221      0 --:--:-- --:--:-- --:--:--  1216
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-4.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [53]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-4.validation.csv",header=None)
valid.head()

   0                      1
0  6  diastolic dysfunction
1  8              ARTHRITIS
2  8              arthritis
3  8              arthritis
4  8              arthritis

In [54]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-4.test.csv",header=None)
test.head()

    0                              1
0   4   purple sploches around waist
1   6  stage 1 diastolic dysfunction
2   8                      arthritis
3  12                       shingles
4  16                            flu

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_healthnews_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [59]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [63]:
learn.fit_one_cycle(1, 1e-2)

In [64]:
learn.fit_one_cycle(1, 1e-2)

In [65]:
learn.fit_one_cycle(1, 1e-3)

In [66]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('healthnews_fold4_first')

In [68]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('healthnews_fold4_first')
learn.fit_one_cycle(1, 1e-2)

In [69]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [70]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [71]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [72]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [73]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [74]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [75]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [76]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [77]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [78]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [79]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [80]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [81]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [82]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [83]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [84]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-4-tuning-healthnews')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [87]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[334, 1035, 8, 1026, 596, 596, 646, 646, 27, 29, 31, 414, 414, 414, 414, 1028, 896, 639, 37, 37, 37, 289, 741, 1035, 1035, 325, 164, 49, 265, 49, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 164, 1028, 1028, 1028, 228, 245, 61, 61, 62, 904, 228, 228, 228, 614, 289, 1028, 1028, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 1028, 524, 80, 80, 80, 89, 1026, 1028, 92, 92, 92, 1026, 864, 94, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 289, 289, 289, 228, 1028, 902, 214, 100, 836, 72, 108, 660, 1028, 289, 289, 289, 210, 111, 111, 635, 1035, 116, 1028, 120, 1028, 1028, 125, 1028, 1028, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 129, 167, 473, 140, 143, 553, 157, 1028, 882, 882, 164, 1028, 291, 741, 741, 289, 228, 228, 228, 1035, 427, 178, 182, 182, 182, 182, 182, 289, 289, 2, 183, 1028, 758, 758, 758, 758, 758, 758, 758, 758, 1028, 240, 240, 188, 189, 189, 899, 172, 190, 190, 190, 190, 462, 228, 426, 197, 205, 206, 790, 661, 210, 164, 326, 314, 1028, 1028, 1028, 471, 265, 265, 265, 289, 289, 318, 1028, 1028, 427, 220, 228, 140, 140, 443, 469, 260, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 289, 536, 234, 1028, 1028, 703, 488, 265, 164, 164, 1028, 1028, 1028, 1028, 1028, 260, 210, 289, 1028, 1028, 210, 753, 753, 567, 485, 1028, 228, 265, 265, 111, 265, 265, 265, 265, 703, 265, 265, 265, 265, 265, 265, 265, 265, 265, 1035, 228, 1035, 337, 334, 1028, 1028, 274, 276, 580, 580, 1035, 689, 1028, 1028, 62, 289, 289, 289, 265, 289, 289, 289, 289, 289, 289, 463, 111, 289, 289, 289, 289, 289, 289, 289, 304, 553, 1028, 351, 289, 265, 163, 475, 309, 309, 418, 309, 1035, 318, 318, 767, 1028, 1028, 1035, 49, 49, 49, 1028, 1028, 1028, 1028, 1028, 1028, 24, 738, 1035, 289, 1035, 1035, 1026, 1026, 808, 336, 337, 1035, 1035, 55, 5, 402, 342, 343, 343, 343, 343, 343, 129, 623, 598, 701, 359, 359, 359, 368, 360, 1028, 577, 1028, 4, 794, 515, 397, 648, 1035, 391, 391, 397, 1028, 1028, 402, 402, 402, 217, 42, 1028, 1028, 636, 418, 260, 214, 471, 419, 651, 420, 1028, 197, 197, 426, 1035, 427, 1026, 427, 427, 427, 427, 427, 427, 42, 703, 430, 430, 326, 376, 468, 435, 441, 258, 441, 258, 446, 1028, 1028, 1028, 1035, 459, 164, 1035, 772, 715, 471, 419, 1035, 864, 8, 475, 489, 491, 491, 541, 491, 491, 491, 491, 491, 491, 662, 664, 210, 491, 1035, 1028, 495, 432, 509, 549, 443, 164, 1028, 517, 518, 517, 519, 910, 1028, 289, 530, 530, 530, 530, 27, 536, 1035, 1028, 1028, 541, 541, 545, 545, 1035, 646, 444, 164, 1028, 1028, 1035, 591, 1028, 635, 265, 564, 462, 960, 210, 3, 728, 210, 210, 1035, 391, 1028, 1028, 1028, 592, 592, 97, 1035, 39, 427, 1028, 597, 289, 746, 1028, 896, 445, 289, 289, 289, 289, 304, 304, 1028, 1035, 1028, 1028, 1028, 1028, 1035, 624, 564, 94, 109, 415, 1035, 546, 55, 55, 646, 786, 443, 646, 646, 646, 646, 646, 646, 1035, 245, 636, 636, 636, 636, 606, 446, 658, 658, 662, 662, 491, 646, 646, 909, 677, 623, 172, 1028, 696, 364, 1035, 326, 1035, 1035, 714, 715, 715, 875, 638, 326, 564, 1035, 289, 228, 483, 746, 749, 912, 1035, 245, 769, 182, 245, 605, 704, 777, 778, 1035, 402, 164, 794, 1035, 415, 1028, 27, 809, 809, 443, 427, 809, 809, 359, 402, 521, 197, 817, 1035, 999, 427, 826, 610, 826, 826, 826, 164, 1028, 1028, 163, 831, 1028, 1028, 1028, 1028, 427, 245, 1028, 1028, 427, 1035, 164, 847, 531, 265, 591, 994, 517, 1028, 1028, 164, 164, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1035, 473, 703, 775, 864, 864, 864, 865, 211, 858, 896, 1035, 1035, 892, 882, 890, 893, 896, 896, 896, 704, 897, 289, 896, 1035, 1035, 673, 402, 698, 455, 1028, 164, 164, 164, 1002, 817, 164, 164, 1028, 1028, 164, 164, 164, 164, 1026, 1026, 1026, 1026, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 164, 164, 1028, 1028, 164, 164, 1028, 1028, 937, 1028, 164, 164, 1028, 407, 1028, 1035, 164, 164, 949, 164, 164, 1028, 164, 164, 164, 1028, 1028, 334, 1026, 1026, 1028, 1028, 1026, 1028, 1028, 1028, 1029, 1031, 164, 1035]
[4, 6, 8, 12, 16, 16, 27, 27, 27, 29, 31, 31, 31, 31, 31, 32, 37, 37, 37, 37, 37, 37, 37, 42, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 53, 59, 60, 61, 61, 62, 64, 76, 76, 76, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 89, 91, 91, 92, 92, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 96, 100, 100, 100, 107, 108, 108, 108, 111, 111, 111, 111, 111, 111, 111, 113, 116, 119, 120, 122, 122, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 129, 131, 139, 140, 143, 147, 157, 160, 165, 165, 166, 166, 168, 172, 172, 172, 172, 172, 172, 172, 175, 178, 182, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 186, 187, 187, 188, 189, 189, 190, 190, 190, 190, 190, 190, 190, 195, 197, 197, 205, 206, 207, 208, 210, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 216, 218, 220, 220, 223, 226, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 234, 235, 235, 236, 236, 236, 243, 243, 243, 243, 243, 243, 243, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 254, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 270, 271, 274, 276, 280, 280, 281, 285, 286, 287, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 298, 300, 300, 301, 301, 301, 301, 301, 309, 309, 309, 309, 312, 318, 318, 321, 323, 323, 323, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 326, 332, 332, 335, 336, 337, 337, 337, 338, 338, 339, 342, 343, 343, 343, 343, 343, 343, 348, 350, 359, 359, 359, 359, 359, 360, 362, 363, 364, 366, 368, 372, 382, 385, 390, 391, 391, 393, 396, 401, 402, 402, 402, 402, 408, 408, 408, 409, 418, 419, 419, 419, 419, 419, 420, 424, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 430, 431, 434, 434, 435, 441, 441, 441, 441, 446, 455, 455, 455, 455, 459, 460, 463, 470, 470, 471, 471, 472, 474, 475, 475, 489, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 492, 495, 495, 508, 509, 510, 511, 516, 516, 517, 517, 517, 518, 521, 522, 529, 530, 530, 530, 530, 536, 536, 537, 540, 540, 541, 541, 545, 545, 546, 546, 546, 548, 548, 548, 556, 557, 559, 565, 567, 568, 570, 570, 573, 574, 577, 579, 579, 583, 584, 590, 590, 590, 592, 592, 594, 594, 596, 597, 597, 597, 604, 610, 610, 614, 614, 614, 614, 614, 614, 616, 616, 619, 619, 623, 623, 623, 623, 623, 624, 626, 627, 633, 639, 640, 644, 644, 644, 644, 646, 646, 646, 646, 646, 646, 646, 646, 646, 648, 652, 652, 652, 652, 652, 655, 658, 658, 662, 662, 664, 666, 666, 671, 676, 684, 686, 693, 696, 702, 708, 711, 711, 711, 714, 715, 715, 715, 723, 724, 728, 741, 741, 742, 744, 746, 749, 753, 758, 765, 769, 772, 774, 775, 775, 777, 778, 787, 789, 794, 794, 797, 801, 803, 808, 809, 809, 809, 809, 809, 809, 809, 810, 811, 816, 817, 817, 824, 825, 826, 826, 826, 826, 826, 830, 830, 830, 830, 831, 832, 838, 840, 840, 840, 841, 841, 841, 844, 846, 847, 847, 847, 847, 848, 849, 850, 852, 852, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 854, 860, 860, 864, 864, 864, 865, 867, 876, 876, 877, 877, 878, 882, 890, 893, 896, 896, 896, 896, 896, 896, 897, 904, 904, 904, 904, 910, 911, 918, 919, 919, 919, 921, 924, 937, 937, 937, 937, 942, 945, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 951, 952, 952, 954, 955, 961, 964, 967, 967, 967, 968, 969, 977, 996, 998, 999, 1001, 1001, 1001, 1007, 1015, 1015, 1016, 1017, 1018, 1025, 1026, 1026, 1026, 1026, 1026, 1026, 1028, 1029, 1031, 1033, 1035]

In [88]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

225
0.25981524249422633