<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_overlap_50_cadec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [6]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0     50      0  0:00:05  0:00:05 --:--:--    68
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [7]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-0.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [13]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-0.validation.csv",header=None)
valid.head()

   0                             1
0  0                          fear
1  2                     heel pain
2  4  purple sploches around waist
3  7                        goiter
4  8                     ARTHRITIS

In [14]:
# testing data set

test = pd.read_csv(path/"AskAPatient_overlap_50.csv",header=None)
test.head()

   0                                 1
0  0                  'scared' feeling
1  2                         heel pain
2  3  cracking sensations in my joints
3  4      purple sploches around waist
4  5           fast and slow heartbeat

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_cadec_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [19]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [23]:
learn.fit_one_cycle(1, 1e-2)

In [24]:
learn.fit_one_cycle(1, 1e-2)

In [25]:
learn.fit_one_cycle(1, 1e-3)

In [26]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('AskAPatient_overlap_50_first')

In [28]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('AskAPatient_overlap_50_first')
learn.fit_one_cycle(1, 1e-2)

In [29]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [30]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [42]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [43]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [44]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [45]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('AskAPatient_overlap_50')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [48]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

1221
1221
[103, 2, 910, 878, 81, 5, 194, 1031, 8, 8, 8, 8, 8, 8, 8, 126, 10, 123, 788, 71, 21, 1031, 610, 27, 27, 1028, 1003, 29, 614, 289, 30, 414, 414, 32, 34, 76, 289, 37, 37, 37, 37, 37, 289, 218, 640, 515, 655, 194, 1031, 1031, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 100, 100, 100, 100, 100, 764, 53, 53, 53, 58, 59, 61, 770, 71, 71, 71, 71, 491, 76, 76, 76, 260, 753, 122, 614, 710, 1031, 614, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 109, 289, 289, 614, 614, 614, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 202, 88, 89, 268, 391, 202, 753, 92, 850, 94, 94, 94, 453, 94, 94, 94, 94, 94, 94, 761, 337, 533, 683, 98, 794, 337, 100, 100, 337, 100, 100, 100, 100, 58, 100, 100, 101, 337, 72, 660, 660, 660, 636, 1035, 313, 289, 289, 289, 260, 1035, 565, 126, 289, 289, 730, 117, 1031, 120, 135, 135, 753, 1031, 1031, 125, 778, 778, 778, 778, 778, 778, 778, 778, 125, 1031, 796, 127, 741, 289, 129, 289, 131, 13, 427, 439, 447, 447, 144, 146, 127, 301, 151, 151, 517, 354, 661, 158, 163, 178, 165, 260, 350, 350, 101, 490, 172, 864, 289, 655, 864, 864, 864, 864, 864, 34, 180, 289, 182, 182, 182, 182, 289, 289, 758, 758, 758, 758, 758, 758, 758, 758, 758, 758, 758, 758, 758, 758, 184, 184, 185, 187, 187, 187, 1031, 189, 189, 567, 190, 190, 190, 190, 704, 190, 289, 190, 190, 202, 197, 34, 34, 34, 34, 805, 205, 769, 210, 210, 210, 210, 243, 243, 243, 211, 34, 1031, 34, 34, 34, 471, 34, 34, 34, 34, 34, 214, 214, 214, 214, 337, 214, 214, 1031, 710, 427, 455, 218, 220, 220, 220, 220, 220, 710, 226, 313, 228, 228, 228, 228, 228, 289, 228, 289, 289, 228, 228, 544, 231, 427, 234, 234, 234, 235, 337, 58, 238, 1031, 1031, 238, 240, 187, 1031, 710, 710, 243, 243, 243, 243, 866, 1031, 1031, 355, 245, 245, 245, 245, 245, 764, 245, 245, 245, 245, 693, 50, 246, 546, 357, 357, 1031, 1031, 273, 273, 728, 1035, 260, 289, 289, 1031, 262, 313, 289, 265, 660, 337, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 260, 265, 427, 265, 265, 214, 260, 286, 268, 268, 391, 1031, 269, 904, 34, 517, 276, 277, 289, 847, 283, 427, 107, 651, 289, 289, 289, 289, 289, 289, 289, 626, 289, 289, 289, 655, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 655, 291, 289, 849, 877, 805, 694, 300, 300, 533, 301, 301, 100, 214, 304, 762, 308, 309, 309, 864, 289, 289, 864, 289, 864, 750, 642, 427, 427, 427, 265, 912, 146, 537, 234, 321, 509, 1031, 323, 325, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 710, 301, 325, 325, 729, 326, 61, 328, 790, 203, 1018, 1018, 710, 336, 337, 337, 337, 337, 337, 337, 337, 768, 768, 343, 343, 427, 281, 144, 289, 337, 798, 350, 214, 359, 359, 359, 359, 732, 359, 360, 360, 363, 363, 364, 364, 364, 364, 289, 367, 374, 376, 1031, 386, 387, 661, 391, 866, 710, 710, 396, 224, 402, 402, 402, 402, 405, 251, 288, 805, 416, 159, 418, 419, 651, 651, 651, 651, 651, 651, 651, 289, 289, 289, 651, 651, 1031, 710, 426, 614, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 614, 427, 789, 427, 427, 427, 427, 591, 587, 174, 736, 430, 910, 238, 435, 435, 24, 441, 233, 444, 444, 391, 446, 94, 1031, 455, 455, 893, 228, 3, 615, 473, 474, 475, 475, 591, 591, 710, 710, 710, 239, 479, 175, 216, 744, 406, 486, 194, 720, 326, 489, 491, 491, 491, 706, 491, 491, 710, 289, 492, 492, 805, 499, 499, 288, 288, 164, 507, 739, 509, 126, 710, 516, 517, 1031, 517, 517, 910, 521, 524, 710, 286, 530, 530, 530, 530, 746, 546, 535, 541, 541, 542, 591, 591, 545, 545, 546, 384, 384, 384, 384, 384, 384, 549, 367, 699, 159, 491, 427, 427, 567, 775, 810, 100, 185, 903, 58, 578, 896, 579, 579, 579, 579, 584, 126, 289, 517, 517, 591, 75, 427, 591, 592, 97, 97, 707, 595, 533, 427, 597, 1031, 541, 491, 604, 606, 606, 607, 175, 50, 610, 610, 610, 785, 289, 614, 655, 614, 614, 649, 710, 1031, 1031, 710, 623, 624, 633, 633, 633, 637, 245, 574, 644, 644, 644, 646, 646, 646, 646, 646, 107, 638, 638, 367, 651, 652, 652, 636, 636, 636, 636, 652, 49, 180, 180, 660, 662, 662, 662, 662, 29, 437, 437, 378, 666, 541, 706, 681, 684, 686, 289, 765, 686, 741, 427, 216, 693, 698, 651, 864, 703, 753, 289, 289, 704, 605, 704, 289, 703, 704, 579, 706, 595, 707, 707, 710, 316, 783, 126, 97, 228, 872, 638, 727, 730, 861, 88, 1035, 610, 704, 741, 741, 741, 289, 289, 745, 746, 746, 746, 49, 746, 749, 753, 753, 794, 96, 607, 337, 337, 910, 350, 770, 350, 775, 49, 100, 775, 775, 49, 775, 775, 775, 775, 502, 359, 787, 710, 553, 216, 359, 798, 840, 1031, 804, 1031, 805, 805, 164, 808, 373, 809, 809, 809, 809, 809, 809, 810, 810, 575, 810, 517, 1035, 427, 824, 377, 826, 826, 826, 228, 828, 432, 1031, 830, 830, 830, 830, 830, 830, 831, 1031, 202, 574, 375, 840, 640, 846, 846, 847, 847, 847, 808, 847, 591, 49, 785, 785, 853, 853, 853, 853, 853, 853, 853, 860, 706, 864, 864, 130, 864, 864, 865, 865, 81, 73, 868, 1031, 874, 876, 876, 877, 877, 1035, 728, 4, 289, 289, 892, 893, 415, 896, 896, 896, 896, 896, 896, 896, 734, 896, 119, 680, 775, 753, 1031, 906, 126, 1031, 994, 919, 919, 1031, 1031, 353, 1031, 1035, 933, 933, 710, 937, 937, 937, 937, 937, 937, 937, 710, 710, 1031, 1031, 710, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 1035, 1031, 710, 494, 494, 950, 950, 950, 950, 952, 952, 955, 1031, 710, 710, 710, 710, 966, 710, 710, 710, 1031, 710, 977, 710, 256, 994, 1031, 1001, 1001, 962, 710, 1031, 1023, 439, 1031, 1035, 1031, 983, 1023, 1023, 1028, 1028, 1028, 1028, 1029, 1029, 1031, 1035]
[0, 2, 3, 4, 5, 5, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 10, 14, 18, 19, 21, 22, 22, 27, 27, 28, 28, 29, 30, 30, 30, 31, 31, 32, 34, 34, 37, 37, 37, 37, 37, 37, 37, 38, 40, 41, 44, 47, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 53, 53, 53, 58, 59, 61, 70, 71, 71, 71, 71, 74, 76, 76, 76, 77, 77, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 82, 88, 89, 89, 89, 90, 91, 92, 93, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 98, 98, 98, 99, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 101, 102, 107, 108, 108, 108, 109, 110, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 117, 119, 120, 120, 120, 122, 122, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 129, 129, 129, 129, 131, 132, 135, 138, 142, 142, 144, 146, 150, 150, 151, 151, 153, 157, 157, 158, 163, 165, 165, 166, 166, 166, 168, 170, 172, 172, 172, 172, 172, 172, 172, 172, 172, 173, 180, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 184, 184, 185, 187, 187, 187, 187, 189, 189, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 193, 197, 197, 197, 197, 197, 204, 205, 205, 210, 210, 210, 210, 210, 210, 210, 211, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 216, 218, 218, 218, 220, 220, 220, 220, 220, 222, 226, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 229, 231, 234, 234, 234, 234, 235, 236, 236, 238, 238, 238, 238, 240, 240, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 246, 246, 249, 254, 254, 254, 254, 259, 260, 260, 260, 261, 262, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 266, 268, 268, 268, 268, 269, 269, 270, 271, 272, 276, 277, 281, 282, 283, 286, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 293, 294, 295, 299, 299, 300, 300, 301, 301, 301, 301, 301, 304, 304, 308, 309, 309, 309, 309, 309, 309, 309, 309, 317, 318, 318, 318, 318, 318, 318, 318, 320, 320, 321, 321, 323, 323, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 326, 327, 328, 330, 333, 334, 334, 335, 336, 337, 337, 337, 337, 337, 337, 337, 338, 338, 343, 343, 343, 343, 344, 345, 346, 347, 350, 351, 359, 359, 359, 359, 359, 359, 360, 360, 363, 363, 364, 364, 364, 364, 364, 365, 374, 376, 380, 386, 387, 388, 392, 394, 396, 396, 396, 402, 402, 402, 402, 402, 405, 408, 408, 413, 415, 416, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 424, 424, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 428, 430, 433, 434, 435, 435, 438, 441, 443, 444, 444, 444, 446, 453, 455, 455, 455, 461, 462, 465, 473, 473, 474, 475, 475, 475, 475, 476, 476, 476, 477, 479, 479, 481, 482, 483, 486, 487, 487, 488, 489, 491, 491, 491, 491, 491, 491, 491, 491, 492, 492, 493, 499, 499, 505, 505, 506, 507, 509, 509, 514, 516, 516, 517, 517, 517, 517, 521, 521, 524, 527, 529, 530, 530, 530, 530, 531, 531, 535, 541, 541, 542, 543, 543, 545, 545, 546, 548, 548, 548, 548, 548, 548, 549, 549, 554, 561, 561, 565, 566, 567, 571, 575, 577, 577, 577, 577, 578, 578, 579, 579, 579, 579, 584, 586, 588, 590, 590, 591, 591, 591, 591, 592, 594, 594, 595, 595, 595, 596, 597, 597, 598, 598, 604, 606, 606, 607, 608, 609, 610, 610, 610, 611, 614, 614, 614, 614, 614, 617, 619, 619, 619, 623, 623, 624, 633, 633, 633, 637, 638, 640, 644, 644, 644, 646, 646, 646, 646, 646, 646, 648, 648, 648, 651, 652, 652, 652, 652, 652, 652, 654, 659, 659, 659, 660, 662, 662, 662, 662, 663, 663, 663, 664, 666, 669, 677, 681, 683, 686, 686, 686, 686, 687, 689, 693, 693, 698, 700, 700, 701, 701, 702, 702, 702, 702, 703, 703, 703, 704, 704, 705, 705, 707, 707, 710, 710, 711, 715, 716, 717, 718, 723, 727, 730, 731, 733, 738, 739, 741, 741, 741, 741, 741, 741, 745, 746, 746, 746, 746, 746, 749, 753, 753, 756, 761, 763, 765, 766, 767, 770, 771, 774, 775, 775, 775, 775, 775, 775, 775, 775, 775, 775, 782, 784, 787, 787, 788, 794, 794, 798, 800, 803, 804, 804, 805, 805, 807, 808, 809, 809, 809, 809, 809, 809, 809, 810, 810, 810, 810, 813, 815, 816, 824, 826, 826, 826, 826, 827, 828, 829, 830, 830, 830, 830, 830, 830, 830, 831, 834, 834, 840, 840, 840, 840, 844, 846, 847, 847, 847, 847, 847, 847, 847, 852, 852, 853, 853, 853, 853, 853, 853, 853, 860, 861, 864, 864, 864, 864, 864, 865, 865, 865, 867, 868, 871, 874, 876, 876, 877, 877, 882, 883, 888, 889, 889, 892, 893, 894, 896, 896, 896, 896, 896, 896, 896, 896, 896, 898, 902, 903, 903, 905, 906, 908, 916, 917, 919, 919, 920, 926, 929, 931, 932, 933, 933, 936, 937, 937, 937, 937, 937, 937, 937, 941, 941, 944, 947, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 955, 955, 956, 956, 964, 964, 966, 967, 967, 967, 969, 976, 977, 983, 994, 994, 1000, 1001, 1001, 1002, 1008, 1011, 1017, 1019, 1020, 1020, 1022, 1026, 1026, 1026, 1028, 1028, 1028, 1028, 1029, 1029, 1030, 1035]

In [49]:
correct_num = 0

for i in range(0, 1221):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

627
0.5135135135135135