<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_1_tuning_cadec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0   1055      0 --:--:-- --:--:-- --:--:--  1055
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-1.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [10]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-1.validation.csv",header=None)
valid.head()

   0                                            1
0  0                                         fear
1  2                                   heels hurt
2  4  Discoloration of skin [blotchy] on the neck
3  6                        diastolic dysfunction
4  8                                    arthritis

In [11]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-1.test.csv",header=None)
test.head()

   0                          1
0  2                  heel pain
1  2  right heel became painful
2  8                  Arthritis
3  8                 arthristis
4  8                  arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_cadec_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [20]:
learn.fit_one_cycle(1, 1e-2)

In [21]:
learn.fit_one_cycle(1, 1e-2)

In [22]:
learn.fit_one_cycle(1, 1e-3)

In [23]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('ft_fold1_first')

In [25]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('ft_fold1_first')
learn.fit_one_cycle(1, 1e-2)

In [26]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [27]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [28]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [29]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-1-tuning-cadec')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [42]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

867
867
[2, 2, 8, 122, 8, 8, 611, 16, 20, 21, 611, 383, 27, 31, 994, 37, 37, 37, 37, 37, 185, 37, 289, 289, 37, 864, 427, 42, 44, 603, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 188, 60, 61, 62, 1002, 70, 776, 71, 122, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 260, 289, 289, 289, 289, 289, 289, 289, 260, 80, 1009, 80, 80, 80, 80, 491, 260, 88, 89, 611, 92, 92, 92, 94, 94, 94, 94, 94, 736, 453, 453, 453, 94, 96, 96, 366, 591, 100, 100, 100, 100, 337, 100, 100, 572, 337, 100, 100, 100, 103, 537, 105, 107, 107, 660, 660, 111, 111, 462, 111, 111, 111, 111, 111, 289, 111, 114, 117, 447, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 375, 289, 624, 55, 135, 135, 453, 139, 139, 913, 447, 828, 864, 146, 158, 166, 166, 350, 537, 171, 172, 289, 260, 172, 172, 214, 214, 214, 106, 387, 182, 127, 49, 182, 182, 182, 182, 182, 289, 182, 289, 758, 758, 758, 758, 758, 758, 758, 184, 187, 187, 187, 187, 189, 189, 190, 190, 289, 193, 193, 197, 197, 200, 202, 205, 205, 289, 771, 877, 34, 34, 34, 34, 214, 214, 214, 218, 220, 220, 223, 223, 226, 227, 228, 228, 228, 228, 463, 228, 228, 228, 228, 228, 228, 228, 228, 234, 236, 236, 1009, 537, 537, 537, 243, 243, 243, 245, 245, 245, 245, 245, 246, 517, 383, 383, 364, 4, 909, 289, 262, 264, 265, 265, 313, 864, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 352, 289, 89, 38, 278, 276, 537, 165, 1035, 280, 862, 281, 289, 281, 289, 289, 289, 289, 289, 289, 741, 523, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 409, 293, 801, 537, 298, 906, 459, 194, 309, 309, 309, 309, 762, 49, 318, 318, 318, 331, 325, 325, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 353, 368, 49, 326, 328, 912, 332, 332, 332, 430, 337, 343, 343, 352, 723, 353, 814, 359, 359, 359, 692, 359, 473, 364, 363, 364, 364, 364, 364, 367, 374, 49, 376, 65, 386, 386, 391, 391, 391, 394, 191, 191, 762, 868, 402, 402, 100, 861, 407, 408, 288, 288, 408, 408, 537, 801, 415, 418, 419, 651, 651, 651, 651, 651, 537, 419, 651, 421, 424, 867, 426, 426, 597, 427, 427, 427, 427, 427, 427, 427, 318, 427, 446, 821, 589, 55, 1035, 435, 624, 438, 258, 441, 443, 444, 337, 391, 728, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 204, 353, 494, 460, 469, 314, 470, 473, 474, 475, 475, 475, 479, 402, 486, 427, 491, 491, 29, 491, 491, 662, 492, 5, 495, 495, 1035, 497, 499, 507, 507, 41, 516, 517, 517, 517, 517, 821, 37, 211, 289, 530, 530, 530, 530, 530, 27, 536, 537, 489, 353, 541, 229, 545, 545, 545, 537, 548, 384, 384, 549, 775, 569, 636, 577, 894, 590, 590, 353, 592, 592, 592, 707, 427, 423, 418, 565, 326, 326, 326, 1035, 614, 614, 614, 614, 614, 614, 614, 528, 528, 214, 913, 537, 274, 644, 28, 644, 646, 646, 652, 636, 636, 636, 450, 664, 660, 662, 662, 662, 662, 378, 664, 666, 726, 902, 682, 289, 686, 591, 700, 701, 289, 704, 353, 711, 711, 711, 809, 1009, 714, 714, 715, 717, 245, 735, 82, 741, 745, 541, 746, 257, 746, 752, 753, 645, 769, 771, 772, 864, 100, 775, 100, 572, 775, 775, 775, 775, 783, 787, 901, 88, 799, 753, 806, 807, 809, 291, 666, 788, 537, 826, 537, 826, 150, 830, 830, 830, 815, 830, 202, 801, 840, 1003, 847, 847, 38, 537, 853, 387, 367, 363, 748, 31, 864, 862, 874, 902, 764, 877, 877, 877, 443, 878, 878, 413, 281, 366, 245, 895, 896, 896, 896, 896, 896, 896, 214, 904, 904, 910, 919, 919, 913, 1035, 927, 511, 913, 973, 933, 936, 936, 937, 937, 937, 937, 937, 937, 1002, 1002, 1002, 1002, 537, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 960, 961, 352, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 955, 913, 957, 958, 961, 963, 983, 967, 968, 983, 353, 976, 976, 1002, 913, 913, 983, 983, 537, 994, 913, 1008, 1026, 1026, 1028]
[2, 2, 8, 8, 8, 8, 8, 16, 20, 21, 22, 25, 27, 31, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 42, 42, 44, 45, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 59, 60, 61, 62, 65, 70, 71, 71, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 81, 83, 88, 89, 90, 92, 92, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 97, 98, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 103, 103, 105, 107, 107, 108, 108, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 114, 117, 120, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 130, 130, 134, 135, 135, 135, 139, 139, 141, 142, 145, 146, 146, 158, 166, 166, 166, 169, 171, 172, 172, 172, 172, 172, 173, 173, 173, 180, 180, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 184, 187, 187, 187, 187, 189, 189, 190, 190, 190, 193, 193, 197, 197, 200, 202, 205, 205, 205, 209, 214, 214, 214, 214, 214, 214, 214, 214, 218, 220, 220, 223, 223, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 236, 236, 239, 239, 241, 243, 243, 243, 243, 245, 245, 245, 245, 245, 246, 246, 246, 246, 247, 251, 254, 260, 262, 264, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 269, 269, 276, 277, 277, 279, 280, 281, 281, 281, 281, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 290, 293, 294, 298, 298, 299, 302, 304, 309, 309, 309, 309, 315, 317, 318, 318, 318, 324, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 328, 330, 332, 332, 332, 336, 337, 343, 343, 352, 352, 355, 357, 359, 359, 359, 359, 359, 360, 360, 363, 364, 364, 364, 364, 367, 374, 374, 376, 384, 386, 386, 391, 391, 391, 394, 396, 396, 397, 400, 402, 402, 402, 403, 407, 408, 408, 408, 408, 408, 410, 415, 415, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 421, 424, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 428, 428, 432, 435, 435, 438, 440, 441, 443, 444, 444, 444, 448, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 456, 460, 469, 470, 470, 473, 474, 475, 475, 475, 479, 481, 486, 489, 491, 491, 491, 491, 491, 491, 492, 495, 495, 495, 496, 497, 499, 507, 507, 515, 516, 517, 517, 517, 517, 520, 522, 524, 524, 530, 530, 530, 530, 530, 536, 536, 537, 538, 540, 541, 544, 545, 545, 545, 548, 548, 548, 548, 549, 550, 569, 572, 577, 577, 590, 590, 592, 592, 592, 592, 595, 597, 598, 610, 610, 610, 610, 610, 613, 614, 614, 614, 614, 614, 614, 614, 623, 623, 624, 625, 628, 644, 644, 644, 644, 646, 646, 652, 652, 652, 652, 655, 659, 660, 662, 662, 662, 662, 664, 664, 666, 674, 680, 682, 686, 686, 694, 700, 702, 703, 704, 710, 711, 711, 711, 712, 714, 714, 714, 715, 717, 729, 735, 741, 741, 745, 746, 746, 746, 746, 752, 753, 765, 769, 771, 772, 773, 775, 775, 775, 775, 775, 775, 775, 775, 783, 787, 790, 793, 799, 803, 806, 808, 809, 809, 810, 813, 815, 826, 826, 826, 827, 830, 830, 830, 830, 830, 834, 840, 840, 841, 847, 847, 847, 852, 853, 857, 858, 860, 861, 863, 864, 873, 874, 875, 876, 877, 877, 877, 878, 878, 878, 886, 889, 893, 893, 895, 896, 896, 896, 896, 896, 896, 896, 904, 904, 910, 919, 919, 923, 925, 927, 928, 930, 932, 933, 936, 936, 937, 937, 937, 937, 937, 937, 937, 937, 937, 937, 939, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 955, 955, 957, 958, 961, 963, 964, 967, 968, 974, 974, 976, 976, 976, 980, 983, 983, 983, 984, 994, 1006, 1008, 1023, 1026, 1028]

In [43]:
correct_num = 0

for i in range(0, 867):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

549
0.6332179930795848