<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_6_tuning_bigtweet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    686      0 --:--:-- --:--:-- --:--:--   686
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-6.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [12]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-6.validation.csv",header=None)
valid.head()

   0                        1
0  2                heel pain
1  2               heels hurt
2  4     black and blue marks
3  5  fast and slow heartbeat
4  5     increased heart rate

In [13]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-6.test.csv",header=None)
test.head()

   0               1
0  2  left heel pain
1  5     tachycardia
2  8       ARTHRITIS
3  8       arthrites
4  8       arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_bigtweet_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [18]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-2)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [25]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('bigtweet_fold6_first')

In [27]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('bigtweet_fold6_first')
learn.fit_one_cycle(1, 1e-2)

In [28]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [29]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-6-tuning-bigtweet')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [44]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[172, 1026, 1026, 896, 896, 896, 896, 896, 896, 896, 896, 881, 227, 298, 414, 427, 415, 864, 864, 864, 876, 172, 37, 704, 415, 415, 427, 164, 470, 289, 459, 49, 207, 949, 214, 214, 214, 214, 214, 214, 51, 53, 53, 53, 53, 53, 164, 609, 660, 660, 286, 788, 896, 164, 579, 579, 76, 289, 210, 318, 111, 896, 896, 896, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 289, 172, 896, 896, 896, 896, 80, 80, 80, 80, 80, 80, 839, 738, 896, 107, 214, 117, 1028, 1028, 1028, 1028, 164, 470, 896, 94, 94, 94, 94, 94, 94, 94, 902, 265, 265, 214, 592, 100, 100, 100, 896, 766, 528, 864, 864, 579, 579, 788, 517, 289, 318, 579, 164, 896, 896, 116, 801, 227, 289, 896, 864, 896, 447, 125, 896, 125, 125, 125, 125, 125, 125, 777, 245, 874, 319, 135, 443, 745, 896, 896, 847, 896, 470, 579, 896, 165, 896, 111, 864, 864, 864, 309, 896, 745, 467, 741, 182, 517, 183, 183, 183, 183, 896, 896, 240, 240, 896, 1002, 190, 190, 579, 427, 197, 193, 205, 210, 3, 30, 30, 579, 164, 164, 896, 896, 896, 896, 896, 579, 626, 704, 704, 814, 840, 896, 220, 220, 864, 214, 579, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 720, 720, 579, 289, 402, 328, 704, 896, 896, 243, 896, 896, 243, 243, 243, 243, 728, 896, 896, 765, 415, 770, 745, 745, 896, 1026, 624, 126, 289, 826, 265, 214, 265, 265, 318, 100, 100, 265, 577, 265, 265, 265, 265, 265, 265, 265, 265, 100, 896, 318, 289, 214, 896, 289, 164, 579, 165, 165, 165, 896, 896, 94, 111, 847, 284, 288, 289, 289, 289, 289, 289, 289, 289, 289, 182, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 840, 746, 30, 30, 864, 592, 592, 265, 325, 325, 577, 111, 864, 579, 318, 318, 360, 360, 507, 325, 202, 325, 49, 49, 49, 49, 49, 49, 49, 49, 49, 896, 896, 721, 1026, 1026, 1026, 430, 337, 337, 337, 100, 337, 358, 183, 579, 579, 896, 896, 343, 343, 402, 745, 96, 513, 402, 402, 359, 896, 289, 49, 521, 896, 71, 375, 343, 816, 391, 892, 892, 892, 892, 892, 896, 745, 100, 402, 405, 164, 579, 896, 896, 147, 579, 579, 624, 289, 419, 419, 419, 129, 624, 419, 624, 896, 896, 197, 164, 470, 427, 579, 896, 896, 896, 896, 896, 427, 318, 747, 430, 434, 664, 439, 441, 441, 441, 443, 444, 892, 89, 89, 164, 896, 896, 896, 896, 579, 286, 459, 460, 460, 460, 460, 579, 473, 408, 896, 363, 475, 475, 475, 475, 475, 359, 561, 598, 470, 489, 491, 491, 491, 708, 579, 896, 499, 140, 140, 459, 809, 117, 476, 579, 579, 111, 704, 289, 864, 623, 530, 530, 530, 531, 896, 283, 541, 541, 541, 183, 545, 545, 291, 298, 896, 896, 595, 664, 579, 579, 769, 754, 100, 470, 828, 164, 164, 591, 427, 591, 298, 716, 716, 210, 561, 579, 228, 164, 896, 896, 579, 816, 289, 614, 614, 614, 614, 614, 579, 579, 117, 432, 487, 529, 1035, 479, 266, 635, 716, 716, 646, 646, 646, 646, 318, 646, 491, 30, 76, 76, 652, 579, 579, 598, 676, 666, 677, 524, 210, 819, 427, 691, 896, 265, 704, 704, 700, 700, 210, 470, 437, 579, 579, 741, 764, 245, 579, 735, 735, 735, 735, 636, 745, 745, 749, 753, 753, 896, 896, 65, 764, 770, 764, 522, 337, 764, 728, 769, 205, 579, 415, 723, 579, 470, 772, 702, 702, 117, 487, 579, 210, 775, 293, 427, 364, 780, 71, 289, 802, 753, 896, 896, 517, 299, 806, 896, 896, 896, 579, 745, 810, 579, 337, 896, 896, 896, 359, 359, 896, 896, 896, 896, 896, 896, 896, 896, 896, 603, 896, 896, 896, 896, 427, 847, 531, 579, 896, 896, 896, 896, 896, 896, 896, 896, 896, 839, 427, 129, 130, 502, 864, 865, 866, 868, 868, 1026, 775, 518, 888, 890, 415, 704, 772, 704, 318, 579, 517, 289, 814, 210, 579, 773, 210, 24, 896, 164, 318, 164, 164, 1026, 164, 164, 896, 896, 896, 470, 164, 164, 164, 896, 1026, 1026, 1026, 1026, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 164, 164, 164, 164, 164, 164, 164, 164, 164, 896, 164, 164, 164, 164, 164, 164, 164, 896, 896, 164, 896, 579, 164, 164, 1015, 1015, 896, 1002, 1026, 896, 933, 896, 1028, 1029, 1029, 1031, 933]
[2, 5, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 27, 31, 34, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 39, 41, 41, 41, 46, 49, 49, 49, 49, 49, 49, 49, 49, 49, 51, 53, 53, 53, 53, 53, 54, 56, 58, 58, 58, 60, 64, 67, 71, 71, 76, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 81, 81, 83, 89, 90, 91, 91, 91, 91, 91, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 96, 100, 100, 100, 100, 100, 100, 102, 106, 108, 108, 108, 108, 108, 111, 111, 111, 111, 112, 113, 114, 116, 117, 117, 118, 120, 121, 122, 123, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 129, 131, 135, 137, 138, 139, 151, 151, 156, 157, 157, 163, 165, 171, 172, 172, 172, 172, 172, 173, 177, 179, 182, 182, 182, 183, 183, 183, 183, 184, 184, 187, 187, 187, 189, 190, 190, 191, 197, 197, 201, 205, 210, 210, 211, 211, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 218, 220, 220, 223, 224, 225, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 235, 236, 238, 242, 243, 243, 243, 243, 243, 243, 243, 245, 245, 245, 245, 245, 245, 246, 246, 249, 254, 260, 264, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 269, 269, 277, 277, 277, 277, 277, 279, 281, 282, 284, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 293, 293, 293, 298, 298, 300, 301, 301, 301, 309, 309, 309, 318, 318, 318, 318, 320, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 332, 332, 332, 336, 337, 337, 337, 337, 337, 337, 338, 341, 341, 342, 342, 343, 343, 344, 344, 346, 351, 358, 358, 359, 362, 363, 368, 370, 371, 374, 375, 383, 384, 391, 391, 391, 391, 391, 391, 394, 394, 402, 402, 405, 408, 408, 408, 408, 416, 418, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 424, 424, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 434, 437, 439, 441, 441, 441, 443, 444, 445, 446, 446, 455, 455, 455, 455, 455, 455, 457, 459, 460, 460, 460, 460, 470, 473, 473, 474, 475, 475, 475, 475, 475, 475, 475, 477, 486, 488, 489, 491, 491, 491, 491, 491, 497, 499, 499, 499, 499, 504, 506, 509, 510, 517, 524, 524, 524, 526, 528, 530, 530, 530, 531, 534, 541, 541, 541, 541, 545, 545, 545, 545, 546, 548, 548, 562, 563, 565, 565, 567, 576, 577, 579, 583, 590, 590, 591, 591, 591, 592, 592, 592, 594, 597, 601, 606, 610, 610, 610, 611, 614, 614, 614, 614, 614, 614, 614, 614, 614, 623, 623, 623, 623, 625, 626, 631, 635, 644, 644, 646, 646, 646, 646, 646, 646, 649, 651, 652, 652, 652, 656, 660, 662, 665, 666, 678, 686, 686, 687, 689, 691, 693, 700, 704, 704, 704, 704, 704, 708, 709, 710, 710, 717, 722, 723, 732, 735, 735, 735, 735, 741, 745, 745, 749, 753, 753, 755, 757, 763, 764, 764, 764, 764, 766, 769, 769, 769, 769, 770, 771, 771, 772, 772, 773, 775, 775, 775, 775, 775, 775, 775, 775, 775, 776, 780, 794, 801, 802, 803, 803, 804, 805, 805, 806, 806, 806, 806, 809, 809, 810, 817, 819, 826, 826, 826, 826, 826, 830, 830, 830, 830, 830, 830, 830, 830, 835, 836, 838, 840, 840, 840, 846, 847, 847, 848, 848, 852, 852, 852, 852, 853, 853, 853, 853, 853, 856, 861, 861, 864, 864, 865, 866, 868, 868, 871, 876, 883, 888, 890, 894, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 902, 903, 904, 918, 919, 933, 935, 935, 936, 937, 937, 937, 937, 937, 940, 948, 948, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 952, 952, 955, 956, 957, 958, 964, 967, 972, 976, 976, 976, 976, 980, 986, 994, 999, 1010, 1015, 1015, 1020, 1024, 1026, 1026, 1026, 1026, 1028, 1029, 1029, 1031, 1035]

In [45]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

203
0.23441108545034642