<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_3_tuning_cadec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [6]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0   1051      0 --:--:-- --:--:-- --:--:--  1051
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [7]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-3.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [12]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-3.validation.csv",header=None)
valid.head()

   0                          1
0  2             left heel pain
1  2  right heel became painful
2  8                  Arthritis
3  8                  arthritis
4  8                  arthritis

In [13]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-3.test.csv",header=None)
test.head()

   0                      1
0  2              heel pain
1  5       rapid heart beat
2  6  diastolic dysfunction
3  8              arthritis
4  8              arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_cadec_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-2)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
# learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('ft_fold3_first')

In [27]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('ft_fold3_first')
learn.fit_one_cycle(1, 1e-2)

In [28]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [29]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-3-tuning-cadec')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [0]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[2, 334, 6, 8, 8, 8, 12, 957, 1035, 27, 27, 291, 29, 30, 31, 34, 877, 597, 37, 37, 37, 37, 37, 37, 896, 37, 37, 49, 301, 49, 1031, 49, 82, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 597, 61, 61, 491, 159, 337, 1031, 70, 71, 107, 8, 76, 209, 260, 289, 402, 633, 633, 633, 815, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 523, 289, 614, 614, 289, 80, 80, 80, 137, 218, 1031, 815, 453, 94, 453, 453, 864, 453, 453, 453, 453, 453, 453, 453, 453, 94, 94, 761, 761, 98, 98, 285, 100, 100, 100, 100, 861, 1031, 644, 877, 108, 289, 108, 289, 289, 289, 189, 117, 775, 119, 436, 815, 1031, 125, 125, 125, 125, 125, 125, 125, 126, 127, 82, 343, 343, 131, 139, 139, 139, 140, 226, 447, 151, 758, 218, 626, 441, 453, 453, 167, 473, 819, 604, 172, 172, 700, 172, 700, 427, 729, 33, 182, 182, 289, 289, 183, 183, 183, 758, 758, 758, 758, 758, 758, 758, 187, 187, 187, 187, 187, 187, 359, 289, 289, 190, 289, 703, 790, 105, 105, 105, 197, 197, 34, 197, 584, 266, 203, 589, 205, 289, 209, 210, 210, 210, 211, 236, 214, 1035, 214, 214, 866, 877, 877, 877, 214, 214, 369, 815, 220, 300, 221, 228, 228, 228, 228, 228, 228, 228, 228, 228, 964, 228, 228, 289, 228, 228, 395, 234, 234, 234, 780, 925, 545, 236, 434, 1031, 240, 243, 484, 1031, 866, 866, 866, 1031, 913, 245, 245, 245, 246, 357, 1031, 909, 264, 260, 76, 260, 265, 265, 265, 265, 265, 265, 427, 289, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 1032, 289, 289, 265, 265, 281, 95, 651, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 864, 289, 289, 289, 289, 289, 289, 523, 441, 293, 849, 234, 298, 805, 300, 999, 999, 301, 704, 459, 309, 309, 309, 309, 309, 309, 309, 427, 861, 318, 318, 479, 321, 427, 325, 49, 325, 325, 325, 301, 301, 301, 301, 301, 301, 301, 301, 109, 109, 49, 328, 329, 332, 355, 236, 337, 1035, 337, 338, 1031, 453, 157, 359, 359, 359, 359, 473, 364, 364, 364, 289, 289, 1031, 898, 386, 391, 391, 391, 391, 443, 815, 815, 1031, 402, 402, 402, 288, 415, 415, 418, 418, 651, 651, 651, 651, 651, 1031, 289, 424, 350, 425, 425, 557, 426, 427, 596, 427, 427, 427, 427, 427, 430, 435, 663, 441, 443, 443, 444, 444, 444, 452, 454, 1031, 453, 453, 453, 453, 240, 355, 471, 474, 475, 475, 475, 475, 475, 475, 418, 488, 546, 491, 491, 491, 491, 491, 499, 711, 507, 9, 126, 510, 517, 517, 517, 517, 517, 524, 289, 146, 530, 530, 530, 709, 541, 746, 542, 545, 545, 545, 545, 545, 545, 626, 355, 355, 355, 355, 549, 594, 904, 734, 572, 1031, 574, 574, 703, 579, 583, 585, 355, 355, 591, 591, 355, 592, 592, 191, 191, 97, 599, 1031, 1031, 609, 610, 224, 427, 614, 614, 614, 547, 61, 815, 291, 622, 623, 624, 1031, 268, 630, 289, 289, 652, 637, 385, 643, 1031, 644, 646, 646, 297, 646, 1031, 289, 652, 652, 652, 289, 652, 810, 661, 662, 849, 443, 690, 861, 289, 702, 703, 265, 492, 783, 783, 783, 783, 783, 355, 714, 715, 769, 764, 730, 736, 704, 741, 741, 289, 289, 289, 471, 746, 746, 746, 746, 748, 769, 350, 773, 648, 775, 775, 775, 775, 775, 775, 475, 783, 823, 823, 756, 794, 164, 289, 753, 804, 804, 783, 805, 805, 806, 806, 806, 806, 809, 641, 427, 810, 810, 1035, 357, 816, 384, 817, 817, 1035, 484, 826, 830, 830, 830, 453, 453, 830, 866, 866, 1032, 1031, 840, 844, 844, 847, 847, 535, 848, 852, 852, 913, 853, 853, 853, 853, 355, 1031, 750, 50, 256, 37, 877, 391, 880, 61, 892, 896, 896, 896, 896, 896, 896, 896, 896, 919, 919, 1032, 1032, 355, 937, 937, 937, 937, 937, 631, 937, 937, 937, 940, 948, 948, 1031, 710, 355, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 1032, 950, 950, 950, 950, 950, 952, 952, 952, 952, 955, 912, 912, 958, 1032, 964, 965, 966, 974, 976, 976, 962, 1031, 355, 913, 815, 1035, 912, 962, 1001, 1001, 958, 710, 710, 1015, 1016, 1026, 966, 256, 1032, 710, 1028, 1028, 1031, 1035]
[2, 5, 6, 8, 8, 8, 12, 15, 17, 27, 27, 29, 29, 30, 31, 34, 34, 35, 37, 37, 37, 37, 37, 37, 37, 37, 37, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 60, 61, 61, 62, 62, 62, 63, 70, 71, 72, 74, 76, 77, 77, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 89, 90, 91, 91, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 98, 98, 99, 100, 100, 100, 100, 100, 104, 106, 107, 108, 108, 108, 109, 111, 111, 116, 117, 117, 119, 120, 122, 122, 125, 125, 125, 125, 125, 125, 125, 126, 127, 128, 129, 129, 131, 139, 139, 139, 140, 140, 142, 151, 151, 151, 154, 162, 163, 163, 167, 169, 170, 172, 172, 172, 172, 172, 172, 173, 173, 176, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 187, 187, 187, 187, 187, 187, 187, 190, 190, 190, 190, 190, 192, 193, 193, 193, 197, 197, 197, 197, 198, 199, 203, 204, 205, 205, 209, 210, 210, 210, 211, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 215, 216, 220, 220, 221, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 233, 234, 234, 234, 235, 235, 235, 236, 238, 238, 240, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 246, 246, 254, 254, 255, 260, 260, 260, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 281, 286, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 292, 293, 294, 298, 298, 299, 300, 300, 300, 301, 301, 305, 309, 309, 309, 309, 309, 309, 309, 309, 317, 318, 318, 318, 321, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 328, 329, 332, 335, 337, 337, 337, 337, 338, 340, 342, 354, 359, 359, 359, 359, 361, 364, 364, 364, 364, 364, 371, 384, 386, 391, 391, 391, 391, 392, 396, 396, 402, 402, 402, 402, 408, 415, 415, 418, 418, 419, 419, 419, 419, 419, 419, 419, 424, 424, 425, 425, 425, 426, 427, 427, 427, 427, 427, 427, 427, 430, 435, 437, 441, 443, 443, 444, 444, 444, 452, 454, 455, 455, 455, 455, 455, 455, 455, 471, 474, 475, 475, 475, 475, 475, 475, 487, 488, 490, 491, 491, 491, 491, 491, 499, 505, 507, 510, 513, 514, 517, 517, 517, 517, 517, 524, 524, 525, 530, 530, 530, 531, 541, 541, 542, 545, 545, 545, 545, 545, 545, 548, 548, 548, 548, 548, 549, 549, 559, 560, 572, 574, 574, 574, 574, 579, 583, 585, 590, 590, 591, 591, 592, 592, 592, 593, 593, 594, 599, 602, 602, 609, 610, 610, 610, 614, 614, 614, 615, 617, 619, 619, 622, 623, 624, 627, 627, 630, 633, 635, 636, 637, 638, 643, 644, 644, 646, 646, 646, 646, 646, 650, 652, 652, 652, 653, 654, 659, 661, 662, 672, 675, 690, 696, 700, 702, 703, 704, 708, 711, 711, 711, 711, 711, 714, 714, 715, 723, 727, 730, 736, 741, 741, 741, 741, 741, 742, 743, 746, 746, 746, 746, 748, 769, 771, 772, 774, 775, 775, 775, 775, 775, 775, 780, 783, 790, 790, 794, 794, 794, 797, 803, 804, 804, 805, 805, 805, 806, 806, 806, 806, 809, 809, 810, 810, 810, 812, 812, 816, 816, 817, 817, 818, 821, 826, 830, 830, 830, 830, 830, 830, 838, 840, 840, 840, 840, 844, 844, 847, 847, 847, 848, 852, 852, 853, 853, 853, 853, 853, 853, 857, 861, 862, 868, 876, 877, 879, 880, 891, 892, 896, 896, 896, 896, 896, 896, 896, 897, 919, 919, 919, 919, 929, 937, 937, 937, 937, 937, 937, 937, 937, 937, 940, 948, 948, 948, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 952, 952, 952, 952, 955, 956, 956, 958, 958, 964, 965, 966, 974, 976, 976, 980, 982, 983, 986, 992, 994, 999, 999, 1001, 1001, 1005, 1007, 1008, 1015, 1016, 1026, 1026, 1026, 1026, 1026, 1028, 1028, 1031, 1035]

In [46]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

515
0.5946882217090069