<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_5_tuning_pubmed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    747      0 --:--:-- --:--:-- --:--:--   745
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-5.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [47]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-5.validation.csv",header=None)
valid.head()

   0                       1
0  2               heel pain
1  2               heel pain
2  5  increase my heart rate
3  5             tachycardia
4  8        severe arthritis

In [48]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-5.test.csv",header=None)
test.head()

   0                      1
0  0                   fear
1  0        scared to death
2  2              heel pain
3  2             heels hurt
4  2  pain in my right heel

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_pubmed_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [53]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [57]:
learn.fit_one_cycle(1, 1e-2)

In [58]:
learn.fit_one_cycle(1, 1e-2)

In [59]:
learn.fit_one_cycle(1, 1e-3)

In [60]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('pubmed_fold5_first')

In [62]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('pubmed_fold5_first')
learn.fit_one_cycle(1, 1e-2)

In [63]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [64]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [65]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [66]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [67]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [68]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [69]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [70]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [71]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [72]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [73]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [74]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [75]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [76]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-5-tuning-pubmed')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [79]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[182, 283, 260, 265, 211, 8, 8, 8, 182, 16, 16, 16, 19, 27, 27, 27, 816, 197, 289, 289, 37, 37, 37, 37, 37, 741, 38, 450, 49, 182, 49, 49, 49, 100, 53, 53, 53, 265, 182, 182, 182, 470, 763, 265, 846, 129, 209, 864, 79, 289, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 260, 182, 182, 182, 80, 80, 147, 455, 238, 318, 92, 94, 94, 94, 94, 94, 94, 95, 455, 764, 182, 98, 100, 100, 100, 100, 100, 100, 100, 100, 265, 103, 182, 712, 289, 107, 88, 108, 108, 111, 730, 111, 111, 111, 111, 289, 172, 510, 182, 119, 455, 265, 182, 182, 125, 455, 125, 630, 125, 125, 125, 125, 135, 182, 89, 165, 344, 449, 289, 182, 157, 865, 202, 174, 166, 166, 166, 171, 172, 172, 289, 172, 172, 864, 864, 864, 864, 864, 214, 182, 318, 696, 182, 165, 904, 904, 218, 318, 646, 183, 183, 183, 183, 183, 183, 183, 182, 182, 182, 190, 190, 190, 604, 700, 190, 190, 190, 190, 190, 190, 265, 314, 182, 180, 197, 197, 426, 197, 197, 201, 202, 205, 197, 245, 210, 172, 496, 214, 214, 289, 214, 182, 182, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 265, 94, 214, 265, 265, 265, 289, 182, 318, 182, 80, 220, 788, 462, 260, 462, 462, 462, 462, 462, 462, 462, 720, 289, 289, 664, 234, 182, 265, 702, 265, 427, 725, 455, 182, 182, 182, 243, 243, 243, 243, 243, 243, 243, 243, 243, 182, 182, 765, 182, 182, 289, 238, 50, 289, 246, 246, 246, 645, 728, 543, 441, 292, 264, 265, 265, 265, 214, 265, 265, 265, 704, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 182, 265, 289, 182, 268, 268, 265, 269, 734, 861, 712, 279, 280, 182, 700, 260, 283, 728, 289, 289, 289, 260, 470, 289, 741, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 325, 301, 50, 702, 309, 309, 289, 289, 289, 321, 636, 636, 318, 318, 130, 260, 227, 325, 325, 325, 325, 182, 182, 325, 326, 265, 265, 788, 334, 336, 37, 342, 342, 342, 342, 343, 343, 344, 289, 359, 359, 359, 363, 470, 364, 364, 491, 228, 391, 182, 881, 397, 289, 455, 351, 304, 805, 711, 711, 711, 711, 805, 180, 359, 415, 419, 471, 703, 419, 419, 419, 419, 419, 419, 419, 419, 455, 426, 197, 427, 427, 427, 427, 427, 427, 624, 624, 711, 711, 427, 427, 427, 430, 434, 238, 435, 684, 443, 444, 444, 391, 924, 511, 41, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 190, 470, 265, 182, 475, 182, 475, 182, 479, 591, 821, 821, 427, 491, 491, 491, 491, 378, 662, 279, 182, 382, 499, 499, 426, 503, 509, 802, 289, 517, 517, 517, 517, 517, 522, 524, 182, 530, 809, 530, 530, 530, 531, 477, 646, 532, 541, 545, 545, 545, 861, 182, 549, 788, 567, 572, 847, 764, 578, 741, 31, 31, 590, 590, 557, 591, 592, 592, 535, 597, 427, 182, 597, 182, 318, 182, 702, 487, 487, 182, 182, 76, 197, 289, 289, 182, 182, 318, 528, 528, 528, 623, 245, 643, 646, 646, 646, 646, 646, 182, 172, 651, 652, 652, 652, 659, 660, 265, 491, 662, 664, 666, 666, 595, 265, 182, 289, 698, 702, 703, 265, 750, 630, 470, 289, 711, 711, 711, 182, 716, 301, 652, 764, 162, 37, 741, 135, 168, 265, 747, 861, 861, 753, 753, 753, 753, 753, 681, 532, 9, 289, 117, 770, 770, 289, 775, 775, 573, 775, 775, 775, 778, 779, 794, 783, 694, 161, 672, 360, 802, 803, 804, 182, 318, 806, 182, 183, 809, 809, 809, 810, 810, 265, 343, 708, 455, 618, 830, 830, 830, 830, 830, 182, 182, 831, 201, 265, 262, 642, 642, 821, 182, 391, 265, 847, 317, 509, 785, 853, 853, 853, 853, 182, 182, 664, 865, 877, 182, 887, 716, 896, 896, 896, 896, 896, 896, 897, 897, 897, 265, 214, 904, 289, 182, 919, 922, 182, 927, 933, 937, 937, 925, 925, 925, 455, 948, 948, 455, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 455, 455, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 952, 455, 955, 956, 182, 960, 511, 983, 1019, 974, 455, 455, 182, 1023, 987, 182, 455, 1009, 182, 999, 182, 1023, 182, 455, 1004, 511, 455, 182, 455, 182, 1028, 1028, 1029, 1029, 1031, 1028, 1032, 1035, 1035]
[0, 0, 2, 2, 2, 8, 8, 8, 8, 16, 16, 16, 19, 27, 27, 27, 33, 34, 34, 34, 37, 37, 37, 37, 37, 37, 38, 48, 49, 49, 49, 49, 49, 49, 53, 53, 53, 58, 62, 67, 68, 71, 71, 71, 71, 73, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 83, 88, 88, 92, 94, 94, 94, 94, 94, 94, 95, 96, 96, 96, 98, 100, 100, 100, 100, 100, 100, 100, 100, 100, 103, 104, 107, 107, 107, 108, 108, 108, 111, 111, 111, 111, 111, 111, 111, 111, 111, 114, 119, 122, 122, 122, 122, 125, 125, 125, 125, 125, 125, 125, 125, 135, 135, 137, 137, 144, 148, 148, 151, 157, 159, 163, 163, 166, 166, 166, 171, 172, 172, 172, 172, 172, 172, 172, 172, 172, 172, 173, 173, 173, 173, 173, 178, 181, 181, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 184, 187, 187, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 190, 193, 196, 197, 197, 197, 197, 197, 202, 202, 205, 209, 210, 210, 211, 211, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 217, 218, 220, 220, 220, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 231, 234, 235, 236, 236, 236, 237, 237, 238, 238, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 246, 246, 246, 254, 254, 257, 258, 258, 264, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 268, 269, 269, 273, 274, 279, 279, 280, 280, 281, 281, 283, 286, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 301, 301, 309, 309, 309, 309, 309, 309, 309, 311, 313, 313, 318, 318, 318, 318, 322, 325, 325, 325, 325, 325, 325, 325, 326, 329, 329, 331, 334, 336, 337, 342, 342, 342, 342, 343, 343, 344, 345, 359, 359, 359, 363, 363, 364, 364, 378, 381, 391, 396, 396, 397, 399, 401, 402, 402, 408, 408, 408, 408, 408, 408, 412, 415, 415, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 419, 424, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 430, 434, 435, 437, 443, 444, 445, 446, 454, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 458, 458, 460, 462, 468, 470, 474, 475, 475, 475, 476, 479, 480, 484, 484, 487, 491, 491, 491, 491, 491, 491, 495, 495, 499, 499, 499, 502, 503, 509, 509, 512, 517, 517, 517, 517, 517, 522, 524, 527, 530, 530, 530, 530, 530, 531, 531, 532, 532, 541, 545, 545, 545, 547, 548, 549, 553, 567, 572, 574, 578, 578, 579, 584, 584, 590, 590, 591, 591, 592, 592, 595, 597, 597, 597, 597, 597, 598, 600, 605, 610, 610, 611, 611, 614, 614, 614, 614, 619, 619, 623, 623, 623, 623, 623, 638, 643, 646, 646, 646, 646, 646, 646, 651, 652, 652, 652, 652, 659, 660, 660, 662, 662, 664, 666, 666, 683, 686, 693, 698, 698, 702, 703, 704, 706, 707, 710, 710, 711, 711, 711, 714, 715, 719, 720, 727, 739, 741, 741, 746, 746, 746, 747, 749, 750, 753, 753, 753, 753, 753, 754, 755, 760, 768, 771, 771, 773, 775, 775, 775, 775, 775, 775, 775, 778, 779, 780, 783, 794, 795, 798, 801, 802, 803, 804, 804, 805, 806, 806, 809, 809, 809, 809, 810, 810, 817, 822, 825, 826, 827, 830, 830, 830, 830, 830, 830, 830, 831, 834, 836, 839, 841, 841, 842, 844, 845, 846, 847, 847, 847, 852, 853, 853, 853, 853, 853, 853, 861, 865, 877, 884, 887, 894, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 904, 905, 915, 919, 919, 926, 927, 933, 937, 937, 937, 937, 937, 940, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 952, 953, 955, 956, 959, 960, 964, 964, 971, 974, 976, 976, 979, 981, 987, 990, 992, 992, 993, 999, 999, 999, 999, 1001, 1004, 1016, 1016, 1016, 1021, 1026, 1028, 1028, 1029, 1029, 1031, 1031, 1032, 1035, 1035]

In [81]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

449
0.5184757505773672