<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_9_tuning_bigtweet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [12]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    916      0 --:--:-- --:--:-- --:--:--   916
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [13]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

fatal: destination path 'demo-nlp-classification-fastai' already exists and is not an empty directory.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-9.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [55]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-9.validation.csv",header=None)
valid.head()

   0                                 1
0  3  cracking sensations in my joints
1  5           fast and slow heartbeat
2  8                         arthritis
3  8                         arthritis
4  8                         arthritis

In [56]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-9.test.csv",header=None)
test.head()

   0                                            1
0  2                                painful heels
1  4  Discoloration of skin [blotchy] on the neck
2  5                  my heart rate jumped to 106
3  7                                       goiter
4  8                                    arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_bigtweet_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [61]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [66]:
learn.fit_one_cycle(1, 1e-2)

In [67]:
learn.fit_one_cycle(1, 1e-2)

In [68]:
learn.fit_one_cycle(1, 1e-3)

In [69]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('bigtweet_fold9_first')

In [71]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('bigtweet_fold9_first')
learn.fit_one_cycle(1, 1e-2)

In [72]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [73]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [74]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [75]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [76]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [77]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [78]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [79]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [80]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [81]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [82]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [83]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [84]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [85]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-9-tuning-bigtweet')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [88]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[228, 841, 5, 1026, 1026, 1026, 1026, 1026, 1026, 203, 16, 16, 20, 20, 896, 805, 536, 1035, 27, 749, 414, 507, 414, 289, 775, 864, 864, 1035, 117, 771, 289, 289, 210, 415, 227, 741, 1026, 49, 49, 90, 265, 245, 117, 117, 428, 896, 1035, 896, 426, 50, 374, 502, 289, 289, 893, 741, 896, 896, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 289, 172, 896, 896, 896, 896, 864, 896, 289, 80, 1035, 1035, 416, 207, 1035, 760, 444, 138, 896, 896, 896, 1026, 896, 896, 896, 896, 94, 94, 94, 94, 402, 29, 265, 518, 408, 408, 503, 265, 265, 265, 1035, 774, 864, 864, 864, 983, 864, 741, 604, 864, 278, 983, 117, 415, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 773, 129, 210, 1026, 555, 137, 268, 896, 896, 232, 447, 896, 896, 896, 854, 829, 829, 321, 896, 896, 896, 896, 896, 896, 245, 864, 289, 487, 265, 289, 864, 864, 864, 164, 896, 983, 178, 896, 127, 182, 864, 289, 1035, 298, 298, 298, 183, 183, 183, 896, 187, 187, 896, 462, 190, 190, 190, 182, 704, 289, 289, 197, 197, 325, 864, 1002, 210, 210, 210, 194, 896, 896, 896, 896, 210, 896, 1035, 704, 704, 704, 704, 49, 164, 325, 896, 218, 140, 140, 228, 228, 228, 228, 741, 1035, 864, 326, 228, 228, 228, 228, 228, 228, 326, 326, 289, 289, 231, 140, 283, 824, 235, 235, 235, 235, 236, 1035, 434, 896, 243, 896, 243, 243, 243, 243, 164, 210, 704, 245, 896, 896, 896, 896, 210, 745, 745, 120, 896, 896, 444, 289, 864, 864, 265, 100, 704, 265, 896, 896, 265, 289, 100, 100, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 100, 100, 100, 100, 784, 276, 165, 280, 280, 280, 741, 864, 583, 107, 289, 289, 289, 289, 289, 289, 289, 766, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 214, 289, 289, 96, 265, 5, 415, 301, 301, 265, 624, 864, 741, 655, 741, 1035, 1035, 321, 289, 704, 1035, 427, 509, 509, 318, 318, 739, 260, 325, 325, 164, 49, 325, 325, 325, 325, 325, 325, 325, 325, 325, 896, 896, 325, 983, 1026, 334, 430, 194, 337, 337, 337, 701, 210, 503, 502, 983, 16, 210, 210, 289, 864, 864, 769, 427, 427, 304, 391, 391, 402, 402, 358, 49, 234, 1035, 415, 1035, 265, 290, 419, 289, 260, 624, 426, 1026, 1026, 427, 896, 896, 1035, 427, 427, 427, 435, 518, 664, 437, 391, 443, 391, 210, 89, 305, 541, 455, 62, 896, 896, 896, 896, 896, 896, 896, 741, 460, 289, 462, 462, 466, 983, 1035, 475, 475, 475, 475, 591, 896, 479, 210, 210, 489, 490, 786, 491, 491, 491, 491, 491, 664, 1035, 1035, 805, 499, 499, 34, 164, 896, 1002, 210, 228, 1035, 1035, 1035, 210, 210, 289, 896, 530, 164, 531, 531, 100, 210, 824, 539, 746, 746, 545, 545, 545, 545, 715, 164, 896, 220, 1035, 896, 663, 773, 896, 210, 1002, 702, 983, 2, 805, 896, 896, 689, 234, 1035, 289, 896, 210, 896, 197, 289, 289, 289, 289, 289, 197, 197, 617, 896, 794, 528, 528, 841, 623, 896, 318, 635, 1002, 824, 564, 646, 646, 646, 774, 419, 652, 636, 636, 636, 1035, 1035, 234, 786, 234, 662, 183, 420, 210, 676, 681, 182, 182, 356, 690, 1035, 30, 289, 289, 265, 402, 408, 289, 1002, 1035, 518, 517, 779, 1035, 173, 447, 363, 1002, 746, 746, 408, 749, 750, 824, 116, 210, 210, 765, 577, 415, 210, 775, 325, 792, 890, 745, 753, 804, 805, 276, 806, 896, 1035, 1035, 809, 1035, 100, 745, 745, 701, 502, 896, 745, 1026, 896, 896, 896, 896, 896, 896, 896, 896, 896, 1035, 896, 896, 164, 896, 896, 896, 896, 841, 896, 843, 1035, 846, 847, 824, 1035, 896, 896, 164, 1035, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 662, 238, 865, 864, 704, 1035, 402, 888, 888, 268, 210, 210, 1035, 1035, 1035, 1035, 289, 1035, 704, 289, 352, 164, 164, 164, 164, 164, 896, 933, 1026, 937, 164, 164, 896, 896, 164, 164, 896, 1026, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 164, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 164, 164, 164, 164, 164, 896, 164, 164, 933, 1018, 961, 164, 896, 896, 966, 164, 896, 164, 896, 1026, 896, 210, 164, 1026, 1015, 1015, 1015, 164, 1024, 896, 1026, 1028, 1035, 933]
[2, 4, 5, 7, 8, 8, 8, 8, 8, 11, 16, 16, 20, 20, 21, 24, 27, 27, 27, 29, 31, 31, 31, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 38, 41, 49, 49, 49, 49, 49, 50, 53, 53, 55, 60, 61, 63, 65, 66, 71, 73, 76, 76, 78, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 82, 82, 85, 88, 88, 89, 89, 91, 91, 91, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 97, 98, 98, 100, 100, 100, 100, 100, 107, 108, 108, 108, 108, 111, 111, 111, 111, 117, 117, 117, 117, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 129, 129, 133, 135, 137, 137, 137, 139, 140, 142, 148, 151, 151, 158, 160, 160, 163, 166, 166, 166, 166, 166, 166, 166, 172, 172, 172, 172, 172, 172, 172, 172, 173, 173, 175, 178, 181, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 184, 187, 187, 187, 188, 190, 190, 190, 190, 190, 190, 190, 197, 197, 202, 206, 210, 210, 210, 210, 212, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 215, 216, 216, 218, 218, 226, 226, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 231, 232, 234, 234, 235, 235, 235, 235, 236, 236, 238, 238, 243, 243, 243, 243, 243, 243, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 253, 254, 254, 258, 260, 260, 260, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 272, 276, 277, 280, 280, 280, 281, 281, 283, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 300, 300, 301, 301, 301, 301, 309, 309, 309, 309, 309, 309, 309, 311, 313, 314, 316, 318, 318, 318, 318, 318, 318, 318, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 332, 334, 336, 336, 337, 337, 337, 343, 343, 344, 344, 351, 359, 363, 363, 364, 364, 364, 367, 377, 384, 387, 391, 391, 402, 402, 402, 408, 408, 415, 415, 418, 419, 419, 419, 419, 419, 419, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 435, 436, 437, 437, 438, 443, 444, 445, 446, 447, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 460, 460, 461, 462, 463, 467, 468, 470, 475, 475, 475, 475, 475, 476, 479, 487, 487, 489, 490, 491, 491, 491, 491, 491, 491, 491, 491, 492, 493, 499, 499, 500, 516, 516, 517, 517, 517, 517, 517, 517, 521, 522, 524, 529, 530, 531, 531, 531, 532, 533, 536, 539, 541, 541, 545, 545, 545, 545, 546, 548, 548, 554, 557, 559, 562, 565, 574, 577, 579, 579, 579, 581, 589, 590, 590, 591, 592, 594, 597, 597, 604, 610, 614, 614, 614, 614, 614, 614, 614, 614, 617, 620, 621, 623, 623, 623, 623, 629, 634, 635, 643, 644, 645, 646, 646, 646, 648, 651, 652, 652, 652, 652, 656, 658, 662, 662, 662, 662, 666, 670, 673, 677, 677, 686, 686, 688, 692, 693, 697, 700, 700, 704, 706, 708, 713, 715, 717, 728, 728, 728, 730, 733, 741, 741, 746, 746, 746, 746, 749, 750, 759, 762, 770, 772, 773, 775, 775, 775, 775, 785, 791, 795, 798, 803, 804, 805, 805, 806, 806, 808, 808, 809, 809, 809, 809, 809, 810, 810, 812, 825, 826, 826, 830, 830, 830, 830, 830, 830, 830, 830, 830, 834, 834, 839, 840, 840, 840, 840, 841, 842, 843, 844, 846, 847, 848, 851, 852, 852, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 855, 861, 864, 872, 881, 885, 888, 888, 892, 896, 896, 896, 896, 896, 896, 896, 897, 897, 897, 899, 912, 919, 919, 919, 919, 919, 933, 936, 937, 937, 937, 937, 943, 948, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 950, 952, 953, 955, 960, 961, 964, 964, 965, 966, 970, 975, 976, 985, 988, 992, 995, 1001, 1009, 1015, 1015, 1015, 1017, 1024, 1026, 1026, 1028, 1032, 1035]

In [89]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

203
0.23441108545034642