<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_2_tuning_pubmed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    700      0 --:--:-- --:--:-- --:--:--   698
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-2.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [11]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-2.validation.csv",header=None)
valid.head()

   0                                            1
0  2                               left heel pain
1  4  Discoloration of skin [blotchy] on the neck
2  7                                       goiter
3  8                                    arthritis
4  8                                    arthritis

In [12]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-2.test.csv",header=None)
test.head()

   0                     1
0  2       right heel pain
1  4  black and blue marks
2  8            arthritice
3  8             arthritis
4  8             arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_pubmed_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [17]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [21]:
learn.fit_one_cycle(1, 1e-2)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-3)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('pubmed_fold2_first')

In [26]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('pubmed_fold2_first')
learn.fit_one_cycle(1, 1e-2)

In [27]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [28]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [29]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-2-tuning-pubmed')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [43]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[2, 842, 418, 8, 8, 8, 418, 8, 318, 359, 659, 27, 30, 755, 584, 584, 584, 418, 384, 686, 37, 861, 37, 37, 37, 37, 189, 289, 289, 289, 289, 623, 462, 511, 49, 418, 49, 328, 473, 100, 100, 100, 100, 100, 100, 900, 157, 53, 418, 418, 53, 517, 58, 60, 418, 418, 418, 836, 876, 189, 289, 71, 71, 71, 470, 76, 289, 309, 309, 418, 418, 318, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 281, 281, 418, 182, 182, 182, 281, 788, 80, 80, 80, 80, 80, 80, 847, 418, 137, 418, 92, 92, 850, 94, 94, 94, 847, 847, 94, 94, 94, 94, 94, 418, 418, 645, 196, 100, 100, 100, 100, 108, 108, 108, 59, 275, 111, 111, 111, 111, 211, 111, 471, 120, 630, 418, 630, 630, 630, 630, 125, 125, 125, 125, 125, 125, 125, 125, 125, 778, 289, 131, 132, 418, 418, 418, 137, 139, 142, 143, 418, 418, 189, 152, 155, 157, 388, 162, 418, 166, 166, 289, 172, 172, 864, 864, 210, 524, 492, 196, 281, 182, 289, 289, 183, 183, 402, 187, 187, 187, 187, 187, 189, 462, 210, 190, 190, 462, 211, 309, 211, 418, 418, 189, 197, 197, 197, 197, 202, 203, 205, 245, 205, 207, 269, 289, 210, 210, 210, 189, 418, 418, 418, 189, 214, 214, 214, 214, 214, 369, 214, 214, 214, 214, 470, 418, 933, 418, 475, 475, 220, 223, 402, 227, 228, 462, 462, 462, 326, 228, 517, 746, 499, 98, 531, 933, 418, 591, 418, 632, 236, 933, 418, 418, 933, 933, 418, 243, 243, 243, 243, 749, 418, 418, 418, 418, 774, 245, 245, 876, 246, 27, 27, 252, 645, 309, 289, 318, 265, 301, 214, 265, 265, 265, 364, 265, 214, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 418, 214, 265, 100, 666, 274, 836, 277, 925, 278, 280, 309, 289, 289, 289, 289, 289, 289, 289, 205, 289, 864, 210, 309, 289, 289, 289, 289, 289, 289, 289, 289, 79, 217, 101, 289, 331, 646, 646, 301, 301, 304, 787, 245, 309, 318, 318, 546, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 418, 418, 325, 329, 332, 334, 418, 336, 336, 337, 418, 337, 314, 214, 766, 700, 677, 338, 341, 342, 343, 343, 343, 127, 353, 172, 359, 359, 289, 418, 578, 363, 364, 364, 289, 364, 370, 375, 788, 391, 446, 402, 402, 89, 408, 415, 610, 189, 651, 651, 651, 651, 418, 419, 418, 861, 553, 189, 426, 426, 479, 426, 426, 426, 597, 427, 597, 597, 597, 597, 597, 597, 175, 175, 418, 384, 427, 427, 806, 418, 427, 142, 441, 443, 443, 444, 446, 446, 142, 1005, 847, 933, 418, 470, 418, 418, 418, 933, 289, 510, 309, 471, 360, 493, 683, 487, 775, 462, 489, 491, 491, 491, 189, 491, 664, 189, 746, 495, 495, 495, 499, 501, 502, 619, 517, 517, 517, 517, 189, 517, 517, 521, 281, 524, 524, 524, 742, 190, 623, 623, 530, 530, 530, 531, 189, 646, 532, 189, 847, 746, 541, 541, 541, 933, 418, 551, 553, 805, 896, 775, 539, 810, 579, 847, 584, 585, 511, 418, 299, 325, 418, 4, 592, 493, 595, 477, 933, 427, 172, 741, 610, 610, 326, 418, 614, 614, 614, 289, 614, 326, 418, 418, 418, 624, 334, 402, 635, 733, 368, 318, 283, 644, 646, 189, 836, 648, 636, 654, 656, 662, 662, 289, 418, 800, 419, 701, 579, 702, 708, 708, 189, 189, 711, 714, 418, 418, 97, 189, 31, 735, 887, 399, 741, 289, 37, 745, 492, 492, 749, 749, 749, 753, 753, 764, 245, 245, 646, 876, 579, 764, 245, 509, 773, 364, 775, 778, 778, 778, 778, 189, 790, 796, 753, 753, 753, 753, 804, 806, 806, 418, 809, 809, 809, 810, 140, 825, 746, 418, 511, 830, 830, 830, 475, 831, 201, 840, 418, 318, 847, 847, 847, 189, 418, 853, 853, 853, 853, 420, 864, 864, 189, 896, 896, 117, 896, 896, 896, 876, 256, 902, 904, 904, 418, 919, 919, 919, 919, 933, 418, 937, 937, 937, 535, 933, 933, 933, 933, 933, 933, 933, 933, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 933, 418, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 418, 950, 950, 950, 952, 913, 955, 955, 933, 960, 962, 967, 41, 418, 165, 977, 980, 418, 1009, 933, 925, 933, 933, 418, 991, 189, 917, 997, 933, 933, 1003, 1023, 1014, 933, 933, 933, 511, 511, 511, 418, 418, 511, 511, 1026, 418, 1028, 1028, 1028, 1028, 1028, 1028, 1029, 243, 1035]
[2, 4, 8, 8, 8, 8, 8, 8, 10, 16, 23, 27, 30, 31, 31, 31, 31, 32, 34, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 39, 40, 44, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 52, 53, 53, 53, 53, 57, 58, 60, 62, 62, 68, 69, 70, 70, 70, 71, 71, 71, 75, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 80, 82, 83, 89, 90, 92, 92, 93, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 97, 98, 100, 100, 100, 100, 108, 108, 108, 109, 110, 111, 111, 111, 111, 111, 111, 115, 120, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 129, 131, 132, 135, 135, 135, 137, 139, 142, 143, 149, 151, 151, 152, 155, 157, 161, 162, 163, 166, 166, 172, 172, 172, 172, 172, 172, 174, 180, 180, 182, 182, 182, 182, 183, 183, 185, 187, 187, 187, 187, 187, 189, 190, 190, 190, 190, 190, 190, 190, 190, 193, 193, 194, 197, 197, 197, 197, 202, 203, 205, 205, 205, 207, 207, 209, 210, 210, 210, 213, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 215, 218, 218, 218, 218, 220, 223, 224, 227, 228, 228, 228, 228, 228, 228, 230, 231, 232, 234, 234, 235, 235, 235, 235, 236, 236, 238, 238, 238, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 245, 246, 246, 246, 249, 254, 260, 260, 260, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 274, 274, 275, 277, 277, 278, 280, 281, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 291, 293, 297, 298, 298, 301, 301, 304, 306, 308, 310, 318, 318, 319, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 329, 332, 334, 335, 336, 336, 337, 337, 337, 337, 337, 337, 337, 337, 338, 341, 342, 343, 343, 343, 343, 353, 356, 359, 359, 360, 362, 363, 363, 364, 364, 364, 364, 370, 375, 379, 391, 395, 402, 402, 404, 408, 416, 418, 418, 419, 419, 419, 419, 419, 419, 420, 421, 422, 425, 426, 426, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 436, 441, 443, 443, 444, 446, 446, 447, 450, 454, 455, 455, 455, 455, 455, 458, 460, 464, 466, 469, 471, 473, 473, 485, 487, 487, 488, 489, 491, 491, 491, 491, 491, 491, 492, 492, 495, 495, 495, 499, 501, 502, 509, 517, 517, 517, 517, 517, 517, 517, 521, 524, 524, 524, 524, 524, 524, 528, 528, 530, 530, 530, 531, 531, 531, 532, 537, 540, 541, 541, 541, 541, 548, 548, 551, 552, 555, 572, 573, 574, 575, 579, 582, 584, 585, 587, 588, 589, 590, 590, 591, 592, 595, 595, 595, 597, 597, 604, 606, 610, 610, 610, 611, 614, 614, 614, 614, 614, 618, 619, 619, 619, 624, 627, 632, 635, 640, 640, 642, 644, 646, 646, 646, 646, 648, 652, 652, 656, 662, 662, 686, 693, 695, 699, 702, 704, 704, 708, 708, 710, 710, 711, 714, 714, 714, 715, 717, 727, 735, 736, 737, 741, 741, 741, 745, 746, 746, 749, 749, 750, 753, 753, 764, 764, 764, 765, 765, 766, 769, 769, 771, 773, 775, 775, 778, 778, 778, 778, 780, 790, 796, 803, 803, 803, 803, 804, 806, 806, 806, 809, 809, 809, 810, 823, 825, 826, 826, 830, 830, 830, 830, 830, 831, 834, 840, 840, 841, 847, 847, 847, 847, 849, 853, 853, 853, 853, 859, 864, 864, 866, 896, 896, 896, 896, 896, 896, 897, 901, 903, 904, 904, 914, 919, 919, 919, 919, 922, 933, 937, 937, 937, 938, 940, 940, 940, 948, 948, 948, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 952, 953, 955, 955, 958, 960, 962, 967, 967, 973, 974, 977, 980, 981, 981, 983, 986, 988, 989, 989, 991, 994, 994, 997, 1001, 1001, 1003, 1013, 1014, 1015, 1016, 1016, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1028, 1028, 1028, 1028, 1028, 1028, 1029, 1029, 1035]

In [45]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

445
0.5138568129330254