<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine-tuning-experiments/askpatient/askApatient_1_tuning_healthnews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [0]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   287  100   287    0     0    989      0 --:--:-- --:--:-- --:--:--   989
bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">'

In [0]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-1.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [0]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-1.validation.csv",header=None)
valid.head()

   0                                            1
0  0                                         fear
1  2                                   heels hurt
2  4  Discoloration of skin [blotchy] on the neck
3  6                        diastolic dysfunction
4  8                                    arthritis

In [0]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-1.test.csv",header=None)
test.head()

   0                          1
0  2                  heel pain
1  2  right heel became painful
2  8                  Arthritis
3  8                 arthristis
4  8                  arthritis

In [0]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine-tuning_language_model_healthnews_data.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [0]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

/usr/local/lib/python3.6/dist-packages/torch/serialization.py:292: UserWarning: Couldn't retrieve source code for container of type CrossEntropyLoss. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [0]:
learn.fit_one_cycle(1, 1e-2)

In [0]:
learn.fit_one_cycle(1, 1e-2)

In [0]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('healthnews_fold1_first')

In [0]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('healthnews_fold1_first')
learn.fit_one_cycle(1, 1e-2)

In [0]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [0]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-1-tuning-healthnews')

# Part three: Predict on the test dataset

In [0]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [0]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

867
867
[2, 2, 8, 1026, 8, 8, 1026, 16, 427, 1026, 1026, 427, 27, 584, 1028, 487, 37, 37, 37, 37, 37, 37, 37, 704, 37, 228, 427, 1035, 44, 517, 301, 49, 301, 1028, 1028, 1028, 1028, 49, 443, 443, 1028, 226, 427, 61, 62, 1028, 77, 208, 1035, 1028, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 172, 1028, 1028, 1028, 1028, 1028, 289, 1028, 289, 80, 961, 80, 80, 80, 80, 865, 289, 443, 89, 1028, 92, 92, 92, 1026, 1026, 443, 443, 427, 736, 1028, 1028, 1028, 265, 1028, 1028, 648, 427, 100, 100, 100, 100, 337, 100, 100, 419, 107, 49, 172, 258, 103, 269, 105, 72, 72, 686, 289, 289, 699, 211, 111, 111, 111, 111, 111, 289, 100, 1028, 117, 445, 125, 125, 125, 1028, 1028, 125, 125, 125, 125, 125, 125, 125, 125, 125, 802, 654, 509, 226, 443, 1028, 1035, 473, 76, 443, 142, 643, 864, 289, 158, 443, 1028, 1028, 1028, 269, 741, 289, 190, 356, 289, 1028, 1028, 1028, 107, 745, 182, 334, 82, 182, 182, 182, 182, 182, 289, 182, 289, 758, 758, 183, 183, 183, 183, 183, 1028, 187, 187, 187, 187, 443, 189, 190, 190, 190, 105, 105, 614, 735, 200, 738, 764, 567, 205, 606, 360, 1028, 1028, 1028, 1028, 265, 265, 265, 1028, 790, 220, 289, 289, 140, 511, 228, 228, 228, 741, 606, 1035, 289, 289, 289, 289, 1035, 1035, 1035, 909, 579, 265, 1026, 1028, 804, 1028, 1028, 1028, 1028, 318, 70, 729, 210, 318, 246, 246, 1035, 1035, 910, 262, 1028, 172, 262, 264, 443, 1035, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 1035, 1035, 1028, 289, 137, 1026, 269, 276, 1028, 165, 1035, 280, 210, 741, 289, 289, 289, 471, 289, 289, 289, 289, 301, 614, 111, 289, 775, 896, 289, 289, 289, 289, 289, 289, 265, 289, 651, 1035, 488, 38, 298, 427, 459, 790, 309, 309, 309, 309, 762, 250, 318, 3, 318, 265, 301, 301, 301, 301, 301, 301, 301, 301, 301, 301, 301, 301, 301, 301, 301, 1028, 848, 301, 1002, 325, 136, 1035, 1035, 643, 336, 337, 343, 343, 352, 352, 1035, 399, 359, 359, 359, 1035, 359, 475, 514, 704, 364, 364, 364, 364, 367, 374, 473, 434, 426, 386, 716, 391, 391, 391, 1028, 1028, 1028, 393, 847, 402, 402, 904, 909, 407, 745, 1028, 1028, 745, 408, 120, 488, 805, 418, 471, 260, 260, 260, 260, 260, 1028, 419, 651, 421, 1028, 426, 197, 426, 597, 427, 427, 427, 427, 427, 427, 427, 3, 427, 89, 1028, 562, 437, 467, 435, 435, 438, 258, 441, 443, 444, 334, 892, 473, 1026, 443, 443, 443, 443, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 589, 1028, 1028, 1028, 469, 197, 210, 473, 1028, 475, 475, 475, 479, 50, 486, 375, 491, 29, 29, 491, 491, 681, 1035, 286, 495, 495, 496, 497, 140, 507, 507, 643, 1028, 517, 517, 517, 61, 890, 606, 318, 289, 530, 530, 530, 530, 530, 27, 536, 392, 82, 1028, 541, 1035, 545, 545, 545, 1028, 1028, 1028, 1028, 111, 648, 1035, 652, 265, 771, 1028, 1028, 1028, 592, 592, 592, 707, 427, 443, 729, 1028, 1028, 1028, 1028, 706, 614, 197, 76, 76, 76, 197, 197, 528, 528, 1035, 443, 1028, 664, 546, 288, 234, 646, 646, 652, 652, 652, 652, 700, 746, 687, 662, 662, 662, 662, 378, 664, 666, 508, 902, 682, 289, 289, 591, 289, 58, 660, 704, 1035, 1035, 1035, 1035, 3, 1035, 135, 135, 715, 1035, 1035, 735, 909, 1035, 745, 541, 746, 746, 746, 752, 1002, 443, 574, 488, 210, 363, 364, 775, 364, 419, 488, 210, 605, 606, 805, 1035, 1028, 209, 257, 1028, 806, 808, 809, 288, 58, 55, 1028, 826, 1028, 1028, 591, 1026, 443, 443, 1028, 1028, 1028, 801, 1028, 427, 847, 847, 847, 1028, 1028, 1028, 753, 363, 747, 79, 289, 210, 855, 902, 245, 1035, 546, 1035, 443, 268, 878, 329, 741, 209, 209, 723, 606, 606, 210, 210, 896, 896, 704, 1035, 1035, 606, 443, 1028, 443, 1035, 1028, 443, 443, 174, 933, 1026, 1026, 443, 443, 443, 443, 443, 443, 1028, 1028, 1028, 937, 1028, 443, 443, 1026, 1026, 1026, 1026, 1026, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 940, 454, 443, 443, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 1028, 443, 443, 443, 443, 443, 443, 443, 443, 443, 443, 961, 443, 1028, 443, 969, 443, 1028, 443, 443, 1028, 443, 443, 443, 443, 1028, 994, 443, 443, 427, 1028, 1028]
[2, 2, 8, 8, 8, 8, 8, 16, 20, 21, 22, 25, 27, 31, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 42, 42, 44, 45, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 59, 60, 61, 62, 65, 70, 71, 71, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 81, 83, 88, 89, 90, 92, 92, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 97, 98, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 103, 103, 105, 107, 107, 108, 108, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 114, 117, 120, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 130, 130, 134, 135, 135, 135, 139, 139, 141, 142, 145, 146, 146, 158, 166, 166, 166, 169, 171, 172, 172, 172, 172, 172, 173, 173, 173, 180, 180, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 184, 187, 187, 187, 187, 189, 189, 190, 190, 190, 193, 193, 197, 197, 200, 202, 205, 205, 205, 209, 214, 214, 214, 214, 214, 214, 214, 214, 218, 220, 220, 223, 223, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 236, 236, 239, 239, 241, 243, 243, 243, 243, 245, 245, 245, 245, 245, 246, 246, 246, 246, 247, 251, 254, 260, 262, 264, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 269, 269, 276, 277, 277, 279, 280, 281, 281, 281, 281, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 290, 293, 294, 298, 298, 299, 302, 304, 309, 309, 309, 309, 315, 317, 318, 318, 318, 324, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 328, 330, 332, 332, 332, 336, 337, 343, 343, 352, 352, 355, 357, 359, 359, 359, 359, 359, 360, 360, 363, 364, 364, 364, 364, 367, 374, 374, 376, 384, 386, 386, 391, 391, 391, 394, 396, 396, 397, 400, 402, 402, 402, 403, 407, 408, 408, 408, 408, 408, 410, 415, 415, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 421, 424, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 428, 428, 432, 435, 435, 438, 440, 441, 443, 444, 444, 444, 448, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 456, 460, 469, 470, 470, 473, 474, 475, 475, 475, 479, 481, 486, 489, 491, 491, 491, 491, 491, 491, 492, 495, 495, 495, 496, 497, 499, 507, 507, 515, 516, 517, 517, 517, 517, 520, 522, 524, 524, 530, 530, 530, 530, 530, 536, 536, 537, 538, 540, 541, 544, 545, 545, 545, 548, 548, 548, 548, 549, 550, 569, 572, 577, 577, 590, 590, 592, 592, 592, 592, 595, 597, 598, 610, 610, 610, 610, 610, 613, 614, 614, 614, 614, 614, 614, 614, 623, 623, 624, 625, 628, 644, 644, 644, 644, 646, 646, 652, 652, 652, 652, 655, 659, 660, 662, 662, 662, 662, 664, 664, 666, 674, 680, 682, 686, 686, 694, 700, 702, 703, 704, 710, 711, 711, 711, 712, 714, 714, 714, 715, 717, 729, 735, 741, 741, 745, 746, 746, 746, 746, 752, 753, 765, 769, 771, 772, 773, 775, 775, 775, 775, 775, 775, 775, 775, 783, 787, 790, 793, 799, 803, 806, 808, 809, 809, 810, 813, 815, 826, 826, 826, 827, 830, 830, 830, 830, 830, 834, 840, 840, 841, 847, 847, 847, 852, 853, 857, 858, 860, 861, 863, 864, 873, 874, 875, 876, 877, 877, 877, 878, 878, 878, 886, 889, 893, 893, 895, 896, 896, 896, 896, 896, 896, 896, 904, 904, 910, 919, 919, 923, 925, 927, 928, 930, 932, 933, 936, 936, 937, 937, 937, 937, 937, 937, 937, 937, 937, 937, 939, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 955, 955, 957, 958, 961, 963, 964, 967, 968, 974, 974, 976, 976, 976, 980, 983, 983, 983, 984, 994, 1006, 1008, 1023, 1026, 1028]

In [0]:
correct_num = 0

for i in range(0, 866):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

238
0.27450980392156865