<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine_tuning_mixed/ask_4_mixed_pubmed_cadec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
curl: (60) SSL certificate problem: certificate has expired
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. To learn more about this situation and
how to fix it, please visit the web page mentioned above.

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-4.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [11]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-4.validation.csv",header=None)
valid.head()

   0                      1
0  6  diastolic dysfunction
1  8              ARTHRITIS
2  8              arthritis
3  8              arthritis
4  8              arthritis

In [12]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-4.test.csv",header=None)
test.head()

    0                              1
0   4   purple sploches around waist
1   6  stage 1 diastolic dysfunction
2   8                      arthritis
3  12                       shingles
4  16                            flu

In [13]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_mixed.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [15]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [16]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

In [0]:
data_lm.train_ds.vocab.itos

In [19]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [20]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

Downloading https://s3.amazonaws.com/fast-ai-modelzoo/wt103-fwd

In [21]:
learn.fit_one_cycle(1, 1e-2)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-3)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('bigtweet_fold0_first')

In [26]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('bigtweet_fold0_first')
learn.fit_one_cycle(1, 1e-2)

In [27]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [28]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [29]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [42]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [43]:
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-0-tuning-bigtweet')

# Part three: Predict on the test dataset

In [45]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [46]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[520, 6, 8, 12, 16, 16, 27, 27, 27, 29, 31, 31, 31, 31, 31, 32, 37, 37, 37, 37, 37, 289, 37, 42, 48, 325, 49, 49, 427, 49, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 53, 113, 53, 113, 226, 94, 61, 61, 62, 251, 76, 76, 76, 289, 289, 172, 614, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 80, 80, 80, 268, 91, 91, 92, 92, 92, 94, 864, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 265, 94, 94, 695, 693, 96, 100, 100, 100, 877, 108, 108, 194, 111, 111, 289, 111, 111, 111, 289, 113, 116, 257, 120, 122, 122, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 129, 131, 139, 140, 143, 788, 157, 527, 165, 165, 166, 166, 101, 172, 172, 289, 864, 864, 864, 172, 427, 165, 182, 182, 182, 182, 182, 289, 289, 289, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 925, 187, 187, 188, 189, 189, 188, 190, 190, 190, 190, 190, 462, 289, 34, 197, 205, 206, 207, 208, 210, 214, 351, 214, 214, 34, 34, 102, 214, 214, 214, 214, 214, 1035, 427, 218, 220, 220, 717, 226, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 289, 234, 234, 235, 235, 236, 236, 236, 401, 243, 194, 693, 243, 243, 194, 245, 245, 245, 245, 245, 245, 245, 245, 245, 798, 739, 265, 265, 289, 265, 265, 265, 265, 265, 701, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 334, 113, 271, 274, 276, 280, 280, 569, 451, 286, 194, 714, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 517, 300, 300, 301, 301, 236, 391, 301, 309, 309, 309, 864, 132, 318, 389, 163, 194, 323, 323, 325, 325, 325, 325, 325, 325, 325, 325, 325, 427, 541, 49, 49, 326, 326, 332, 332, 708, 336, 337, 214, 337, 532, 414, 339, 342, 129, 129, 343, 343, 343, 343, 623, 350, 775, 359, 359, 359, 368, 360, 362, 686, 194, 593, 591, 20, 427, 638, 137, 391, 391, 140, 753, 401, 358, 402, 402, 402, 343, 711, 711, 333, 418, 419, 419, 419, 419, 419, 194, 424, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 430, 431, 434, 434, 435, 441, 441, 441, 441, 137, 455, 455, 455, 455, 459, 460, 462, 470, 717, 471, 471, 510, 693, 301, 475, 489, 491, 491, 746, 491, 491, 491, 491, 491, 491, 491, 491, 82, 491, 492, 194, 495, 829, 509, 510, 1035, 516, 194, 517, 518, 517, 519, 781, 427, 59, 530, 530, 530, 530, 27, 536, 821, 614, 194, 541, 541, 545, 545, 546, 546, 546, 548, 384, 384, 994, 557, 559, 487, 146, 122, 824, 172, 775, 236, 301, 579, 579, 583, 584, 590, 590, 590, 592, 592, 97, 594, 427, 427, 597, 427, 289, 101, 610, 426, 426, 614, 614, 614, 614, 252, 252, 597, 427, 528, 528, 623, 623, 623, 624, 636, 627, 633, 894, 841, 644, 298, 532, 644, 646, 646, 646, 646, 646, 646, 646, 646, 297, 648, 652, 636, 636, 636, 652, 655, 658, 658, 662, 662, 491, 666, 666, 671, 681, 691, 686, 693, 696, 701, 708, 994, 711, 711, 714, 715, 715, 716, 638, 594, 728, 741, 289, 717, 483, 746, 749, 753, 587, 245, 769, 721, 774, 775, 775, 777, 778, 821, 402, 794, 473, 8, 415, 194, 847, 809, 809, 693, 763, 809, 809, 809, 810, 368, 427, 817, 817, 824, 825, 826, 601, 826, 826, 826, 194, 695, 830, 597, 831, 194, 528, 840, 840, 343, 212, 642, 642, 844, 329, 847, 847, 531, 847, 591, 537, 850, 427, 852, 853, 853, 853, 853, 853, 853, 853, 853, 853, 194, 853, 82, 701, 337, 864, 864, 864, 865, 260, 876, 876, 34, 877, 391, 882, 890, 893, 896, 896, 896, 704, 896, 896, 896, 904, 904, 904, 11, 910, 589, 194, 919, 919, 194, 921, 194, 937, 937, 937, 937, 194, 194, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 753, 950, 950, 950, 194, 952, 952, 194, 955, 961, 1032, 1015, 1015, 967, 968, 194, 925, 996, 194, 999, 1001, 1001, 1001, 194, 1015, 1015, 194, 1017, 334, 1030, 1026, 1026, 1026, 1026, 194, 1026, 1028, 1029, 1011, 194, 1035]
[4, 6, 8, 12, 16, 16, 27, 27, 27, 29, 31, 31, 31, 31, 31, 32, 37, 37, 37, 37, 37, 37, 37, 42, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 53, 59, 60, 61, 61, 62, 64, 76, 76, 76, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 89, 91, 91, 92, 92, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 96, 100, 100, 100, 107, 108, 108, 108, 111, 111, 111, 111, 111, 111, 111, 113, 116, 119, 120, 122, 122, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 129, 131, 139, 140, 143, 147, 157, 160, 165, 165, 166, 166, 168, 172, 172, 172, 172, 172, 172, 172, 175, 178, 182, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 186, 187, 187, 188, 189, 189, 190, 190, 190, 190, 190, 190, 190, 195, 197, 197, 205, 206, 207, 208, 210, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 216, 218, 220, 220, 223, 226, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 234, 235, 235, 236, 236, 236, 243, 243, 243, 243, 243, 243, 243, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 254, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 270, 271, 274, 276, 280, 280, 281, 285, 286, 287, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 298, 300, 300, 301, 301, 301, 301, 301, 309, 309, 309, 309, 312, 318, 318, 321, 323, 323, 323, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 326, 332, 332, 335, 336, 337, 337, 337, 338, 338, 339, 342, 343, 343, 343, 343, 343, 343, 348, 350, 359, 359, 359, 359, 359, 360, 362, 363, 364, 366, 368, 372, 382, 385, 390, 391, 391, 393, 396, 401, 402, 402, 402, 402, 408, 408, 408, 409, 418, 419, 419, 419, 419, 419, 420, 424, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 430, 431, 434, 434, 435, 441, 441, 441, 441, 446, 455, 455, 455, 455, 459, 460, 463, 470, 470, 471, 471, 472, 474, 475, 475, 489, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 492, 495, 495, 508, 509, 510, 511, 516, 516, 517, 517, 517, 518, 521, 522, 529, 530, 530, 530, 530, 536, 536, 537, 540, 540, 541, 541, 545, 545, 546, 546, 546, 548, 548, 548, 556, 557, 559, 565, 567, 568, 570, 570, 573, 574, 577, 579, 579, 583, 584, 590, 590, 590, 592, 592, 594, 594, 596, 597, 597, 597, 604, 610, 610, 614, 614, 614, 614, 614, 614, 616, 616, 619, 619, 623, 623, 623, 623, 623, 624, 626, 627, 633, 639, 640, 644, 644, 644, 644, 646, 646, 646, 646, 646, 646, 646, 646, 646, 648, 652, 652, 652, 652, 652, 655, 658, 658, 662, 662, 664, 666, 666, 671, 676, 684, 686, 693, 696, 702, 708, 711, 711, 711, 714, 715, 715, 715, 723, 724, 728, 741, 741, 742, 744, 746, 749, 753, 758, 765, 769, 772, 774, 775, 775, 777, 778, 787, 789, 794, 794, 797, 801, 803, 808, 809, 809, 809, 809, 809, 809, 809, 810, 811, 816, 817, 817, 824, 825, 826, 826, 826, 826, 826, 830, 830, 830, 830, 831, 832, 838, 840, 840, 840, 841, 841, 841, 844, 846, 847, 847, 847, 847, 848, 849, 850, 852, 852, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 854, 860, 860, 864, 864, 864, 865, 867, 876, 876, 877, 877, 878, 882, 890, 893, 896, 896, 896, 896, 896, 896, 897, 904, 904, 904, 904, 910, 911, 918, 919, 919, 919, 921, 924, 937, 937, 937, 937, 942, 945, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 951, 952, 952, 954, 955, 961, 964, 967, 967, 967, 968, 969, 977, 996, 998, 999, 1001, 1001, 1001, 1007, 1015, 1015, 1016, 1017, 1018, 1025, 1026, 1026, 1026, 1026, 1026, 1026, 1028, 1029, 1031, 1033, 1035]

In [47]:
correct_num = 0

for i in range(0, len(standard_list)):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

605
0.6986143187066974