<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine_tuning_mixed/ask_8_pubmed_bigtweet_mixed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE html>'
100  9115  100  9115    0     0  49005      0 --:--:-- --:--:-- --:--:-- 49005
curl: (23) Failed writing body (287 != 1210)

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'AskAPatient.fold-8.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [11]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-8.validation.csv",header=None)
valid.head()

   0                              1
0  0                scared to death
1  2                      heel pain
2  5           increased heart rate
3  6  stage 1 diastolic dysfunction
4  8                      arthritis

In [12]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-8.test.csv",header=None)
test.head()

   0                       1
0  1          Abdominal rash
1  5  increase my heart rate
2  5             tachycardia
3  8               arthritis
4  8               arthritis

In [13]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_pubmed_bigtweet_mixed.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [15]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [16]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

In [0]:
data_lm.train_ds.vocab.itos

In [19]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [20]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

Downloading https://s3.amazonaws.com/fast-ai-modelzoo/wt103-fwd

In [21]:
learn.fit_one_cycle(1, 1e-2)

In [22]:
learn.fit_one_cycle(1, 1e-2)

In [23]:
learn.fit_one_cycle(1, 1e-3)

In [24]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('bigtweet_fold0_first')

In [26]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('bigtweet_fold0_first')
learn.fit_one_cycle(1, 1e-2)

In [27]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [28]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [29]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [30]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [42]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [43]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [44]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-0-tuning-bigtweet')

# Part three: Predict on the test dataset

In [46]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [47]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[623, 18, 5, 8, 8, 8, 541, 20, 472, 27, 491, 491, 31, 31, 197, 107, 655, 876, 741, 309, 117, 117, 42, 597, 49, 597, 49, 49, 775, 847, 100, 53, 53, 53, 53, 53, 60, 60, 60, 614, 418, 76, 76, 309, 309, 418, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 309, 686, 418, 182, 80, 80, 80, 80, 69, 418, 91, 91, 91, 94, 94, 94, 826, 418, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 289, 94, 94, 234, 418, 789, 100, 100, 100, 100, 100, 100, 418, 9, 108, 108, 108, 787, 111, 111, 111, 111, 111, 111, 111, 111, 111, 289, 418, 117, 572, 130, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 289, 245, 127, 135, 94, 359, 243, 395, 89, 807, 139, 142, 847, 418, 418, 152, 157, 9, 940, 165, 418, 418, 265, 172, 864, 289, 864, 418, 356, 904, 769, 182, 182, 182, 182, 289, 182, 809, 183, 183, 183, 183, 183, 183, 183, 418, 418, 185, 511, 187, 187, 187, 655, 470, 190, 190, 190, 309, 289, 172, 211, 210, 309, 418, 265, 202, 206, 206, 210, 210, 214, 624, 624, 624, 624, 214, 214, 214, 214, 214, 265, 214, 214, 291, 418, 300, 220, 220, 80, 223, 214, 836, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 418, 228, 289, 234, 234, 234, 234, 234, 235, 235, 236, 236, 418, 194, 418, 418, 318, 243, 243, 243, 243, 418, 243, 418, 245, 547, 418, 418, 860, 769, 245, 475, 252, 254, 455, 309, 309, 228, 265, 265, 352, 265, 265, 265, 289, 172, 214, 214, 214, 214, 214, 214, 214, 214, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 214, 214, 265, 265, 265, 265, 228, 265, 651, 269, 165, 165, 165, 427, 289, 289, 289, 289, 289, 76, 289, 309, 289, 289, 289, 289, 265, 289, 289, 289, 289, 227, 291, 794, 291, 289, 364, 703, 614, 5, 415, 415, 301, 117, 311, 418, 304, 304, 260, 309, 309, 309, 309, 727, 9, 309, 214, 318, 325, 301, 301, 301, 301, 301, 301, 301, 301, 301, 276, 228, 326, 9, 511, 511, 334, 336, 337, 301, 343, 127, 343, 396, 673, 352, 511, 359, 359, 769, 609, 391, 444, 418, 904, 418, 265, 402, 402, 402, 610, 276, 408, 805, 584, 771, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 130, 418, 418, 418, 426, 426, 427, 427, 615, 427, 427, 427, 427, 427, 427, 427, 418, 76, 427, 806, 418, 238, 443, 441, 142, 148, 9, 94, 470, 455, 455, 418, 418, 418, 418, 418, 459, 459, 460, 604, 463, 469, 9, 652, 419, 235, 418, 695, 475, 445, 475, 756, 76, 491, 491, 491, 491, 491, 418, 491, 607, 419, 495, 495, 503, 143, 893, 210, 418, 517, 517, 517, 649, 309, 524, 524, 418, 530, 530, 530, 531, 531, 298, 418, 418, 49, 428, 904, 574, 769, 896, 427, 584, 511, 590, 590, 787, 592, 592, 715, 595, 359, 318, 849, 610, 427, 289, 289, 289, 517, 368, 617, 418, 622, 528, 623, 624, 228, 228, 809, 874, 646, 646, 775, 245, 651, 211, 652, 636, 636, 720, 662, 662, 437, 677, 511, 418, 289, 702, 364, 896, 265, 265, 707, 194, 97, 182, 564, 860, 517, 727, 79, 309, 309, 309, 289, 289, 541, 749, 749, 651, 418, 210, 763, 769, 321, 902, 723, 840, 49, 771, 727, 775, 775, 777, 778, 764, 210, 260, 511, 300, 794, 455, 418, 418, 172, 806, 806, 808, 404, 809, 809, 809, 575, 509, 812, 766, 511, 418, 830, 830, 830, 830, 830, 830, 418, 418, 418, 831, 363, 834, 834, 418, 245, 418, 265, 728, 418, 418, 785, 785, 853, 853, 853, 853, 418, 861, 172, 864, 159, 111, 866, 872, 772, 245, 877, 877, 877, 260, 896, 896, 896, 896, 896, 896, 745, 986, 904, 904, 904, 904, 418, 487, 779, 455, 418, 511, 937, 937, 937, 937, 937, 937, 937, 418, 937, 418, 418, 418, 418, 455, 1028, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 455, 455, 455, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 950, 950, 729, 729, 455, 964, 455, 418, 965, 966, 304, 455, 470, 455, 978, 418, 980, 455, 455, 455, 997, 999, 511, 455, 418, 1004, 1004, 418, 455, 227, 511, 418, 418, 418, 1026, 1026, 418, 418, 455, 418, 1028, 1028, 1029]
[1, 5, 5, 8, 8, 8, 12, 20, 26, 27, 29, 29, 31, 31, 34, 34, 34, 37, 37, 37, 37, 37, 42, 43, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 53, 53, 60, 60, 60, 70, 74, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 85, 87, 91, 91, 91, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 98, 99, 100, 100, 100, 100, 100, 100, 100, 103, 105, 108, 108, 108, 110, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 112, 117, 118, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 126, 127, 127, 135, 135, 135, 135, 136, 137, 137, 139, 142, 151, 151, 151, 152, 157, 159, 164, 165, 166, 166, 166, 172, 172, 172, 172, 173, 173, 181, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 184, 184, 185, 187, 187, 187, 187, 188, 189, 190, 190, 190, 190, 190, 190, 190, 190, 190, 193, 194, 202, 206, 206, 210, 210, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 218, 218, 220, 220, 220, 220, 223, 224, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 234, 234, 234, 234, 235, 235, 236, 236, 238, 238, 239, 242, 243, 243, 243, 243, 243, 243, 243, 244, 245, 245, 245, 245, 245, 245, 245, 250, 252, 254, 257, 260, 260, 263, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 266, 269, 277, 277, 277, 280, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 291, 291, 291, 293, 293, 293, 293, 300, 301, 301, 301, 301, 303, 304, 304, 307, 309, 309, 309, 309, 309, 309, 309, 310, 318, 318, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 326, 329, 332, 332, 334, 336, 337, 337, 343, 343, 343, 349, 350, 352, 358, 359, 359, 373, 375, 391, 391, 394, 398, 401, 402, 402, 402, 402, 405, 406, 408, 413, 414, 415, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 423, 424, 424, 424, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 429, 434, 439, 441, 447, 449, 451, 453, 454, 455, 455, 455, 455, 455, 455, 455, 459, 459, 460, 462, 463, 469, 470, 471, 471, 473, 474, 475, 475, 475, 475, 478, 479, 491, 491, 491, 491, 491, 491, 491, 492, 494, 495, 495, 503, 503, 503, 513, 516, 517, 517, 517, 519, 523, 524, 524, 527, 530, 530, 530, 531, 531, 546, 548, 548, 557, 558, 561, 574, 578, 579, 580, 584, 587, 590, 590, 591, 592, 592, 594, 595, 596, 597, 603, 610, 614, 614, 614, 614, 614, 615, 617, 619, 622, 623, 623, 624, 633, 637, 641, 646, 646, 646, 647, 648, 651, 651, 652, 652, 652, 652, 662, 662, 664, 681, 693, 695, 700, 701, 701, 704, 704, 704, 707, 711, 716, 717, 721, 723, 723, 726, 738, 741, 741, 741, 741, 741, 746, 749, 749, 751, 759, 761, 763, 764, 767, 773, 774, 775, 775, 775, 775, 775, 775, 777, 778, 779, 779, 781, 786, 788, 794, 794, 794, 794, 803, 806, 806, 808, 809, 809, 809, 809, 810, 810, 812, 820, 826, 826, 830, 830, 830, 830, 830, 830, 830, 830, 830, 831, 833, 834, 834, 840, 841, 847, 847, 847, 848, 852, 852, 852, 853, 853, 853, 853, 853, 861, 861, 864, 865, 870, 871, 872, 876, 876, 877, 877, 877, 889, 896, 896, 896, 896, 896, 896, 900, 900, 904, 904, 904, 904, 905, 907, 910, 912, 934, 937, 937, 937, 937, 937, 937, 937, 937, 937, 937, 941, 941, 941, 943, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 950, 950, 950, 955, 955, 963, 964, 964, 964, 965, 966, 967, 970, 973, 976, 978, 979, 980, 983, 983, 989, 997, 999, 1001, 1001, 1001, 1004, 1004, 1005, 1016, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1027, 1028, 1028, 1028, 1029]

In [48]:
correct_num = 0

for i in range(0, len(standard_list)):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

456
0.5265588914549654