<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine_tuning_mixed/twadr_6_pubmed_bigtweet_mixed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE html>'
100  9115  100  9115    0     0  28219      0 --:--:-- --:--:-- --:--:-- 28132
curl: (23) Failed writing body (290 != 1213)

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'TwADR-L.fold-6.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [50]:
# validating data set

valid = pd.read_csv(path/"TwADR-L.fold-6.validation.csv",header=None)
valid.head()

     0                                                  1
0   13  It's 6 am and this adderall got me reevaluatin...
1   84                                         paraplegic
2   91                                            jitters
3  189                                          dizziness
4  189                                              dizzy

In [51]:
# testing data set

test = pd.read_csv(path/"TwADR-L.fold-6.test.csv",header=None)
test.head()

    0                                                  1
0  13  awake in the middle of the night for an hour or 2
1  24                    heart beat for being too strong
2  74        60% of my success is due to taking Adderall
3  85                                             tremor
4  94                                            anxiety

In [52]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_pubmed_bigtweet_mixed.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [54]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [55]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [60]:
learn.fit_one_cycle(1, 1e-2)

In [61]:
learn.fit_one_cycle(1, 1e-2)

In [62]:
learn.fit_one_cycle(1, 1e-3)

In [63]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('bigtweet_fold0_first')

In [65]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('bigtweet_fold0_first')
learn.fit_one_cycle(1, 1e-2)

In [66]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [67]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [68]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [69]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [70]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [71]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [72]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [73]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [74]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [75]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [76]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [77]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [78]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [79]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [80]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [81]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [82]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [83]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-0-tuning-bigtweet')

# Part three: Predict on the test dataset

In [85]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [86]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

143
143
[2150, 1767, 1599, 13, 978, 1096, 189, 1265, 189, 1531, 224, 1767, 815, 233, 233, 2147, 749, 1925, 1599, 1136, 231, 532, 426, 1253, 1253, 706, 1265, 749, 1265, 1136, 792, 809, 819, 1529, 1265, 824, 1265, 2017, 908, 231, 923, 1265, 974, 1669, 978, 978, 561, 978, 1936, 231, 1669, 187, 1767, 1099, 1769, 1509, 1265, 396, 1787, 1265, 712, 1373, 1265, 1767, 1265, 1265, 231, 1529, 1295, 1265, 1308, 1325, 2149, 1340, 720, 1356, 1356, 712, 1925, 1711, 1718, 1718, 1597, 1597, 233, 1597, 1610, 1610, 1265, 1265, 1787, 1099, 1787, 2032, 265, 1727, 1727, 1265, 1265, 231, 749, 749, 1718, 1787, 2032, 1265, 1787, 1265, 231, 978, 56, 824, 1130, 2103, 1936, 1936, 233, 1936, 815, 1265, 233, 231, 2147, 452, 2018, 1265, 2032, 2147, 2069, 1508, 1508, 2149, 1265, 2147, 1265, 1196, 233, 2147, 2147, 2147, 2149, 2194, 2194]
[13, 24, 74, 85, 94, 187, 189, 189, 189, 217, 224, 224, 224, 233, 233, 233, 265, 355, 392, 396, 426, 532, 561, 600, 600, 706, 744, 749, 755, 791, 792, 809, 818, 818, 819, 825, 852, 858, 908, 908, 923, 966, 974, 974, 978, 978, 978, 978, 1073, 1073, 1073, 1096, 1099, 1099, 1099, 1125, 1136, 1136, 1145, 1163, 1175, 1199, 1204, 1204, 1204, 1265, 1265, 1295, 1295, 1295, 1308, 1308, 1327, 1340, 1373, 1458, 1507, 1511, 1524, 1531, 1582, 1597, 1597, 1597, 1597, 1597, 1610, 1610, 1676, 1680, 1718, 1718, 1718, 1718, 1724, 1727, 1727, 1727, 1767, 1767, 1767, 1769, 1769, 1787, 1787, 1787, 1787, 1787, 1787, 1822, 1845, 1884, 1884, 1924, 1936, 1936, 1936, 1936, 1940, 1942, 1942, 1942, 1974, 2002, 2018, 2024, 2032, 2032, 2074, 2077, 2077, 2103, 2123, 2147, 2147, 2147, 2147, 2147, 2147, 2147, 2149, 2191, 2194]

In [87]:
correct_num = 0

for i in range(0, len(standard_list)):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

41
0.2867132867132867