<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/fine_tuning_mixed/twadr_7_pubmed_bigtweet_mixed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os

In [0]:
base_dir = 'medical-concept-normalization'

In [0]:
os.mkdir(base_dir)

In [0]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0bash: line 1: syntax error near unexpected token `newline'
bash: line 1: `<!DOCTYPE html>'
100  9115  100  9115    0     0  49005      0 --:--:-- --:--:-- --:--:-- 49005
curl: (23) Failed writing body (287 != 1210)

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [0]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [0]:
path = Path('medical-concept-normalization/data_collection')

In [0]:
# training data set

train_csv = path/'TwADR-L.fold-7.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [89]:
# validating data set

valid = pd.read_csv(path/"TwADR-L.fold-7.validation.csv",header=None)
valid.head()

    0                     1
0  13             insomniac
1  24          racing heart
2  60  cigarette withdrawal
3  91               jitters
4  93              shooting

In [90]:
# testing data set

test = pd.read_csv(path/"TwADR-L.fold-7.test.csv",header=None)
test.head()

     0                 1
0   13  keeping me awake
1   94           anxiety
2  119      incr anxiety
3  119           anxiety
4  121           itching

In [91]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'fine_tuning_language_model_pubmed_bigtweet_mixed.csv')

In [0]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [93]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [94]:
data_clas.add_test(test,label=0)

In [0]:
data_lm.save()
data_clas.save()

In [0]:
data_lm.train_ds.vocab.itos

In [0]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [0]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [99]:
learn.fit_one_cycle(1, 1e-2)

In [100]:
learn.fit_one_cycle(1, 1e-2)

In [101]:
learn.fit_one_cycle(1, 1e-3)

In [102]:
learn.fit_one_cycle(1, 1e-3)

In [0]:
learn.save_encoder('bigtweet_fold0_first')

In [104]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('bigtweet_fold0_first')
learn.fit_one_cycle(1, 1e-2)

In [105]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [106]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [107]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [108]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [109]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [110]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [111]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [112]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [113]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [114]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [115]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [116]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [117]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [118]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [119]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [120]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [121]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [122]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [0]:
# save the best model

learn.save_encoder('ask-0-tuning-bigtweet')

# Part three: Predict on the test dataset

In [124]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [125]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

142
142
[393, 978, 978, 978, 1295, 966, 154, 1767, 1767, 189, 1767, 2002, 978, 908, 1936, 2147, 2147, 233, 1936, 1936, 249, 857, 300, 1054, 1767, 1767, 418, 231, 1296, 1718, 2002, 1175, 2002, 749, 749, 1767, 749, 1767, 1767, 1767, 1798, 824, 2168, 1884, 852, 1099, 1877, 1767, 974, 605, 1062, 418, 978, 1877, 1808, 231, 2149, 1718, 1767, 1099, 1136, 1175, 231, 1767, 1767, 1767, 1295, 1308, 1321, 2149, 1099, 1507, 1682, 974, 1432, 1973, 1290, 1701, 1767, 1573, 1767, 1597, 1597, 1597, 1597, 1597, 1597, 1597, 1597, 1597, 1610, 1610, 108, 1099, 1767, 1099, 1531, 1767, 231, 1767, 1753, 947, 1767, 1767, 1767, 561, 231, 1787, 426, 1767, 1787, 1787, 1767, 1718, 1787, 1432, 1787, 1531, 1936, 1936, 1936, 1767, 1767, 1529, 1942, 1942, 2113, 16, 1767, 1767, 1813, 1767, 418, 1769, 1767, 2119, 1767, 2147, 1767, 2191, 2113, 1767]
[13, 94, 119, 119, 121, 143, 154, 189, 189, 189, 224, 230, 231, 231, 233, 233, 233, 233, 233, 233, 249, 265, 300, 359, 393, 396, 418, 426, 518, 596, 693, 712, 744, 749, 749, 749, 749, 791, 815, 815, 818, 824, 824, 825, 852, 852, 907, 947, 974, 974, 978, 982, 982, 982, 1005, 1019, 1054, 1073, 1073, 1099, 1136, 1175, 1265, 1295, 1295, 1295, 1296, 1308, 1319, 1327, 1340, 1341, 1417, 1432, 1432, 1508, 1526, 1526, 1545, 1573, 1594, 1597, 1597, 1597, 1597, 1597, 1597, 1597, 1597, 1597, 1610, 1610, 1647, 1669, 1669, 1676, 1711, 1718, 1718, 1718, 1727, 1727, 1767, 1767, 1767, 1769, 1769, 1787, 1787, 1787, 1787, 1787, 1798, 1815, 1815, 1822, 1833, 1915, 1936, 1936, 1936, 1936, 1942, 1942, 1942, 1942, 1948, 1962, 1973, 1974, 2023, 2032, 2063, 2097, 2103, 2119, 2123, 2147, 2147, 2191, 2191, 2194]

In [126]:
correct_num = 0

for i in range(0, len(standard_list)):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

43
0.3028169014084507