<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/medical-concept-normalization/fine-tuning-experiments/askpatient/ask_6_mixed_pubmed_cadec_ask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os

In [2]:
base_dir = 'medical-concept-normalization'

In [3]:
os.mkdir(base_dir)

In [4]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0curl: (6) Could not resolve host: course-v3.fast.ai

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [7]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [8]:
path = Path('medical-concept-normalization/data_collection')

In [ ]:
# training data set

train_csv = path/'AskAPatient.fold-6.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [11]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-6.validation.csv",header=None)
valid.head()

   0                        1
0  2                heel pain
1  2               heels hurt
2  4     black and blue marks
3  5  fast and slow heartbeat
4  5     increased heart rate

In [12]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-6.test.csv",header=None)
test.head()

   0               1
0  2  left heel pain
1  5     tachycardia
2  8       ARTHRITIS
3  8       arthrites
4  8       arthritis

In [13]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'pubmed_cadec_askpatient_mixed.csv')

In [14]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [15]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [16]:
data_clas.add_test(test,label=0)

In [17]:
data_lm.save()
data_clas.save()

In [ ]:
data_lm.train_ds.vocab.itos

In [22]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [23]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [24]:
learn.fit_one_cycle(1, 1e-2)

In [25]:
learn.fit_one_cycle(1, 1e-2)

In [26]:
learn.fit_one_cycle(1, 1e-3)

In [27]:
learn.fit_one_cycle(1, 1e-3)

In [28]:
learn.save_encoder('pubmed_cadec_askpatient_mixed_fold6_first')

In [29]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('pubmed_cadec_askpatient_mixed_fold6_first')
learn.fit_one_cycle(1, 1e-2)

In [30]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [31]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [42]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [43]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [44]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [45]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [46]:
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [47]:
# save the best model

learn.save_encoder('pubmed_cadec_askpatient_mixed_fold6')

# Part three: Predict on the test dataset

In [48]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [49]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[2, 5, 8, 218, 8, 8, 8, 8, 8, 8, 8, 3, 146, 27, 31, 34, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 735, 41, 41, 41, 88, 49, 495, 49, 49, 100, 100, 100, 100, 100, 51, 53, 53, 53, 53, 53, 597, 56, 58, 58, 58, 286, 64, 67, 71, 71, 76, 76, 864, 182, 79, 318, 318, 318, 614, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 478, 79, 108, 108, 108, 37, 495, 80, 80, 80, 80, 495, 81, 82, 83, 89, 218, 91, 91, 91, 91, 91, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 96, 100, 545, 100, 100, 100, 100, 286, 106, 108, 108, 108, 108, 864, 462, 111, 111, 111, 112, 113, 114, 116, 117, 117, 572, 243, 717, 122, 24, 125, 455, 125, 125, 125, 125, 125, 125, 125, 375, 127, 131, 135, 89, 63, 269, 151, 151, 427, 157, 157, 163, 165, 171, 172, 172, 172, 172, 172, 173, 71, 179, 182, 182, 182, 183, 183, 183, 183, 184, 184, 187, 187, 218, 189, 190, 190, 191, 197, 197, 202, 205, 210, 210, 211, 873, 214, 214, 214, 896, 896, 896, 896, 896, 896, 721, 214, 214, 214, 214, 218, 499, 220, 223, 224, 225, 265, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 79, 98, 235, 236, 238, 242, 243, 184, 243, 243, 243, 243, 243, 764, 245, 245, 245, 876, 245, 246, 246, 249, 254, 289, 264, 265, 265, 265, 265, 265, 265, 318, 265, 265, 265, 704, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 289, 265, 265, 265, 269, 269, 277, 277, 277, 277, 277, 364, 281, 847, 284, 288, 289, 700, 289, 289, 289, 111, 289, 289, 524, 289, 182, 289, 289, 289, 289, 289, 289, 37, 289, 265, 289, 265, 289, 289, 541, 2, 3, 293, 298, 298, 300, 301, 301, 896, 309, 309, 309, 318, 318, 318, 318, 320, 325, 325, 541, 325, 235, 235, 235, 235, 235, 235, 235, 235, 235, 235, 729, 332, 332, 332, 336, 698, 337, 337, 337, 337, 646, 338, 341, 341, 342, 342, 343, 343, 344, 344, 769, 214, 402, 402, 359, 362, 363, 391, 370, 93, 374, 375, 517, 384, 391, 391, 391, 391, 391, 391, 394, 394, 2, 402, 405, 408, 546, 408, 408, 3, 418, 418, 419, 419, 419, 419, 419, 129, 864, 419, 419, 424, 424, 426, 427, 388, 427, 427, 427, 427, 427, 427, 427, 427, 634, 475, 430, 238, 663, 439, 258, 441, 441, 442, 444, 391, 268, 89, 455, 455, 455, 455, 455, 455, 740, 459, 460, 460, 460, 460, 470, 473, 296, 474, 475, 475, 475, 475, 475, 475, 475, 437, 486, 487, 489, 662, 491, 491, 662, 491, 497, 499, 499, 499, 499, 746, 506, 509, 511, 850, 2, 265, 524, 636, 528, 530, 530, 530, 531, 900, 746, 541, 541, 541, 183, 545, 545, 558, 644, 548, 548, 98, 563, 565, 565, 567, 861, 224, 579, 539, 590, 590, 591, 427, 591, 592, 592, 592, 726, 597, 601, 228, 610, 569, 610, 994, 614, 614, 614, 614, 614, 614, 614, 265, 1031, 623, 623, 623, 623, 539, 427, 11, 55, 644, 644, 646, 646, 297, 646, 840, 646, 735, 172, 652, 652, 652, 656, 471, 29, 437, 666, 677, 564, 772, 766, 222, 691, 693, 700, 704, 704, 704, 704, 741, 708, 668, 710, 710, 717, 205, 723, 733, 735, 735, 735, 735, 37, 745, 745, 749, 753, 903, 755, 973, 763, 461, 770, 726, 876, 687, 764, 769, 769, 726, 166, 771, 876, 772, 772, 773, 49, 49, 775, 775, 775, 775, 775, 775, 775, 776, 794, 615, 801, 802, 753, 1031, 243, 202, 473, 806, 806, 806, 806, 809, 809, 810, 817, 337, 826, 826, 826, 826, 826, 830, 830, 830, 830, 830, 830, 424, 424, 835, 836, 838, 840, 840, 840, 329, 847, 847, 794, 848, 853, 852, 852, 852, 853, 853, 853, 853, 853, 856, 421, 240, 79, 864, 865, 866, 868, 868, 1026, 876, 605, 888, 890, 605, 896, 698, 896, 896, 896, 896, 896, 896, 896, 896, 902, 127, 904, 918, 919, 933, 935, 935, 936, 937, 937, 937, 937, 937, 940, 948, 948, 1026, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 952, 952, 955, 1026, 957, 958, 1000, 967, 7, 976, 976, 983, 983, 980, 1026, 994, 999, 1010, 1015, 1015, 990, 1024, 1026, 1026, 1026, 382, 1028, 1029, 1029, 1028, 1035]
[2, 5, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 27, 31, 34, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 39, 41, 41, 41, 46, 49, 49, 49, 49, 49, 49, 49, 49, 49, 51, 53, 53, 53, 53, 53, 54, 56, 58, 58, 58, 60, 64, 67, 71, 71, 76, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 81, 81, 83, 89, 90, 91, 91, 91, 91, 91, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 96, 100, 100, 100, 100, 100, 100, 102, 106, 108, 108, 108, 108, 108, 111, 111, 111, 111, 112, 113, 114, 116, 117, 117, 118, 120, 121, 122, 123, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 129, 131, 135, 137, 138, 139, 151, 151, 156, 157, 157, 163, 165, 171, 172, 172, 172, 172, 172, 173, 177, 179, 182, 182, 182, 183, 183, 183, 183, 184, 184, 187, 187, 187, 189, 190, 190, 191, 197, 197, 201, 205, 210, 210, 211, 211, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 218, 220, 220, 223, 224, 225, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 235, 236, 238, 242, 243, 243, 243, 243, 243, 243, 243, 245, 245, 245, 245, 245, 245, 246, 246, 249, 254, 260, 264, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 269, 269, 277, 277, 277, 277, 277, 279, 281, 282, 284, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 291, 293, 293, 293, 298, 298, 300, 301, 301, 301, 309, 309, 309, 318, 318, 318, 318, 320, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 332, 332, 332, 336, 337, 337, 337, 337, 337, 337, 338, 341, 341, 342, 342, 343, 343, 344, 344, 346, 351, 358, 358, 359, 362, 363, 368, 370, 371, 374, 375, 383, 384, 391, 391, 391, 391, 391, 391, 394, 394, 402, 402, 405, 408, 408, 408, 408, 416, 418, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 424, 424, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 434, 437, 439, 441, 441, 441, 443, 444, 445, 446, 446, 455, 455, 455, 455, 455, 455, 457, 459, 460, 460, 460, 460, 470, 473, 473, 474, 475, 475, 475, 475, 475, 475, 475, 477, 486, 488, 489, 491, 491, 491, 491, 491, 497, 499, 499, 499, 499, 504, 506, 509, 510, 517, 524, 524, 524, 526, 528, 530, 530, 530, 531, 534, 541, 541, 541, 541, 545, 545, 545, 545, 546, 548, 548, 562, 563, 565, 565, 567, 576, 577, 579, 583, 590, 590, 591, 591, 591, 592, 592, 592, 594, 597, 601, 606, 610, 610, 610, 611, 614, 614, 614, 614, 614, 614, 614, 614, 614, 623, 623, 623, 623, 625, 626, 631, 635, 644, 644, 646, 646, 646, 646, 646, 646, 649, 651, 652, 652, 652, 656, 660, 662, 665, 666, 678, 686, 686, 687, 689, 691, 693, 700, 704, 704, 704, 704, 704, 708, 709, 710, 710, 717, 722, 723, 732, 735, 735, 735, 735, 741, 745, 745, 749, 753, 753, 755, 757, 763, 764, 764, 764, 764, 766, 769, 769, 769, 769, 770, 771, 771, 772, 772, 773, 775, 775, 775, 775, 775, 775, 775, 775, 775, 776, 780, 794, 801, 802, 803, 803, 804, 805, 805, 806, 806, 806, 806, 809, 809, 810, 817, 819, 826, 826, 826, 826, 826, 830, 830, 830, 830, 830, 830, 830, 830, 835, 836, 838, 840, 840, 840, 846, 847, 847, 848, 848, 852, 852, 852, 852, 853, 853, 853, 853, 853, 856, 861, 861, 864, 864, 865, 866, 868, 868, 871, 876, 883, 888, 890, 894, 896, 896, 896, 896, 896, 896, 896, 896, 896, 896, 902, 903, 904, 918, 919, 933, 935, 935, 936, 937, 937, 937, 937, 937, 940, 948, 948, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 952, 952, 955, 956, 957, 958, 964, 967, 972, 976, 976, 976, 976, 980, 986, 994, 999, 1010, 1015, 1015, 1020, 1024, 1026, 1026, 1026, 1026, 1028, 1029, 1029, 1031, 1035]

In [50]:
correct_num = 0

for i in range(0, len(standard_list)):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

659
0.7609699769053118