<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/medical-concept-normalization/fine-tuning-experiments/askpatient/ask_1_mixed_pubmed_cadec_ask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os

In [2]:
base_dir = 'medical-concept-normalization'

In [3]:
os.mkdir(base_dir)

In [4]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [5]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0curl: (6) Could not resolve host: course-v3.fast.ai

In [6]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [7]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [8]:
path = Path('medical-concept-normalization/data_collection')

In [ ]:
# training data set

train_csv = path/'AskAPatient.fold-1.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [13]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-1.validation.csv",header=None)
valid.head()

   0                                            1
0  0                                         fear
1  2                                   heels hurt
2  4  Discoloration of skin [blotchy] on the neck
3  6                        diastolic dysfunction
4  8                                    arthritis

In [14]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-1.test.csv",header=None)
test.head()

   0                          1
0  2                  heel pain
1  2  right heel became painful
2  8                  Arthritis
3  8                 arthristis
4  8                  arthritis

In [15]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'pubmed_cadec_askpatient_mixed.csv')

In [16]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [17]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [18]:
data_clas.add_test(test,label=0)

In [19]:
data_lm.save()
data_clas.save()

In [ ]:
data_lm.train_ds.vocab.itos

In [21]:
model_path = path/'models'
model_path.mkdir(exist_ok=True)
url = 'http://files.fast.ai/models/wt103_v1/'
download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [22]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

Downloading https://s3.amazonaws.com/fast-ai-modelzoo/wt103-fwd.tgz

In [23]:
learn.fit_one_cycle(1, 1e-2)

In [24]:
learn.fit_one_cycle(1, 1e-2)

In [25]:
learn.fit_one_cycle(1, 1e-3)

In [26]:
learn.fit_one_cycle(1, 1e-3)

In [27]:
learn.save_encoder('pubmed_cadec_askpatient_mixed_fold1_first')

In [28]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('pubmed_cadec_askpatient_mixed_fold1_first')
learn.fit_one_cycle(1, 1e-2)

In [29]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [30]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [31]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [32]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [33]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [34]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [35]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [36]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [37]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [38]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [39]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [40]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [41]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [42]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [43]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [44]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [45]:
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [46]:
# save the best model

learn.save_encoder('pubmed_cadec_askpatient_mixed_fold1')

# Part three: Predict on the test dataset

In [47]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [48]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

867
867
[2, 730, 8, 96, 8, 8, 728, 16, 20, 21, 22, 246, 27, 31, 36, 37, 37, 37, 37, 37, 676, 37, 37, 37, 37, 37, 42, 42, 44, 813, 325, 49, 49, 49, 49, 49, 49, 49, 53, 53, 690, 226, 60, 61, 62, 540, 70, 776, 71, 122, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 260, 80, 878, 80, 80, 80, 80, 491, 289, 88, 89, 75, 92, 92, 92, 94, 94, 94, 94, 94, 736, 94, 94, 94, 94, 96, 849, 97, 98, 100, 100, 100, 100, 766, 100, 100, 572, 301, 337, 775, 301, 103, 103, 105, 107, 107, 108, 108, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 857, 117, 142, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 802, 293, 624, 246, 135, 135, 135, 139, 139, 296, 142, 779, 864, 146, 158, 166, 166, 166, 169, 171, 172, 37, 172, 172, 172, 173, 173, 173, 710, 412, 182, 182, 794, 182, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 184, 848, 848, 848, 848, 189, 189, 190, 190, 190, 193, 193, 197, 877, 200, 202, 205, 205, 205, 37, 896, 214, 214, 214, 214, 214, 214, 214, 218, 207, 220, 223, 223, 226, 227, 228, 228, 228, 228, 610, 228, 228, 228, 228, 228, 228, 228, 228, 234, 236, 236, 239, 239, 241, 57, 243, 243, 243, 245, 245, 245, 245, 245, 246, 246, 246, 246, 245, 262, 254, 289, 262, 264, 265, 265, 313, 265, 37, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 254, 15, 276, 857, 277, 663, 280, 111, 281, 281, 281, 289, 289, 289, 289, 289, 289, 722, 289, 111, 289, 289, 37, 652, 289, 289, 289, 289, 289, 289, 289, 304, 293, 801, 647, 298, 254, 459, 143, 309, 309, 309, 309, 762, 318, 318, 318, 318, 100, 296, 296, 824, 824, 824, 824, 824, 824, 824, 824, 824, 824, 824, 824, 824, 296, 538, 325, 326, 328, 762, 332, 332, 332, 336, 337, 343, 343, 352, 894, 672, 814, 359, 359, 359, 359, 359, 210, 318, 363, 37, 364, 364, 364, 367, 374, 847, 434, 548, 386, 386, 391, 391, 391, 585, 396, 396, 397, 540, 402, 402, 314, 749, 27, 408, 408, 408, 408, 408, 537, 801, 801, 418, 419, 419, 419, 419, 419, 419, 5, 419, 652, 421, 424, 426, 426, 426, 597, 427, 427, 427, 427, 427, 427, 427, 318, 427, 892, 174, 445, 378, 383, 435, 435, 438, 258, 441, 443, 444, 5, 258, 847, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 456, 460, 469, 470, 470, 139, 474, 475, 475, 475, 479, 318, 486, 489, 491, 29, 29, 491, 491, 663, 492, 597, 495, 495, 496, 497, 499, 507, 507, 41, 516, 517, 517, 517, 517, 849, 37, 318, 524, 530, 530, 530, 530, 530, 318, 536, 558, 359, 540, 541, 325, 545, 545, 545, 843, 548, 548, 548, 549, 454, 569, 652, 337, 317, 590, 590, 592, 592, 592, 592, 707, 427, 706, 610, 58, 610, 610, 610, 160, 614, 614, 614, 614, 614, 614, 614, 528, 623, 214, 625, 540, 647, 644, 359, 545, 646, 646, 652, 652, 652, 652, 293, 491, 108, 662, 662, 662, 662, 738, 664, 666, 508, 485, 682, 686, 686, 848, 172, 265, 293, 704, 491, 711, 711, 711, 344, 1024, 714, 714, 715, 717, 728, 735, 741, 741, 745, 541, 746, 455, 746, 752, 753, 645, 769, 771, 772, 127, 775, 775, 775, 572, 775, 775, 775, 775, 783, 787, 582, 99, 799, 803, 806, 808, 809, 527, 810, 517, 647, 826, 5, 826, 150, 830, 830, 830, 857, 830, 834, 427, 840, 348, 847, 847, 847, 849, 853, 857, 715, 363, 748, 683, 289, 873, 706, 647, 676, 877, 877, 877, 443, 443, 878, 556, 889, 862, 862, 902, 896, 896, 896, 896, 896, 896, 897, 904, 904, 910, 919, 919, 923, 155, 927, 928, 930, 973, 933, 936, 936, 937, 937, 937, 937, 937, 937, 937, 937, 937, 937, 997, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 974, 454, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 955, 540, 957, 958, 961, 963, 964, 967, 968, 974, 974, 976, 976, 976, 728, 949, 983, 983, 990, 994, 1006, 1008, 999, 1026, 1028]
[2, 2, 8, 8, 8, 8, 8, 16, 20, 21, 22, 25, 27, 31, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 42, 42, 44, 45, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 59, 60, 61, 62, 65, 70, 71, 71, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 80, 81, 83, 88, 89, 90, 92, 92, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 97, 98, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 103, 103, 105, 107, 107, 108, 108, 111, 111, 111, 111, 111, 111, 111, 111, 111, 111, 114, 117, 120, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 127, 130, 130, 134, 135, 135, 135, 139, 139, 141, 142, 145, 146, 146, 158, 166, 166, 166, 169, 171, 172, 172, 172, 172, 172, 173, 173, 173, 180, 180, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 184, 187, 187, 187, 187, 189, 189, 190, 190, 190, 193, 193, 197, 197, 200, 202, 205, 205, 205, 209, 214, 214, 214, 214, 214, 214, 214, 214, 218, 220, 220, 223, 223, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 236, 236, 239, 239, 241, 243, 243, 243, 243, 245, 245, 245, 245, 245, 246, 246, 246, 246, 247, 251, 254, 260, 262, 264, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 269, 269, 276, 277, 277, 279, 280, 281, 281, 281, 281, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 290, 293, 294, 298, 298, 299, 302, 304, 309, 309, 309, 309, 315, 317, 318, 318, 318, 324, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 328, 330, 332, 332, 332, 336, 337, 343, 343, 352, 352, 355, 357, 359, 359, 359, 359, 359, 360, 360, 363, 364, 364, 364, 364, 367, 374, 374, 376, 384, 386, 386, 391, 391, 391, 394, 396, 396, 397, 400, 402, 402, 402, 403, 407, 408, 408, 408, 408, 408, 410, 415, 415, 418, 419, 419, 419, 419, 419, 419, 419, 419, 419, 421, 424, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 428, 428, 432, 435, 435, 438, 440, 441, 443, 444, 444, 444, 448, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 455, 456, 460, 469, 470, 470, 473, 474, 475, 475, 475, 479, 481, 486, 489, 491, 491, 491, 491, 491, 491, 492, 495, 495, 495, 496, 497, 499, 507, 507, 515, 516, 517, 517, 517, 517, 520, 522, 524, 524, 530, 530, 530, 530, 530, 536, 536, 537, 538, 540, 541, 544, 545, 545, 545, 548, 548, 548, 548, 549, 550, 569, 572, 577, 577, 590, 590, 592, 592, 592, 592, 595, 597, 598, 610, 610, 610, 610, 610, 613, 614, 614, 614, 614, 614, 614, 614, 623, 623, 624, 625, 628, 644, 644, 644, 644, 646, 646, 652, 652, 652, 652, 655, 659, 660, 662, 662, 662, 662, 664, 664, 666, 674, 680, 682, 686, 686, 694, 700, 702, 703, 704, 710, 711, 711, 711, 712, 714, 714, 714, 715, 717, 729, 735, 741, 741, 745, 746, 746, 746, 746, 752, 753, 765, 769, 771, 772, 773, 775, 775, 775, 775, 775, 775, 775, 775, 783, 787, 790, 793, 799, 803, 806, 808, 809, 809, 810, 813, 815, 826, 826, 826, 827, 830, 830, 830, 830, 830, 834, 840, 840, 841, 847, 847, 847, 852, 853, 857, 858, 860, 861, 863, 864, 873, 874, 875, 876, 877, 877, 877, 878, 878, 878, 886, 889, 893, 893, 895, 896, 896, 896, 896, 896, 896, 896, 904, 904, 910, 919, 919, 923, 925, 927, 928, 930, 932, 933, 936, 936, 937, 937, 937, 937, 937, 937, 937, 937, 937, 937, 939, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 950, 952, 952, 955, 955, 957, 958, 961, 963, 964, 967, 968, 974, 974, 976, 976, 976, 980, 983, 983, 983, 984, 994, 1006, 1008, 1023, 1026, 1028]

In [49]:
correct_num = 0

for i in range(0, len(standard_list)):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)

663
0.7647058823529411