<a href="https://colab.research.google.com/github/unt-iialab/medical-concept-normalization/blob/master/medical-concept-normalization/fine-tuning-experiments/askpatient/ask_4_mixed_pubmed_cadec_ask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os

In [ ]:
base_dir = 'medical-concept-normalization'

In [ ]:
os.mkdir(base_dir)

In [ ]:
os.mkdir('medical-concept-normalization/data_collection')

**Install fastai and clone the fastai for text classification**

In [ ]:
!curl https://course-v3.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0curl: (6) Could not resolve host: course-v3.fast.ai

In [ ]:
!git clone https://github.com/wshuyi/demo-nlp-classification-fastai.git

Cloning into 'demo-nlp-classification-fastai'...
remote: Enumerating objects: 9, done.
remote: Total 9 (delta 0), reused 0 (delta 0), pack-reused 9
Unpacking objects: 100% (9/9), done.

In [ ]:
from fastai import *
from fastai.text import *

**Set the path of the data collections**

In [ ]:
path = Path('medical-concept-normalization/data_collection')

In [ ]:
# training data set

train_csv = path/'AskAPatient.fold-4.train.csv'
train = pd.read_csv(train_csv, header=None)
#train.head()
#train.info()

In [ ]:
# validating data set

valid = pd.read_csv(path/"AskAPatient.fold-4.validation.csv",header=None)
valid.head()

   0                      1
0  6  diastolic dysfunction
1  8              ARTHRITIS
2  8              arthritis
3  8              arthritis
4  8              arthritis

In [ ]:
# testing data set

test = pd.read_csv(path/"AskAPatient.fold-4.test.csv",header=None)
test.head()

    0                              1
0   4   purple sploches around waist
1   6  stage 1 diastolic dysfunction
2   8                      arthritis
3  12                       shingles
4  16                            flu

In [ ]:
# Creating DataBunch for language modelling

data_lm = TextLMDataBunch.from_csv(path, 'pubmed_cadec_askpatient_mixed.csv')

In [ ]:
# Creating DataBunch for classification

# data_clas = TextClasDataBunch.from_df(path, train, valid, test, vocab=data_lm.train_ds.vocab, bs=128)

In [ ]:
data_clas = TextClasDataBunch.from_df(path, train, valid, vocab=data_lm.train_ds.vocab, bs=128)

In [ ]:
data_clas.add_test(test,label=0)

In [ ]:
data_lm.save()
data_clas.save()

In [ ]:
data_lm.train_ds.vocab.itos

In [ ]:
# model_path = path/'models'
# model_path.mkdir(exist_ok=True)
# url = 'http://files.fast.ai/models/wt103_v1/'
# download_url(f'{url}lstm_wt103.pth', model_path/'lstm_wt103.pth')
# download_url(f'{url}itos_wt103.pkl', model_path/'itos_wt103.pkl')

In [ ]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [ ]:
learn.fit_one_cycle(1, 1e-2)

In [ ]:
learn.fit_one_cycle(1, 1e-2)

In [ ]:
learn.fit_one_cycle(1, 1e-3)

In [ ]:
learn.fit_one_cycle(1, 1e-3)

In [ ]:
learn.save_encoder('pubmed_cadec_askpatient_mixed_fold4_first')

In [ ]:
learn = text_classifier_learner(data_clas,AWD_LSTM, drop_mult=0.5)
learn.load_encoder('pubmed_cadec_askpatient_mixed_fold4_first')
learn.fit_one_cycle(1, 1e-2)

In [ ]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [ ]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(4, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(2, slice(2e-3/100, 2e-3))

In [ ]:
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [ ]:
# save the best model

learn.save_encoder('pubmed_cadec_askpatient_mixed_fold4')

# Part three: Predict on the test dataset

In [ ]:
# use the test data for prediction

preds, y = learn.get_preds(DatasetType.Test)

In [ ]:
predictions, *_ = learn.get_preds(DatasetType.Test)
labels = np.argmax(predictions, 1)
predict_list = labels.tolist()
standard_list = test[0].tolist()

print(len(predict_list))
print(len(standard_list))

print(predict_list)
print(standard_list)

866
866
[416, 6, 8, 510, 16, 16, 536, 536, 27, 29, 31, 414, 414, 414, 414, 32, 37, 37, 37, 37, 37, 37, 37, 42, 48, 49, 49, 49, 100, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 53, 8, 8, 987, 108, 435, 61, 61, 62, 64, 76, 76, 76, 614, 289, 79, 151, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 89, 91, 91, 92, 92, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 905, 94, 94, 96, 847, 96, 100, 100, 100, 650, 108, 108, 125, 111, 111, 111, 111, 111, 111, 129, 113, 116, 548, 120, 122, 122, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 129, 131, 139, 140, 143, 787, 157, 160, 882, 882, 166, 166, 405, 172, 172, 172, 172, 172, 172, 172, 626, 178, 182, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 186, 187, 187, 188, 189, 189, 771, 289, 190, 190, 190, 190, 604, 289, 197, 197, 205, 206, 207, 208, 210, 214, 299, 214, 214, 214, 214, 102, 214, 214, 214, 214, 214, 245, 216, 218, 220, 220, 37, 226, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 234, 235, 235, 236, 236, 236, 243, 243, 125, 243, 243, 243, 280, 876, 245, 245, 245, 245, 245, 245, 245, 245, 485, 254, 265, 265, 265, 265, 265, 265, 265, 265, 701, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 309, 86, 270, 271, 317, 276, 280, 280, 717, 451, 286, 852, 360, 289, 289, 260, 265, 289, 289, 289, 289, 289, 289, 30, 289, 289, 289, 289, 289, 289, 289, 289, 852, 300, 300, 775, 301, 337, 100, 100, 309, 309, 309, 309, 839, 318, 245, 321, 125, 323, 323, 325, 325, 325, 987, 987, 987, 987, 987, 987, 292, 705, 325, 325, 326, 326, 332, 332, 106, 336, 337, 100, 337, 532, 768, 339, 342, 129, 343, 343, 343, 129, 890, 623, 245, 723, 784, 359, 359, 794, 360, 362, 214, 1026, 245, 794, 481, 226, 638, 438, 391, 391, 402, 396, 401, 402, 402, 402, 737, 499, 408, 408, 501, 418, 419, 419, 419, 419, 419, 420, 424, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 430, 431, 434, 434, 435, 441, 258, 441, 441, 446, 455, 455, 455, 455, 459, 460, 604, 470, 182, 471, 419, 510, 474, 780, 475, 489, 491, 491, 746, 491, 491, 491, 491, 491, 491, 491, 750, 82, 491, 492, 499, 495, 829, 66, 111, 510, 516, 852, 517, 648, 517, 519, 521, 522, 261, 530, 530, 530, 530, 27, 536, 537, 99, 297, 541, 541, 545, 545, 546, 546, 546, 548, 548, 548, 427, 557, 559, 565, 70, 721, 172, 356, 775, 236, 218, 579, 579, 583, 414, 325, 325, 325, 592, 592, 97, 594, 796, 785, 597, 597, 604, 405, 610, 771, 426, 614, 614, 614, 614, 852, 852, 619, 619, 623, 623, 623, 623, 623, 624, 852, 627, 441, 716, 638, 644, 644, 532, 644, 646, 646, 646, 646, 646, 646, 646, 646, 646, 648, 652, 652, 652, 652, 652, 44, 658, 658, 662, 662, 861, 666, 666, 671, 677, 677, 686, 693, 696, 701, 708, 427, 711, 711, 714, 715, 716, 716, 771, 594, 245, 741, 741, 717, 482, 746, 749, 753, 758, 245, 769, 715, 774, 775, 775, 777, 778, 787, 402, 794, 794, 111, 415, 99, 847, 809, 809, 859, 607, 809, 809, 809, 810, 309, 816, 817, 817, 824, 825, 826, 826, 826, 826, 826, 122, 1026, 830, 830, 831, 261, 838, 840, 840, 368, 88, 841, 841, 844, 846, 847, 847, 531, 847, 848, 672, 850, 831, 852, 853, 853, 853, 853, 853, 853, 853, 853, 853, 1026, 853, 128, 301, 337, 864, 864, 864, 865, 867, 876, 876, 877, 877, 878, 882, 890, 893, 896, 896, 896, 577, 896, 896, 896, 904, 904, 904, 904, 698, 94, 1026, 919, 919, 831, 921, 213, 937, 937, 937, 937, 942, 945, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 125, 952, 952, 1026, 955, 961, 964, 137, 137, 967, 968, 1026, 925, 983, 998, 999, 1001, 1001, 1001, 1007, 1015, 1015, 1026, 1017, 1018, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1028, 1029, 1031, 1033, 1035]
[4, 6, 8, 12, 16, 16, 27, 27, 27, 29, 31, 31, 31, 31, 31, 32, 37, 37, 37, 37, 37, 37, 37, 42, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 53, 53, 53, 53, 59, 60, 61, 61, 62, 64, 76, 76, 76, 76, 76, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 89, 91, 91, 92, 92, 92, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 96, 96, 96, 100, 100, 100, 107, 108, 108, 108, 111, 111, 111, 111, 111, 111, 111, 113, 116, 119, 120, 122, 122, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 125, 129, 131, 139, 140, 143, 147, 157, 160, 165, 165, 166, 166, 168, 172, 172, 172, 172, 172, 172, 172, 175, 178, 182, 182, 182, 182, 182, 182, 182, 182, 183, 183, 183, 183, 183, 183, 183, 183, 183, 183, 186, 187, 187, 188, 189, 189, 190, 190, 190, 190, 190, 190, 190, 195, 197, 197, 205, 206, 207, 208, 210, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 214, 216, 216, 218, 220, 220, 223, 226, 226, 227, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 228, 234, 234, 235, 235, 236, 236, 236, 243, 243, 243, 243, 243, 243, 243, 245, 245, 245, 245, 245, 245, 245, 245, 245, 246, 254, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 265, 268, 270, 271, 274, 276, 280, 280, 281, 285, 286, 287, 288, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 289, 298, 300, 300, 301, 301, 301, 301, 301, 309, 309, 309, 309, 312, 318, 318, 321, 323, 323, 323, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 325, 326, 326, 332, 332, 335, 336, 337, 337, 337, 338, 338, 339, 342, 343, 343, 343, 343, 343, 343, 348, 350, 359, 359, 359, 359, 359, 360, 362, 363, 364, 366, 368, 372, 382, 385, 390, 391, 391, 393, 396, 401, 402, 402, 402, 402, 408, 408, 408, 409, 418, 419, 419, 419, 419, 419, 420, 424, 426, 426, 426, 426, 427, 427, 427, 427, 427, 427, 427, 427, 427, 427, 430, 430, 431, 434, 434, 435, 441, 441, 441, 441, 446, 455, 455, 455, 455, 459, 460, 463, 470, 470, 471, 471, 472, 474, 475, 475, 489, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 491, 492, 495, 495, 508, 509, 510, 511, 516, 516, 517, 517, 517, 518, 521, 522, 529, 530, 530, 530, 530, 536, 536, 537, 540, 540, 541, 541, 545, 545, 546, 546, 546, 548, 548, 548, 556, 557, 559, 565, 567, 568, 570, 570, 573, 574, 577, 579, 579, 583, 584, 590, 590, 590, 592, 592, 594, 594, 596, 597, 597, 597, 604, 610, 610, 614, 614, 614, 614, 614, 614, 616, 616, 619, 619, 623, 623, 623, 623, 623, 624, 626, 627, 633, 639, 640, 644, 644, 644, 644, 646, 646, 646, 646, 646, 646, 646, 646, 646, 648, 652, 652, 652, 652, 652, 655, 658, 658, 662, 662, 664, 666, 666, 671, 676, 684, 686, 693, 696, 702, 708, 711, 711, 711, 714, 715, 715, 715, 723, 724, 728, 741, 741, 742, 744, 746, 749, 753, 758, 765, 769, 772, 774, 775, 775, 777, 778, 787, 789, 794, 794, 797, 801, 803, 808, 809, 809, 809, 809, 809, 809, 809, 810, 811, 816, 817, 817, 824, 825, 826, 826, 826, 826, 826, 830, 830, 830, 830, 831, 832, 838, 840, 840, 840, 841, 841, 841, 844, 846, 847, 847, 847, 847, 848, 849, 850, 852, 852, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 853, 854, 860, 860, 864, 864, 864, 865, 867, 876, 876, 877, 877, 878, 882, 890, 893, 896, 896, 896, 896, 896, 896, 897, 904, 904, 904, 904, 910, 911, 918, 919, 919, 919, 921, 924, 937, 937, 937, 937, 942, 945, 948, 948, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 949, 950, 950, 950, 951, 952, 952, 954, 955, 961, 964, 967, 967, 967, 968, 969, 977, 996, 998, 999, 1001, 1001, 1001, 1007, 1015, 1015, 1016, 1017, 1018, 1025, 1026, 1026, 1026, 1026, 1026, 1026, 1028, 1029, 1031, 1033, 1035]

In [ ]:
correct_num = 0

for i in range(0, len(standard_list)):
  if predict_list[i] == standard_list[i]:
    correct_num = correct_num+1
  else:
    pass
print(correct_num)

predict_accuracy = correct_num/len(predict_list)
print(predict_accuracy)